<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" v-model:visible="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter="save">
            <el-form-item :label="$t('cat')" prop="cat">
                <el-input v-model="formdata.cat" :placeholder="$t('validate.cat')" />
            </el-form-item>
            <el-form-item :label="$t('createTime')" prop="createTime">
                <el-input v-model="formdata.createTime" :placeholder="$t('validate.createTime')" />
            </el-form-item>
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input v-model="formdata.sortOrder" :placeholder="$t('validate.sortOrder')" />
            </el-form-item>
            <el-form-item :label="$t('sysUserId')" prop="sysUserId">
                <el-input v-model="formdata.sysUserId" :placeholder="$t('validate.sysUserId')" />
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
                <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
            </div>
        </template>
    </el-dialog>
</template>

<script>
import sysFolderApi from '@/api/SysFolderApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                cat: '',
                createTime: '',
                name: '',
                sortOrder: '',
                sysUserId: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                createTime: [
                    {
                        required: true,
                        message: this.$t('validate.createTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sysUserId: [
                    {
                        required: true,
                        message: this.$t('validate.sysUserId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    cat: '',
                    createTime: '',
                    name: '',
                    sortOrder: '',
                    sysUserId: '',
                });
            } else {
                sysFolderApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cat: data.obj.cat,
                            createTime: data.obj.createTime,
                            name: data.obj.name,
                            sortOrder: data.obj.sortOrder,
                            sysUserId: data.obj.sysUserId,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cat = obj.cat;
            this.formdata.createTime = obj.createTime;
            this.formdata.name = obj.name;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.sysUserId = obj.sysUserId;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        sysFolderApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        sysFolderApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
