<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter="save">
            <el-form-item :label="$t('errTimes')" prop="errTimes">
                <el-input v-model="formdata.errTimes" :placeholder="$t('validate.errTimes')" />
            </el-form-item>
            <el-form-item :label="$t('firstErrTime')" prop="firstErrTime">
                <el-input v-model="formdata.firstErrTime" :placeholder="$t('validate.firstErrTime')" />
            </el-form-item>
            <el-form-item :label="$t('lastIp')" prop="lastIp">
                <el-input v-model="formdata.lastIp" :placeholder="$t('validate.lastIp')" />
            </el-form-item>
            <el-form-item :label="$t('lastTime')" prop="lastTime">
                <el-input v-model="formdata.lastTime" :placeholder="$t('validate.lastTime')" />
            </el-form-item>
            <el-form-item :label="$t('lockTime')" prop="lockTime">
                <el-input v-model="formdata.lockTime" :placeholder="$t('validate.lockTime')" />
            </el-form-item>
            <el-form-item :label="$t('loginIp')" prop="loginIp">
                <el-input v-model="formdata.loginIp" :placeholder="$t('validate.loginIp')" />
            </el-form-item>
            <el-form-item :label="$t('loginTime')" prop="loginTime">
                <el-input v-model="formdata.loginTime" :placeholder="$t('validate.loginTime')" />
            </el-form-item>
            <el-form-item :label="$t('regIp')" prop="regIp">
                <el-input v-model="formdata.regIp" :placeholder="$t('validate.regIp')" />
            </el-form-item>
            <el-form-item :label="$t('regTime')" prop="regTime">
                <el-input v-model="formdata.regTime" :placeholder="$t('validate.regTime')" />
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
                <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
            </div>
        </template>
    </el-dialog>
</template>

<script>
import sysUserLogApi from '@/api/SysUserLogApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                errTimes: '',
                firstErrTime: '',
                lastIp: '',
                lastTime: '',
                lockTime: '',
                loginIp: '',
                loginTime: '',
                regIp: '',
                regTime: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                errTimes: [
                    {
                        required: true,
                        message: this.$t('validate.errTimes'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                firstErrTime: [
                    {
                        required: true,
                        message: this.$t('validate.firstErrTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                lastIp: [
                    {
                        required: true,
                        message: this.$t('validate.lastIp'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                lastTime: [
                    {
                        required: true,
                        message: this.$t('validate.lastTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                lockTime: [
                    {
                        required: true,
                        message: this.$t('validate.lockTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                loginIp: [
                    {
                        required: true,
                        message: this.$t('validate.loginIp'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                loginTime: [
                    {
                        required: true,
                        message: this.$t('validate.loginTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                regIp: [
                    {
                        required: true,
                        message: this.$t('validate.regIp'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                regTime: [
                    {
                        required: true,
                        message: this.$t('validate.regTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    errTimes: '',
                    firstErrTime: '',
                    lastIp: '',
                    lastTime: '',
                    lockTime: '',
                    loginIp: '',
                    loginTime: '',
                    regIp: '',
                    regTime: '',
                });
            } else {
                sysUserLogApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            errTimes: data.obj.errTimes,
                            firstErrTime: data.obj.firstErrTime,
                            lastIp: data.obj.lastIp,
                            lastTime: data.obj.lastTime,
                            lockTime: data.obj.lockTime,
                            loginIp: data.obj.loginIp,
                            loginTime: data.obj.loginTime,
                            regIp: data.obj.regIp,
                            regTime: data.obj.regTime,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.errTimes = obj.errTimes;
            this.formdata.firstErrTime = obj.firstErrTime;
            this.formdata.lastIp = obj.lastIp;
            this.formdata.lastTime = obj.lastTime;
            this.formdata.lockTime = obj.lockTime;
            this.formdata.loginIp = obj.loginIp;
            this.formdata.loginTime = obj.loginTime;
            this.formdata.regIp = obj.regIp;
            this.formdata.regTime = obj.regTime;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        sysUserLogApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        sysUserLogApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
