<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('createTime')" prop="createTime">
                <el-input v-model="formdata.createTime" :placeholder="$t('validate.createTime')" />
            </el-form-item>
            <el-form-item :label="$t('platform')" prop="platform">
                <el-input v-model="formdata.platform" :placeholder="$t('validate.platform')" />
            </el-form-item>
            <el-form-item :label="$t('remark')" prop="remark">
                <el-input v-model="formdata.remark" :placeholder="$t('validate.remark')" />
            </el-form-item>
            <el-form-item :label="$t('upgradeTime')" prop="upgradeTime">
                <el-input v-model="formdata.upgradeTime" :placeholder="$t('validate.upgradeTime')" />
            </el-form-item>
            <el-form-item :label="$t('ver')" prop="ver">
                <el-input v-model="formdata.ver" :placeholder="$t('validate.ver')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import upgradeApi from '@/api/UpgradeApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                createTime: '',
                platform: '',
                remark: '',
                upgradeTime: '',
                ver: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                createTime: [
                    {
                        required: true,
                        message: this.$t('validate.createTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                platform: [
                    {
                        required: true,
                        message: this.$t('validate.platform'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                remark: [
                    {
                        required: true,
                        message: this.$t('validate.remark'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                upgradeTime: [
                    {
                        required: true,
                        message: this.$t('validate.upgradeTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                ver: [
                    {
                        required: true,
                        message: this.$t('validate.ver'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    createTime: '',
                    platform: '',
                    remark: '',
                    upgradeTime: '',
                    ver: '',
                });
            } else {
                upgradeApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            createTime: data.obj.createTime,
                            platform: data.obj.platform,
                            remark: data.obj.remark,
                            upgradeTime: data.obj.upgradeTime,
                            ver: data.obj.ver,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.createTime = obj.createTime;
            this.formdata.platform = obj.platform;
            this.formdata.remark = obj.remark;
            this.formdata.upgradeTime = obj.upgradeTime;
            this.formdata.ver = obj.ver;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        upgradeApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        upgradeApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
