<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('code')" prop="code">
            <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
        </el-form-item>
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
        </el-form-item>
        <el-form-item :label="$t('step')" prop="step">
            <el-input v-model="formdata.step" :placeholder="$t('validate.step')" />
        </el-form-item>
        <el-form-item :label="$t('val')" prop="val">
            <el-input v-model="formdata.val" :placeholder="$t('validate.val')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import tableIdApi from "@/api/TableIdApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                code: '',
                name: '',
                step: '',
                val: '',
            }
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                step: [{
                        required: true,
                        message: this.$t("validate.step"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                val: [{
                        required: true,
                        message: this.$t("validate.val"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    code: '',
                    name: '',
                    step: '',
                    val: '',
                })
            } else {
                tableIdApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            code: data.obj.code,
                            name: data.obj.name,
                            step: data.obj.step,
                            val: data.obj.val,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.code = obj.code;
            this.formdata.name = obj.name;
            this.formdata.step = obj.step;
            this.formdata.val = obj.val;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        tableIdApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        tableIdApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
