<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
            </el-form-item>
            <el-form-item :label="$t('exchange')" prop="exchange">
                <el-select v-model="formdata.exchange" :placeholder="$t('validate.exchange')" :clearable="true" class="filter-item" style="width:200px">
                    <el-option v-for="item in secExchanges" :key="item.name" :label="item.name" :value="item.name" />
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('bgcolor')" prop="bgcolor">
                <el-color-picker v-model="formdata.bgcolor" />
            </el-form-item>
            <el-form-item :label="$t('forecolor')" prop="forecolor">
                <el-color-picker v-model="formdata.forecolor" />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input-number v-model="formdata.sortOrder" :min="0" :max="1000" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import secCatApi from '@/api/SecCatApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                bgcolor: '#FFFFFF',
                cat: '',
                code: '',
                exchange: '',
                forecolor: '#000000',
                sortOrder: 999,
            },
        };
    },
    created() {
        this.$store.dispatch('secExchange');
    },
    computed: {
        ...mapGetters(['secExchanges']),
        rules() {
            return {
                bgcolor: [
                    {
                        required: true,
                        message: this.$t('validate.bgcolor'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                exchange: [
                    {
                        required: true,
                        message: this.$t('validate.exchange'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                forecolor: [
                    {
                        required: true,
                        message: this.$t('validate.forecolor'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    bgcolor: '#FFFFFF',
                    cat: '',
                    code: '',
                    exchange: '',
                    forecolor: '#000000',
                    sortOrder: 999,
                });
            } else {
                secCatApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            bgcolor: data.obj.bgcolor,
                            cat: data.obj.cat,
                            code: data.obj.code,
                            exchange: data.obj.exchange,
                            forecolor: data.obj.forecolor,
                            sortOrder: data.obj.sortOrder,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.bgcolor = obj.bgcolor;
            this.formdata.cat = obj.cat;
            this.formdata.code = obj.code;
            this.formdata.exchange = obj.exchange;
            this.formdata.forecolor = obj.forecolor;
            this.formdata.sortOrder = obj.sortOrder;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        secCatApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        secCatApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
