<template>
<el-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('name')" prop="name">
                    <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('code')" prop="code">
                    <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('cat')" prop="cat">
                    <el-select v-model="formdata.cat" :placeholder="$t('validate.cat')" clearable>
                        <el-option v-for="item in menuCats" :key="item.code" :label="item.name" :value="item.code" />
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('redirect')" prop="redirect">
                    <el-input v-model="formdata.redirect" :placeholder="$t('validate.redirect')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('url')" prop="url">
                    <el-input v-model="formdata.url" :placeholder="$t('validate.url')" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('isLeaf')" prop="isLeaf">
                    <el-switch active-text="" inactive-text="" v-model="formdata.isLeaf"></el-switch>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('isShow')" prop="isShow">
                    <el-switch active-text="" inactive-text="" v-model="formdata.isShow"></el-switch>
                </el-form-item>
            </el-col>
        </el-row>
        <el-form-item :label="$t('icon')" prop="icon">
            <el-select v-model="formdata.icon" filterable remote reserve-keyword :placeholder="$t('validate.icon')" :remote-method="remoteIcon" :loading="loading">
                <el-option v-for="item in iconList" :key="item.code" :label="item.code" :value="item.code">
                    <span style="float: left">{{ item.name }}</span>
                    <span style="float: right; " :class="'iconfont icon-'+item.code"></span>
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('parentName')" prop="parentName">
            <el-popover placement="bottom-start" v-model="parentListVisible" ref="parentListPopover" trigger="click">
                <div class="div-tree">
                    <el-tree :data="parentList" :props="parentListTreeProps" node-key="id" ref="parentListTree" @current-change="parentListTreeCurrentChangeHandle" :default-expand-all="false" :highlight-current="true" :expand-on-click-node="false"></el-tree>
                </div>
            </el-popover>
            <el-input v-model="formdata.parentName" v-popover:parentListPopover :readonly="true"></el-input>
        </el-form-item>
        <el-form-item :label="$t('authCode')" prop="authCode">
            <el-select v-model="formdata.authCode" multiple filterable remote reserve-keyword :placeholder="$t('validate.authCode')" :remote-method="remoteAuth" :loading="loading">
                <el-option v-for="item in list" :key="item.code" :label="item.code" :value="item.code">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('sortOrder')" prop="sortOrder">
            <el-input-number v-model="formdata.sortOrder" :min="0" :max="1000" />
        </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import sysMenuApi from "@/api/SysMenuApi";
import sysAuthApi from "@/api/SysAuthApi";
import iconApi from "@/api/IconApi";
import edit from '@/utils/mixins/Edit';
import _ from 'lodash';
import {
    TreeDataTranslate
} from "@/utils/TreeTool";
import {
    mapGetters
} from "vuex";
export default {

    mixins: [edit],
    data() {
        return {
            loading: false,
            parentListVisible: false,
            parentList: [],
            parentListTreeProps: {
                label: 'name',
                children: 'children'
            },
            list: [],
            iconList: [],
            formdata: {
                id: null,
                authCode: [],
                cat: '',
                code: '',
                icon: '',
                isLeaf: true,
                isShow: true,
                name: '',
                parentName: '',
                parentId: 0,
                redirect: '',
                sortOrder: 999,
                url: '',
            }
        };
    },
    created() {
        this.$store.dispatch('menuCat');
    },
    computed: {
        ...mapGetters(['menuCats']),
        rules() {
            return {
                cat: [{
                        required: true,
                        message: this.$t("validate.cat"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                icon: [{
                        message: this.$t("validate.icon"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                parentName: [{
                    required: true,
                    message: this.$t('validate.parentName'),
                    trigger: 'blur'
                }],
                redirect: [{
                        message: this.$t("validate.redirect"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                url: [{
                        message: this.$t("validate.url"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            sysMenuApi.findAll().then(({
                data
            }) => {
                if (data.flag) {
                    if (data.obj) {
                        this.parentList = TreeDataTranslate(data.obj);
                    } else {
                        this.parentList = [];
                    }
                    this.parentList = [{
                        id: 0,
                        name: '无',
                        children: this.parentList
                    }];
                }  
            }).catch(error => {});
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: null,
                    authCode: [],
                    cat: '',
                    code: '',
                    icon: '',
                    isLeaf: true,
                    isShow: true,
                    name: '',
                    parentName: '',
                    parentId: 0,
                    redirect: '',
                    sortOrder: 999,
                    url: '',
                })
            } else {
                sysMenuApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            authCode: data.obj.authCode && data.obj.authCode.split(',') || [],
                            cat: data.obj.cat,
                            code: data.obj.code,
                            icon: data.obj.icon,
                            isLeaf: data.obj.isLeaf == 'T',
                            isShow: data.obj.isShow == 'T',
                            name: data.obj.name,
                            parentId: data.obj.parentId || 0,
                            parentName: '',
                            redirect: data.obj.redirect,
                            sortOrder: data.obj.sortOrder,
                            url: data.obj.url,
                        });

                    }  
                });
            }
        },
        parentListTreeCurrentChangeHandle(data, node) {
            this.formdata.parentId = data.id;
            this.formdata.parentName = data.name;
            this.parentListVisible = false;

        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.authCode = obj.authCode;
            this.formdata.cat = obj.cat;
            this.formdata.code = obj.code;
            this.formdata.icon = obj.icon;
            this.formdata.isLeaf = obj.isLeaf;
            this.formdata.isShow = obj.isShow;
            this.formdata.name = obj.name;
            this.formdata.parentId = obj.parentId;
            this.formdata.parentName = obj.parentName;
            this.formdata.redirect = obj.redirect;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.url = obj.url;
            this.$nextTick(() => {
                this.$refs.parentListTree.setCurrentKey(this.formdata.parentId);
                this.formdata.parentName = (this.$refs.parentListTree.getCurrentNode() || {
                    'name': '无'
                })['name'];
            });
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    let data = _.cloneDeep(this.formdata);
                    data.authCode = this.formdata.authCode.join(',');
                    data.isShow = data.isShow ? "T" : "F";
                    data.isLeaf = data.isLeaf ? "T" : "F";
                    if (this.editFlag) {
                        sysMenuApi.update(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }  
                        });
                    } else {
                        sysMenuApi.save(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }  
                        });
                    }
                }
            });
        },
        remoteAuth(query) {
            if (query !== '') {
                let data = {
                    pn: 1,
                    rn: 10,
                    sort: 'id',
                    order: 'asc',
                    code: query
                };
                this.loading = true;
                sysAuthApi.list(data).then(({
                    data
                }) => {
                    if (data.flag) {
                        if (data.obj) {
                            this.list = data.obj.list;
                        } else {
                            this.list = [];
                        }
                    }  
                    this.loading = false;
                });
            }

        },
        remoteIcon(query) {
            if (query !== '') {
                let data = {
                    pn: 1,
                    rn: 10,
                    sort: 'id',
                    order: 'asc',
                    name: query
                };
                this.loading = true;
                iconApi.list(data).then(({
                    data
                }) => {
                    if (data.flag) {
                        if (data.obj) {
                            this.iconList = data.obj.list;
                        } else {
                            this.iconList = [];
                        }
                    }  
                    this.loading = false;
                });
            }

        }
    }
};
</script>
