<template>
    <div class="app-container">
        <el-card>
            <el-form ref="dataForm" :model="imitatePosition" :rules="imitatePositionRules" label-position="left" label-width="100px" style="width:90%;margin-left:50px;">
                <el-row>
                    <el-col :span="12">
                        <el-form-item :label="$t('name')" prop="name">
                            <el-input v-model="imitatePosition.name" :placeholder="$t('validate.name')" style="width:220px"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item :label="$t('balance')" prop="balance">
                            <el-input-number v-model="imitatePosition.balance" style="width:220px" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item :label="$t('occDate')" prop="occDate">
                            <el-date-picker v-model="imitatePosition.occDate" class="filter-item" type="date" :placeholder="$t('occDate')" format="yyyy-MM-dd " value-format="yyyy-MM-dd"></el-date-picker>
                            <el-button type="primary" @click="loadPosition">载入持仓</el-button>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item :label="$t('endDate')" prop="endDate">
                            <el-date-picker v-model="imitatePosition.endDate" class="filter-item" type="date" :placeholder="$t('endDate')" format="yyyy-MM-dd " value-format="yyyy-MM-dd"></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
        <el-card style="margin-top:5px;">
            <div slot="header" class="clearfix">
                <span>持仓明细</span>
            </div>
            <el-table :data="propTableData.col" highlight-current-row border>
                <el-table-column label="No." type="index" align="center" width="50"></el-table-column>
                <el-table-column :label="$t('name')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-input size="mini" v-model="scope.row.name"></el-input>
                        </span>
                        <span v-else>{{ scope.row.name }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('code')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-input size="mini" v-model="scope.row.code"></el-input>
                        </span>
                        <span v-else>{{ scope.row.code }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('contract')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-input size="mini" v-model="scope.row.contract"></el-input>
                        </span>
                        <span v-else>{{ scope.row.contract }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('currency')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-input size="mini" v-model="scope.row.currency"></el-input>
                        </span>
                        <span v-else>{{ scope.row.currency }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('cat')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-select size="mini" v-model="scope.row.cat" :placeholder="$t('cat')">
                                <el-option v-for="item in secCats" :key="item.name" :label="item.name" :value="item.name"></el-option>
                            </el-select>
                        </span>
                        <span v-else>{{ scope.row.cat }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('exchange')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-select size="mini" v-model="scope.row.exchange" :placeholder="$t('exchange')">
                                <el-option v-for="item in secExchanges" :key="item.name" :label="item.name" :value="item.name"></el-option>
                            </el-select>
                        </span>
                        <span v-else>{{ scope.row.exchange }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('num')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-input-number size="mini" :min="0" v-model="scope.row.num" :placeholder="$t('validate.num')"></el-input-number>
                        </span>
                        <span v-else>{{ scope.row.num }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('netValue')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-input-number size="mini" :min="0" v-model="scope.row.netValue" :placeholder="$t('validate.netValue')"></el-input-number>
                        </span>
                        <span v-else>{{ scope.row.netValue }}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('defer')">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isSet">
                            <el-checkbox size="mini" v-model="scope.row.defer" true-label="T" false-label="F"></el-checkbox>
                        </span>
                        <span v-else>{{ scope.row.defer }}</span>
                    </template>
                </el-table-column>
                <el-table-column align="center" width="170px">
                    <template slot="header" slot-scope="scope">
                        <el-button v-model="handleAdd" size="mini" type="success" round plain @click="handleAdd(scope.$index, scope.row)">{{ $t('add') }}</el-button>
                    </template>
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" round plain v-if="!scope.row.isSet" @click="valChange(scope.row, scope.$index, true)">{{ $t('edit') }}</el-button>
                        <el-button size="mini" type="primary" round plain v-else @click="valChange(scope.row, scope.$index, true)">{{ $t('save') }}</el-button>
                        <el-button size="mini" type="danger" round plain v-if="!scope.row.isSet" @click="handleDelete(scope.$index, scope.row)">{{ $t('del') }}</el-button>
                        <el-button size="mini" type="danger" round plain v-else @click="valChange(scope.row, scope.$index, false)">{{ $t('cancel') }}</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-row style="margin-top:10px">
            <el-col :span="24" style="text-align:center">
                <el-button v-waves @click="closeTag">{{ $t('cancel') }}</el-button>
                <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import secPositionApi from '@/api/SecPositionApi';
import imitatePositionApi from '@/api/ImitatePositionApi';
import edit from '@/utils/mixins/Edit';
import formatDate from '@/utils/Date';
import _ from 'lodash';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            propTableData: {
                sel: null, // 选中行
                col: [],
            },
            imitatePosition: {
                id: '',
                name: '',
                balance: '',
                occDate: '',
                endDate: '',
                positionValue: 0,
            },
        };
    },
    created() {
        this.$store.dispatch('secExchange');
        this.$store.dispatch('secCat');
    },
    computed: {
        ...mapGetters(['secExchanges', 'secCats']),

        imitatePositionRules() {
            return {
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 150,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                balance: [
                    {
                        required: true,
                        message: this.$t('validate.balance'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],

                occDate: [
                    {
                        required: true,
                        message: this.$t('validate.occDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endDate: [
                    {
                        required: true,
                        message: this.$t('validate.endDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        loadPosition() {
            if (this.imitatePosition.occDate == '') {
                return this.Message('请选择日期', 'warning');
            }
            secPositionApi.findPosition(this.imitatePosition.occDate).then(({ data }) => {
                if (data.flag) {
                    let obj = data.obj || [];
                    console.log(obj);
                    obj = obj.map((i) => {
                        i.isSet = false;
                        i.defer = 'F';
                        return i;
                    });
                    console.log(obj);
                    this.propTableData.col = obj;
                }
            });
        },
        // 添加
        handleAdd() {
            for (let i of this.propTableData.col) {
                if (i.isSet) {
                    return this.Message('请保存', 'warning');
                }
            }
            let row = {
                code: '',
                name: '',
                cat: '',
                exchange: '',
                contact: '',
                num: 0,
                netValue: 0,
                id: '',
                isSet: true,
                defer: 'T',
            };
            this.propTableData.col.push(row);
            this.propTableData.sel = row;
        },
        //修改
        valChange(row, index, qx) {
            for (let i of this.propTableData.col) {
                if (i.isSet && i.id != row.id) {
                    return false;
                }
            }
            //是否是取消操作
            if (!qx) {
                if (!this.propTableData.sel.id) {
                    this.propTableData.col.splice(index, 1);
                }
                return (row.isSet = !row.isSet);
            }
            //提交数据
            if (row.isSet) {
                const v = this.propTableData.sel;
                // 必填项判断

                if (v.code == '' || v.name == '' || v.cat == '' || v.exchange == '' || v.num <= 0 || v.netValue <= 0) {
                    this.Message('请选输入', 'warning');
                } else {
                    this.$emit('confirm', this.propTableData.sel);
                    row.isSet = false;
                }
            } else {
                this.propTableData.sel = row;
                row.isSet = true;
            }
        },
        // 删除
        handleDelete(index, row) {
            this.$emit('delete', row.id);
        },
        beforeClose() {
            this.$emit('cancel');
        },
        Message(msg, type) {
            this.$message({
                type: type ? type : 'info',
                message: msg,
            });
        },

        closeTag() {
            let view = this.$route;
            this.$store.dispatch('delView', view).then(({ visitedViews }) => {
                const latestView = visitedViews.slice(-1)[0];
                if (latestView) {
                    let ret = {
                        query: {
                            t: new Date().getTime(),
                        },
                    };
                    ret.path = latestView.path;
                    this.$router.push(ret);
                } else {
                    this.$router.push({
                        path: '/',
                        query: {
                            t: new Date().getTime(),
                        },
                    });
                }
            });
        },

        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.propTableData.col.length == 0) {
                        this.Message('必须有要指标条件', 'warning');
                    }
                    for (let i of this.propTableData.col) {
                        if (i.isSet) {
                            this.Message('请保存条目', 'warning');
                            return false;
                        }
                    }
                    let data = {};
                    let sum = this.propTableData.col.reduce(function(prev, cur) {
                        return cur.netValue + prev;
                    }, 0);
                    this.imitatePosition.positionValue = sum;
                    data.imitatePosition = this.imitatePosition;
                    data.imitatePositionItems = this.propTableData.col;

                    imitatePositionApi.save(data).then(({ data }) => {
                        if (data.flag) {
                            this.closeTag();
                        }
                    });
                }
            });
        },
    },
};
</script>
