<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-date-picker v-model="listQuery.occDate" class="filter-item" type="date" :placeholder="$t('occDate')" format="yyyy-MM-dd " value-format="yyyy-MM-dd"></el-date-picker>
            <el-date-picker v-model="listQuery.endDate" class="filter-item" type="date" :placeholder="$t('endDate')" format="yyyy-MM-dd " value-format="yyyy-MM-dd" v-show="queryType == 'adv'"></el-date-picker>
            <el-select v-model="listQuery.sta" :placeholder="$t('sta')" :clearable="true" class="filter-item" style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in imitateStas" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('imitatePosition:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange">
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('name')" prop="name" align="center" min-width="200" />
            <el-table-column :label="$t('occDate')" prop="occDate" align="center" width="100">
                <template slot-scope="scope">{{ scope.row.occDate | shortDateFormatter }}</template>
            </el-table-column>
            <el-table-column :label="$t('endDate')" prop="endDate" align="center" width="100">
                <template slot-scope="scope">{{ scope.row.endDate | shortDateFormatter }}</template>
            </el-table-column>
            <el-table-column :label="$t('balance')" prop="balance" align="center" width="200" />
            <el-table-column :label="$t('positionValue')" prop="positionValue" align="center" width="200" />
            <el-table-column :label="$t('endPositionValue')" prop="endPositionValue" align="center" width="200" />
            <el-table-column :label="$t('sta')" prop="sta" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('imitatePosition:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('imitatePosition:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    </div>
</template>

<script>
import imitatePositionApi from '@/api/ImitatePositionApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import { mapGetters } from 'vuex';
export default {
    name: 'imitatePosition',
    components: {
        Pagination,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                endDate: '',
                name: '',
                occDate: '',
                sta: '',
            },
        };
    },
    created() {
        this.$store.dispatch('imitateSta');
        this.getList();
    },
    computed: {
        ...mapGetters(['imitateStas']),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        add() {
            this.$router.push('/addImitate');
        },
        getList() {
            this.listLoading = true;
            //查数据库
            imitatePositionApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.endDate = '';
            this.listQuery.sta = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            imitatePositionApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
