<template>
    <el-breadcrumb separator="/" class="app-breadcrumb">
      <transition-group name="breadcrumb">
          <el-breadcrumb-item v-for="(item,index) in levelList" :key="item.path">
              <span v-if="item.redirect==='noredirect'||index==levelList.length-1" class="no-redirect">{{generateTitle(item.name)}}</span>
              <a v-else @click.prevent="handleLink(item)">{{generateTitle(item.name)}}</a>
          </el-breadcrumb-item>
      </transition-group>
    </el-breadcrumb>
</template>
<script>
    import {generateTitle} from '@/utils/I18n';
    import pathToRegexp from 'path-to-regexp';
export default {
    data(){
        return {
            levelList:null
        }
    },
    watch:{
        $route(){
          this.getBreadcrumb();
        }
    },
    created(){
        this.getBreadcrumb();
    },
    methods:{
        generateTitle,
        getBreadcrumb(){
            //有名字的
            let matched = this.$route.matched.filter(item=>item.name);
            this.levelList = matched;

        },
        pathCompile(path){
            const {params} = this.$route;
            //这里还要试一下
            var toPath = pathToRegexp.compile(path);
            console.log(toPath);
            return toPath(params);
        },
        handleLink(item){
            const {redirect,path}=item;
            if(redirect){
                this.$router.push(redirect);
                return ;
            }
            this.$router.push(path);

        }
    }
}
</script>
<style lang="scss" scoped>
.app-breadcrumb.el-breadcrumb{
    display: inline;
    font-size: 14px;
    line-height: 50px;
    margin-left: 10px;
    .no-redirect{
        color:#97a8be;
        cursor: text;
    }
}
</style>