<template>
    <input type="text"  autocomplete="on"  :id="id"  :value="value" readonly="readonly" data-toggle="city-picker" placeholder="请选择">
</template>
<script>
export default {
    name:'cityPicker',
    model:{
      prop:'value',
      event:'change'
    },
    props:{
        'value':String,
    },
    mounted:function(){
        const self= this;
        self.currentPicker = new window.CityPicker("#"+self.id);
        window.$("#"+self.id).on("areaChange",function () {
          var that = window.$(this);
          self.$emit('change', that.val());
        });
    },
    data:function(){
        return {
            currentPicker:null,
            id:parseInt(Math.random()*10000).toString(),
        }
    }  
  
}
</script>