<template>
<div v-if="!item.hidden&&item.children" class="menu-wrapper">
    <template v-if="hasOneShowingChild(item.children,item)&&(!onlyOneChild.children||onlyOneChild.noShowingChildren)&&!item.alwaysShow">
        <menu-link :to="resolvePath(onlyOneChild.path)">
            <el-menu-item :index="resolvePath(onlyOneChild.path)" :class="{'submenu-title-noDropdown':!isNest}">
                <menu-item  :icon="onlyOneChild.icon||item.icon" :title="generateTitle(onlyOneChild.name)" />
            </el-menu-item>
        </menu-link>
    </template>

    <el-submenu v-else ref="submenu" :index="resolvePath(item.path)">
        <template slot="title">
            <menu-item  :icon="item.icon" :title="generateTitle(item.name)" />
        </template>
        <template v-for="child in item.children">
            <template v-if="!child.hidden">
                <!--递归-->
                <sidebar-item v-if="child.children&&child.children.length>0" :is-nest="true" :item="child" :key="child.path" :base-path="resolvePath(child.path)" class="nest-menu" />
                <menu-link v-else :to="resolvePath(child.path)" :key="child.name">
                    <el-menu-item :index="resolvePath(child.path)">
                        <menu-item  :icon="child.icon" :title="generateTitle(child.name)" />
                    </el-menu-item>
                </menu-link>
            </template>
        </template>
    </el-submenu>
</div>
</template>

<script>
import path from 'path';
import {
    generateTitle
} from '@/utils/I18n';
import {
    isExternal
} from '@/utils';
import MenuItem from '@/components/MenuItem';
import MenuLink from '@/components/MenuLink';
import FixiOSBug from '@/utils/FixiOSBug';

export default {
    name: 'SidebarItem',
    components: {
        MenuItem,
        MenuLink
    },
    mixins: [FixiOSBug],
    props: {
        item: {
            type: Object,
            required: true
        },
        isNest: {
            type: Boolean,
            default: false
        },
        basePath: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            onlyOneChild: null
        }
    },
    methods: {
        hasOneShowingChild(children, parent) {
            const showingChildren = children.filter(item => {
                if (item.hidden) {
                    return false;
                } else {
                    this.onlyOneChild = item;
                    return true;
                }
            });

            if (showingChildren.length === 1) {
                return true;
            }
            if (showingChildren.length === 0) {
                this.onlyOneChild = { ...parent,
                    path: '',
                    noShowingChildren: true
                };
                return true;
            }
            return false;
        },
        resolvePath(routePath) {
            if (this.isExternalLink(routePath)) {
                return routePath;
            }
            return path.resolve(this.basePath, routePath);
        },
        isExternalLink(routePath) {
            return isExternal(routePath);
        },
        generateTitle
    }
}
</script>

<style lang="scss" scoped>
@import "~@/assets/scss/common/variables.scss";
@import "~@/assets/scss/common/mixin.scss";
.app-wrapper{
    @include clearfix();
    position: relative;
    height: 100%;
    width: 100%;
    &.mobile.openSidebar{
        position: fixed;
        top:0;
    }
}
.drawer-bg{
    background:#000;
    opacity: 0.3;
    width:100%;
    top:0;
    height: 100%;
    position: absolute;
    z-index: 999;
}
.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    position: relative;
    left: -8px;
}
</style>
