<template>
<el-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
        </el-form-item>
        <el-form-item :label="$t('code')" prop="code">
            <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
        </el-form-item>
        <el-form-item :label="$t('descr')" prop="descr">
            <el-input type="textarea" :rows="2" v-model="formdata.descr" :placeholder="$t('validate.descr')" />
        </el-form-item>
        <el-form-item :label="$t('menu')">
            <div class="div-tree">
                <el-tree :data="menuList" :props="menuListTreeProps" node-key="id" ref="menuListTree" :default-expand-all="true" :highlight-current="true" :expand-on-click-node="false" show-checkbox></el-tree>
            </div>
        </el-form-item>
        <el-form-item :label="$t('sortOrder')" prop="sortOrder">
            <el-input-number v-model="formdata.sortOrder" :min="0" :max="1000" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import roleApi from "@/api/RoleApi";
import menuApi from "@/api/MenuApi";
import edit from '@/utils/mixins/Edit';
import {
    TreeDataTranslate
} from "@/utils/TreeTool";
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            menuList: [],
            menuListTreeProps: {
                label: 'name',
                children: 'children'
            },
            formdata: {
                id: null,
                code: '',
                descr: '',
                name: '',
                sortOrder: 999,

            },
            menuIds: [],
            halfMenuIds: []
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],
                descr: [{
                        required: true,
                        message: this.$t("validate.descr"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            menuApi.findAll().then(({
                data
            }) => {
                if (data.flag) {
                    if (data.obj) {
                        this.menuList = TreeDataTranslate(data.obj);
                    } else {
                        this.menuList = [];
                    }
                }
            });
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: null,
                    code: '',
                    descr: '',
                    name: '',
                    sortOrder: 999,
                    menuIds: [],
                    halfMenuIds: []
                })
            } else {
                roleApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.role.id,
                            code: data.obj.role.code,
                            descr: data.obj.role.descr,
                            name: data.obj.role.name,
                            sortOrder: data.obj.role.sortOrder,
                            menuIds: data.obj.menuIds || [],
                            halfMenuIds: data.obj.halfMenuIds || [],
                        });

                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.code = obj.code;
            this.formdata.descr = obj.descr;
            this.formdata.name = obj.name;
            this.formdata.sortOrder = obj.sortOrder;
            this.menuIds = obj.menuIds;
            this.halfMenuIds = obj.halfMenuIds;
            this.$nextTick(() => {
                this.$refs.menuListTree.setCheckedKeys(this.menuIds);
            });
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    let data = {};
                    data.role = this.formdata;
                    data.menuIds = this.$refs.menuListTree.getCheckedKeys();
                    data.halfMenuIds = this.$refs.menuListTree.getHalfCheckedKeys();
                    if (this.editFlag) {
                        roleApi.update(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        roleApi.save(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
