<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
            </el-form-item>
            <el-form-item :label="$t('dataTopoId')" prop="dataTopoId">
                <el-input v-model="formdata.dataTopoId" :placeholder="$t('validate.dataTopoId')" />
            </el-form-item>
            <el-form-item :label="$t('dataTopoParentId')" prop="dataTopoParentId">
                <el-input v-model="formdata.dataTopoParentId" :placeholder="$t('validate.dataTopoParentId')" />
            </el-form-item>
            <el-form-item :label="$t('occTime')" prop="occTime">
                <el-input v-model="formdata.occTime" :placeholder="$t('validate.occTime')" />
            </el-form-item>
            <el-form-item :label="$t('val')" prop="val">
                <el-input v-model="formdata.val" :placeholder="$t('validate.val')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import dataTopoValApi from '@/api/DataTopoValApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                code: '',
                dataTopoId: '',
                dataTopoParentId: '',
                occTime: '',
                val: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                dataTopoId: [
                    {
                        required: true,
                        message: this.$t('validate.dataTopoId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                dataTopoParentId: [
                    {
                        required: true,
                        message: this.$t('validate.dataTopoParentId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                occTime: [
                    {
                        required: true,
                        message: this.$t('validate.occTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                val: [
                    {
                        required: true,
                        message: this.$t('validate.val'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    code: '',
                    dataTopoId: '',
                    dataTopoParentId: '',
                    occTime: '',
                    val: '',
                });
            } else {
                dataTopoValApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            code: data.obj.code,
                            dataTopoId: data.obj.dataTopoId,
                            dataTopoParentId: data.obj.dataTopoParentId,
                            occTime: data.obj.occTime,
                            val: data.obj.val,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.code = obj.code;
            this.formdata.dataTopoId = obj.dataTopoId;
            this.formdata.dataTopoParentId = obj.dataTopoParentId;
            this.formdata.occTime = obj.occTime;
            this.formdata.val = obj.val;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        dataTopoValApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        dataTopoValApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
