<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter="save">
            <el-form-item :label="$t('addr')" prop="addr">
                <el-input v-model="formdata.addr" :placeholder="$t('validate.addr')" />
            </el-form-item>
            <el-form-item :label="$t('area')" prop="area">
                <el-input v-model="formdata.area" :placeholder="$t('validate.area')" />
            </el-form-item>
            <el-form-item :label="$t('birthday')" prop="birthday">
                <el-input v-model="formdata.birthday" :placeholder="$t('validate.birthday')" />
            </el-form-item>
            <el-form-item :label="$t('createTime')" prop="createTime">
                <el-input v-model="formdata.createTime" :placeholder="$t('validate.createTime')" />
            </el-form-item>
            <el-form-item :label="$t('email')" prop="email">
                <el-input v-model="formdata.email" :placeholder="$t('validate.email')" />
            </el-form-item>
            <el-form-item :label="$t('enabled')" prop="enabled">
                <el-input v-model="formdata.enabled" :placeholder="$t('validate.enabled')" />
            </el-form-item>
            <el-form-item :label="$t('headImg')" prop="headImg">
                <el-input v-model="formdata.headImg" :placeholder="$t('validate.headImg')" />
            </el-form-item>
            <el-form-item :label="$t('idNo')" prop="idNo">
                <el-input v-model="formdata.idNo" :placeholder="$t('validate.idNo')" />
            </el-form-item>
            <el-form-item :label="$t('isDel')" prop="isDel">
                <el-input v-model="formdata.isDel" :placeholder="$t('validate.isDel')" />
            </el-form-item>
            <el-form-item :label="$t('isManager')" prop="isManager">
                <el-input v-model="formdata.isManager" :placeholder="$t('validate.isManager')" />
            </el-form-item>
            <el-form-item :label="$t('lockTime')" prop="lockTime">
                <el-input v-model="formdata.lockTime" :placeholder="$t('validate.lockTime')" />
            </el-form-item>
            <el-form-item :label="$t('mobile')" prop="mobile">
                <el-input v-model="formdata.mobile" :placeholder="$t('validate.mobile')" />
            </el-form-item>
            <el-form-item :label="$t('msn')" prop="msn">
                <el-input v-model="formdata.msn" :placeholder="$t('validate.msn')" />
            </el-form-item>
            <el-form-item :label="$t('nickname')" prop="nickname">
                <el-input v-model="formdata.nickname" :placeholder="$t('validate.nickname')" />
            </el-form-item>
            <el-form-item :label="$t('qq')" prop="qq">
                <el-input v-model="formdata.qq" :placeholder="$t('validate.qq')" />
            </el-form-item>
            <el-form-item :label="$t('realName')" prop="realName">
                <el-input v-model="formdata.realName" :placeholder="$t('validate.realName')" />
            </el-form-item>
            <el-form-item :label="$t('username')" prop="username">
                <el-input v-model="formdata.username" :placeholder="$t('validate.username')" />
            </el-form-item>
            <el-form-item :label="$t('wechat')" prop="wechat">
                <el-input v-model="formdata.wechat" :placeholder="$t('validate.wechat')" />
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
                <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
            </div>
        </template>
    </el-dialog>
</template>

<script>
import userInfoApi from '@/api/UserInfoApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                addr: '',
                area: '',
                birthday: '',
                createTime: '',
                email: '',
                enabled: '',
                headImg: '',
                idNo: '',
                isDel: '',
                isManager: '',
                lockTime: '',
                mobile: '',
                msn: '',
                nickname: '',
                qq: '',
                realName: '',
                username: '',
                wechat: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                addr: [
                    {
                        required: true,
                        message: this.$t('validate.addr'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                area: [
                    {
                        required: true,
                        message: this.$t('validate.area'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                birthday: [
                    {
                        required: true,
                        message: this.$t('validate.birthday'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                createTime: [
                    {
                        required: true,
                        message: this.$t('validate.createTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                email: [
                    {
                        required: true,
                        message: this.$t('validate.email'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                enabled: [
                    {
                        required: true,
                        message: this.$t('validate.enabled'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                headImg: [
                    {
                        required: true,
                        message: this.$t('validate.headImg'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                idNo: [
                    {
                        required: true,
                        message: this.$t('validate.idNo'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                isDel: [
                    {
                        required: true,
                        message: this.$t('validate.isDel'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                isManager: [
                    {
                        required: true,
                        message: this.$t('validate.isManager'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                lockTime: [
                    {
                        required: true,
                        message: this.$t('validate.lockTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                mobile: [
                    {
                        required: true,
                        message: this.$t('validate.mobile'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                msn: [
                    {
                        required: true,
                        message: this.$t('validate.msn'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                nickname: [
                    {
                        required: true,
                        message: this.$t('validate.nickname'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                qq: [
                    {
                        required: true,
                        message: this.$t('validate.qq'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                realName: [
                    {
                        required: true,
                        message: this.$t('validate.realName'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                username: [
                    {
                        required: true,
                        message: this.$t('validate.username'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                wechat: [
                    {
                        required: true,
                        message: this.$t('validate.wechat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    addr: '',
                    area: '',
                    birthday: '',
                    createTime: '',
                    email: '',
                    enabled: '',
                    headImg: '',
                    idNo: '',
                    isDel: '',
                    isManager: '',
                    lockTime: '',
                    mobile: '',
                    msn: '',
                    nickname: '',
                    qq: '',
                    realName: '',
                    username: '',
                    wechat: '',
                });
            } else {
                userInfoApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            addr: data.obj.addr,
                            area: data.obj.area,
                            birthday: data.obj.birthday,
                            createTime: data.obj.createTime,
                            email: data.obj.email,
                            enabled: data.obj.enabled,
                            headImg: data.obj.headImg,
                            idNo: data.obj.idNo,
                            isDel: data.obj.isDel,
                            isManager: data.obj.isManager,
                            lockTime: data.obj.lockTime,
                            mobile: data.obj.mobile,
                            msn: data.obj.msn,
                            nickname: data.obj.nickname,
                            qq: data.obj.qq,
                            realName: data.obj.realName,
                            username: data.obj.username,
                            wechat: data.obj.wechat,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.addr = obj.addr;
            this.formdata.area = obj.area;
            this.formdata.birthday = obj.birthday;
            this.formdata.createTime = obj.createTime;
            this.formdata.email = obj.email;
            this.formdata.enabled = obj.enabled;
            this.formdata.headImg = obj.headImg;
            this.formdata.idNo = obj.idNo;
            this.formdata.isDel = obj.isDel;
            this.formdata.isManager = obj.isManager;
            this.formdata.lockTime = obj.lockTime;
            this.formdata.mobile = obj.mobile;
            this.formdata.msn = obj.msn;
            this.formdata.nickname = obj.nickname;
            this.formdata.qq = obj.qq;
            this.formdata.realName = obj.realName;
            this.formdata.username = obj.username;
            this.formdata.wechat = obj.wechat;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        userInfoApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        userInfoApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
