<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('effectiveSpreadAbs')" prop="effectiveSpreadAbs">
            <el-input v-model="formdata.effectiveSpreadAbs"   :placeholder="$t('validate.effectiveSpreadAbs')" />
        </el-form-item>
        <el-form-item :label="$t('effectiveSpreadBps')" prop="effectiveSpreadBps">
            <el-input v-model="formdata.effectiveSpreadBps"   :placeholder="$t('validate.effectiveSpreadBps')" />
        </el-form-item>
        <el-form-item :label="$t('occDate')" prop="occDate">
            <el-input v-model="formdata.occDate"   :placeholder="$t('validate.occDate')" />
        </el-form-item>
        <el-form-item :label="$t('securityId')" prop="securityId">
            <el-input v-model="formdata.securityId"   :placeholder="$t('validate.securityId')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import effectiveSpreadSecurityApi from "@/api/EffectiveSpreadSecurityApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               effectiveSpreadAbs:'',
               effectiveSpreadBps:'',
               occDate:'',
               securityId:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 effectiveSpreadAbs: [{
                        required: true,
                        message: this.$t("validate.effectiveSpreadAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 effectiveSpreadBps: [{
                        required: true,
                        message: this.$t("validate.effectiveSpreadBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 occDate: [{
                        required: true,
                        message: this.$t("validate.occDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 securityId: [{
                        required: true,
                        message: this.$t("validate.securityId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 effectiveSpreadAbs:'',
              		 effectiveSpreadBps:'',
              		 occDate:'',
              		 securityId:'',
                })
            } else {
                effectiveSpreadSecurityApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              effectiveSpreadAbs:data.obj.effectiveSpreadAbs,
					              effectiveSpreadBps:data.obj.effectiveSpreadBps,
					              occDate:data.obj.occDate,
					              securityId:data.obj.securityId,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.effectiveSpreadAbs=obj.effectiveSpreadAbs;
              this.formdata.effectiveSpreadBps=obj.effectiveSpreadBps;
              this.formdata.occDate=obj.occDate;
              this.formdata.securityId=obj.securityId;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        effectiveSpreadSecurityApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        effectiveSpreadSecurityApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
