<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('cat')" prop="cat">
                        <el-select v-model="formdata.cat" :placeholder="$t('validate.cat')" clearable>
                            <el-option v-for="item in topCats" :key="item.code" :label="item.name" :value="item.code" />
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('isShow')" prop="isShow">
                        <el-switch active-text="" active-value="T" inactive-text="" inactive-value="F" v-model="formdata.isShow"></el-switch>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('x')" prop="x">
                        <el-input-number v-model="formdata.x" :min="0" :max="1920" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('y')" prop="y">
                        <el-input-number v-model="formdata.y" :min="0" :max="1080" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('width')" prop="width">
                        <el-input-number v-model="formdata.width" :min="0" :max="200" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('height')" prop="height">
                        <el-input-number v-model="formdata.height" :min="0" :max="200" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('lv')" prop="lv">
                        <el-select v-model="formdata.lv" :placeholder="$t('validate.lv')" clearable>
                            <el-option v-for="item in levels" :key="item.code" :label="item.name" :value="item.code"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('color')" prop="color">
                        <el-color-picker v-model="formdata.color"></el-color-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
            </el-form-item>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('parentIds')" prop="parentIds">
                        <el-select v-model="parentIds" multiple filterable remote reserve-keyword clearable :placeholder="$t('validate.parentIds')" :remote-method="remote" :loading="loading">
                            <el-option v-for="item in list" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                        <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item :label="$t('remark')" prop="remark">
                <ckeditor4 v-model="formdata.remark" type="basic" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import dataTopoApi from '@/api/DataTopoApi';
import edit from '@/utils/mixins/Edit';
import Ckeditor4 from '@/components/Ckeditor';
import _ from 'lodash';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    components: {
        Ckeditor4,
    },
    data() {
        return {
            loading: false,
            list: [],
            parentIds: [],
            formdata: {
                id: '',
                cat: '',
                isShow: 'T',
                dataTypeId: '',
                x: 0,
                y: 0,
                code: '',
                width: 0,
                height: 0,
                color: '#000000',
                lv: '',
                name: '',
                parentIds: '',
                remark: '',
                sortOrder: 999,
            },
        };
    },
    created() {
        this.$store.dispatch('topCat');
        this.$store.dispatch('level');
    },
    computed: {
        ...mapGetters(['topCats', 'levels']),
        rules() {
            return {
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                isShow: [
                    {
                        required: true,
                        message: this.$t('validate.isShow'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                lv: [
                    {
                        required: true,
                        message: this.$t('validate.lv'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 150,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],

                remark: [
                    {
                        max: 1024,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(dataTypeId, id) {
            this.formdata.dataTypeId = dataTypeId;
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    cat: '',
                    isShow: 'T',
                    x: 0,
                    y: 0,
                    width: 0,
                    height: 0,
                    color: '#000000',
                    lv: '',
                    code: '',
                    name: '',
                    parentIds: '',
                    remark: '',
                    sortOrder: 999,
                });
            } else {
                dataTopoApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cat: data.obj.cat,
                            isShow: data.obj.isShow,
                            lv: data.obj.lv,
                            x: data.obj.x,
                            y: data.obj.y,
                            code: data.obj.code,
                            width: data.obj.width,
                            height: data.obj.height,
                            color: data.obj.color,
                            name: data.obj.name,
                            parentIds: data.obj.parentIds,
                            remark: data.obj.remark,
                            sortOrder: data.obj.sortOrder,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cat = obj.cat;
            this.formdata.isShow = obj.isShow;
            this.formdata.lv = obj.lv;
            this.formdata.name = obj.name;
            this.formdata.parentIds = obj.parentIds || '';
            this.parentIds = [];
            if (this.formdata.parentIds.length > 0) {
                let parentIds2 = this.formdata.parentIds.split(',');
                for (let i = 0; i < parentIds2.length; i++) {
                    if (parentIds2 != '') {
                        this.parentIds.push(parseInt(parentIds2[i]));
                    }
                }
                let pIds = this.parentIds;
                let data = {
                    pIds,
                };
                dataTopoApi.list(data).then(({ data }) => {
                    if (data.flag) {
                        if (data.obj) {
                            this.list = data.obj.list;
                        } else {
                            this.list = [];
                        }
                    }
                });
            }
            this.formdata.x = obj.x;
            this.formdata.y = obj.y;
            this.formdata.code = obj.code;
            this.formdata.width = obj.width;
            this.formdata.height = obj.height;
            this.formdata.color = obj.color;
            this.formdata.remark = obj.remark;
            this.formdata.sortOrder = obj.sortOrder;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    let formdata = _.cloneDeep(this.formdata);
                    formdata.parentIds = this.parentIds.join(',');
                    if (this.editFlag) {
                        dataTopoApi.update(formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        dataTopoApi.save(formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

        remote(query) {
            let data = {
                pn: 1,
                rn: 10,
                sort: 'id',
                order: 'asc',
                dataTypeId: this.formdata.dataTypeId,
                name: query,
            };
            this.loading = true;
            dataTopoApi.list(data).then(({ data }) => {
                if (data.flag) {
                    if (data.obj) {
                        this.list = data.obj.list;
                    } else {
                        this.list = [];
                    }
                }
                this.loading = false;
            });
        },
    },
};
</script>
