<template>
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
        <el-tab-pane :label="dataTypeName + '-' + $t('list')" name="one">
            <list ref="list" />
        </el-tab-pane>
        <el-tab-pane :label="dataTypeName + '-' + $t('topo')" name="two">
            <topo ref="topo" />
        </el-tab-pane>
        <el-tab-pane :label="dataTypeName + '-' + $t('data')" name="three">
            <data-topo-val ref="dataTopoVal" />
        </el-tab-pane>
    </el-tabs>
</template>

<script>
import List from './List';
import Topo from './Topo';
import DataTopoVal from '../DataTopoVal';
export default {
    components: {
        List,
        Topo,
        DataTopoVal,
    },
    data() {
        return {
            dataTypeName: '',
            dataTypeId: null,
            activeName: 'one',
            oldName: 'one',
        };
    },
    created() {
        this.dataTypeName = this.$route.query.dataTypeName;
        this.dataTypeId = this.$route.query.dataTypeId;

        this.$nextTick(() => {
            //默认加载列表
            this.$refs.list.getInitList(this.dataTypeId);
        });
    },
    methods: {
        handleClick(tab, event) {
            if (this.oldName == this.activeName) {
                return;
            } else {
                this.oldName = this.activeName;
                if (this.activeName == 'one') {
                    this.$refs.list.getInitList(this.dataTypeId);
                }
                if (this.activeName == 'two') {
                    this.$refs.topo.getInitList(this.dataTypeId);
                }
                if (this.activeName == 'three') {
                    this.$refs.dataTopoVal.getInitList(this.dataTypeId);
                }
            }
        },
    },
};
</script>
