<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-select v-model="listQuery.cat" class="filter-item" :placeholder="$t('cat')" clearable style="width:200px">
                <el-option v-for="item in topCats" :key="item.code" :label="item.name" :value="item.code"> </el-option>
            </el-select>
            <el-select v-model="listQuery.isShow" class="filter-item" :placeholder="$t('isShow')" clearable style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in isShows" :key="item.code" :label="item.name" :value="item.code"> </el-option>
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-tool">
            <el-button v-if="hasAuth('dataTopo:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('dataTopo:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('name')" prop="name" align="center" min-width="200" />
            <el-table-column :label="$t('x')" prop="x" align="center" width="80" />
            <el-table-column :label="$t('y')" prop="y" align="center" width="80" />
            <el-table-column :label="$t('width')" prop="width" align="center" width="80" />
            <el-table-column :label="$t('height')" prop="height" align="center" width="80" />
            <el-table-column :label="$t('color')" prop="color" align="center" width="80">
                <template slot-scope="scope">
                    <el-color-picker v-model="scope.row.color" disabled />
                </template>
            </el-table-column>
            <el-table-column :label="$t('cat')" prop="cat" align="center" width="200" />
            <el-table-column :label="$t('isShow')" prop="isShow" align="center" width="200" />
            <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="100" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('dataTopo:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('dataTopo:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import dataTopoApi from '@/api/DataTopoApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'dataTopo',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                cat: '',
                isShow: '',
                name: '',
                dataTypeId: '',
            },
        };
    },
    created() {
        this.$store.dispatch('topCat');
        this.$store.dispatch('isShow');
    },
    computed: {
        ...mapGetters(['topCats', 'isShows']),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getInitList(dataTypeId) {
            this.listQuery.dataTypeId = dataTypeId;
            this.getList();
        },
        showDialog(id) {
            this.dialogFormVisible = true;
            this.$nextTick(() => {
                this.$refs.edit.init(this.listQuery.dataTypeId, id);
            });
        },

        getList() {
            this.listLoading = true;
            //查数据库
            dataTopoApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.isShow = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            dataTopoApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
