<template>
    <div ref="div" class="container">
        <canvas id="canvas"></canvas>
    </div>
</template>
<script>
import dataTopoApi from '@/api/DataTopoApi';
export default {
    name: 'topo',
    data() {
        return {
            map: {},
            scene: null,
            init: false,
        };
    },
    mounted() {},
    methods: {
        getInitList(dataTypeId) {
            if (!this.init) {
                this.$nextTick(() => {
                    this.init = true;
                    var canvas = document.getElementById('canvas');
                    canvas.width = this.$refs.div.offsetWidth;
                    canvas.height = this.$refs.div.offsetHeight;
                    this.initTopo();
                    this.draw(dataTypeId);
                });
            } else {
                this.draw(dataTypeId);
            }
        },
        draw(dataTypeId) {
            console.log('执行');
            dataTopoApi.findShow(dataTypeId).then(({ data }) => {
                this.scene.clear();
                let obj = data.obj || [];
                let m = {};
                for (let i = 1; i <= 9; i++) {
                    let items = obj.filter((item) => item.lv == i + '');
                    items = items || [];
                    for (let j = 0, k = 0; j < items.length; j++) {
                        if (items[j].x != 0 || items[j].y != 0) {
                            m[items[j].id + ''] = this.newNode(items[j].x, items[j].y, items[j].width, items[j].height, items[j].name, items[j].id, items[j].color);
                        } else {
                            m[items[j].id + ''] = this.newNode((i - 1) * 120 + 10, k * 70 + 20, 20, 20, items[j].name, items[j].id);
                            k++;
                        }
                    }
                }
                for (let i = 0; i < obj.length; i++) {
                    let parentIds = obj[i].parentIds;
                    parentIds = parentIds || '';
                    if (parentIds.length > 0) {
                        let parent = parentIds.split(',');
                        for (let j = 0; j < parent.length; j++) {
                            if (parent[j] != '') {
                                this.newLink(m[parent[j]], m[obj[i].id], 'Arrow', 5);
                            }
                        }
                    }
                }
            });
        },
        initTopo() {
            let JTopo = window.JTopo;
            var canvas = document.getElementById('canvas');
            var stage = new JTopo.Stage(canvas);
            var scene = new JTopo.Scene();
            stage.add(scene);
            scene.mode = 'select';
            // scene.background = require('@/assets/img/bg.jpg');
            //scene2.background = require('@/assets/img/bg.jpg');
            this.scene = scene;
        },
        hex2rgb(color) {
            if (color.length === 4) {
                var colorNew = '#';
                for (let i = 1; i < 4; i += 1) {
                    colorNew += color.slice(i, i + 1).concat(color.slice(i, i + 1));
                }
                color = colorNew;
            }
            // 处理六位的颜色值，转为RGB
            var colorChange = [];
            for (let i = 1; i < 7; i += 2) {
                colorChange.push(parseInt('0x' + color.slice(i, i + 2)));
            }
            return colorChange.join(',');
        },
        newNode(x, y, w, h, text, id, color) {
            let JTopo = window.JTopo;
            var node = new JTopo.Node(text);
            node.fontColor = '0,0,0';
            node.setLocation(x, y);
            node.font = 'bold 16px 微软雅黑';
            node.zIndex = 100;
            if (color) {
                node.fillColor = this.hex2rgb(color);
            } else {
                node.fillColor = JTopo.util.randomColor();
            }
            node.setSize(w, h);
            node.mouseup(() => {
                this.scene.mode = 'select';
                let bound = node.getBound();
                let data = { id: id, x: bound.left, y: bound.top, width: bound.width, height: bound.height };
                dataTopoApi.updateBound(data).then(({ data }) => {});
            });
            node.mousedown(() => {
                this.scene.mode = 'edit';
            });
            this.scene.add(node);
            return node;
        },
        newLink(nodeA, nodeZ) {
            let JTopo = window.JTopo;
            var link = new JTopo.Link(nodeA, nodeZ, '');
            link.lineWidth = 1; // 线宽
            link.bundleOffset = 60; // 折线拐角处的长度
            link.bundleGap = 20; // 线条之间的间隔
            link.textOffsetY = 3; // 文本偏移量（向下3个像素）
            link.strokeColor = '0,0,0';
            link.arrowsRadius = 10;
            this.scene.add(link);
            return link;
        },
    },
};
</script>
<style scoped>
.container {
    min-height: calc(100vh - 148px);
    width: 100%;
}
</style>
