<template>
    <v-chart class="chart" :option="option" />
</template>

<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart, HeatmapChart, LineChart } from 'echarts/charts';
import { DataZoomComponent, TitleComponent, TooltipComponent, LegendComponent, GridComponent, VisualMapComponent } from 'echarts/components';
import VChart, { THEME_KEY } from 'vue-echarts';
use([LineChart, DataZoomComponent, CanvasRenderer, PieChart, TitleComponent, TooltipComponent, LegendComponent, GridComponent, VisualMapComponent, HeatmapChart]);

export default {
    name: 'HelloWorld3',
    components: {
        VChart,
    },
    // provide: {
    //     [THEME_KEY]: 'dark',
    // },
    data() {
        var legend = [];
        var xAxis = [];
        var series = [];
        for (let i = 0; i < 100; i++) {
            legend.push(i);
            xAxis.push(i + '');
            series.push({ name: i, type: 'line', data: ['0', 2, 4], yAxisIndex: 0 });
        }
        var opt = {
            // title: {
            //     text: '折线图'
            // },
            color: ['#516b91', '#59c4e6', '#edafda', '#93b7e3', '#a5e7f0', '#cbb0e3'],
            tooltip: {
                trigger: 'axis',
            },
            legend: {
                data: legend,
            },
            grid: {
                top: '7%',
                left: '3%',
                right: '4%',
                bottom: 50,
                containLabel: true,
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 0,
                    end: 100,
                },
                {
                    type: 'slider',
                    start: 0,
                    end: 100,
                    bottom: 10,
                },
            ],
            // toolbox: {
            //     feature: {
            //         saveAsImage: {}
            //     }
            // },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: xAxis,
            },
            yAxis: [
                {
                    name: ' ',
                    type: 'value',
                    interval: 0.1,
                },
                {
                    name: ' ',
                    type: 'value',
                    interval: 1,
                },
            ],
            series: series,
        };

        return {
            option: opt,
        };
    },
};
</script>

<style scoped>
.chart {
    height: 400px;
}
</style>
