<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('addr')" v-model="listQuery.addr" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('area')" v-model="listQuery.area" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('birthday')" v-model="listQuery.birthday" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('createTime')" v-model="listQuery.createTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('email')" v-model="listQuery.email" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('enabled')" v-model="listQuery.enabled" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('headImg')" v-model="listQuery.headImg" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('idNo')" v-model="listQuery.idNo" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('isDel')" v-model="listQuery.isDel" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('isManager')" v-model="listQuery.isManager" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('lockTime')" v-model="listQuery.lockTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('mobile')" v-model="listQuery.mobile" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('msn')" v-model="listQuery.msn" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('nickname')" v-model="listQuery.nickname" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('qq')" v-model="listQuery.qq" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('realName')" v-model="listQuery.realName" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('username')" v-model="listQuery.username" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('wechat')" v-model="listQuery.wechat" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('sysUserInfo:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('sysUserInfo:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('addr')" prop="addr" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('area')" prop="area" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('birthday')" prop="birthday" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('createTime')" prop="createTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('email')" prop="email" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('enabled')" prop="enabled" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('headImg')" prop="headImg" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('idNo')" prop="idNo" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('isDel')" prop="isDel" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('isManager')" prop="isManager" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('lockTime')" prop="lockTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('mobile')" prop="mobile" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('msn')" prop="msn" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('nickname')" prop="nickname" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('qq')" prop="qq" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('realName')" prop="realName" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('username')" prop="username" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('wechat')" prop="wechat" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template #default="scope">
                    <el-button v-if="hasAuth('sysUserInfo:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('sysUserInfo:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" v-model:page="listQuery.pn" v-model:limit="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import sysUserInfoApi from '@/api/SysUserInfoApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'sysUserInfo',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                addr: '',
                area: '',
                birthday: '',
                createTime: '',
                email: '',
                enabled: '',
                headImg: '',
                idNo: '',
                isDel: '',
                isManager: '',
                lockTime: '',
                mobile: '',
                msn: '',
                nickname: '',
                qq: '',
                realName: '',
                username: '',
                wechat: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            sysUserInfoApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.addr = '';
            this.listQuery.area = '';
            this.listQuery.birthday = '';
            this.listQuery.createTime = '';
            this.listQuery.email = '';
            this.listQuery.enabled = '';
            this.listQuery.headImg = '';
            this.listQuery.idNo = '';
            this.listQuery.isDel = '';
            this.listQuery.isManager = '';
            this.listQuery.lockTime = '';
            this.listQuery.mobile = '';
            this.listQuery.msn = '';
            this.listQuery.nickname = '';
            this.listQuery.qq = '';
            this.listQuery.realName = '';
            this.listQuery.username = '';
            this.listQuery.wechat = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            sysUserInfoApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                } else {
                    this.$message.error(data.msg);
                }
            });
        },
    },
};
</script>
