<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('errTimes')" v-model="listQuery.errTimes" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('firstErrTime')" v-model="listQuery.firstErrTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('lastIp')" v-model="listQuery.lastIp" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('lastTime')" v-model="listQuery.lastTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('lockTime')" v-model="listQuery.lockTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('loginIp')" v-model="listQuery.loginIp" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('loginTime')" v-model="listQuery.loginTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('regIp')" v-model="listQuery.regIp" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('regTime')" v-model="listQuery.regTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('userLog:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('userLog:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('errTimes')" prop="errTimes" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('firstErrTime')" prop="firstErrTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('lastIp')" prop="lastIp" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('lastTime')" prop="lastTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('lockTime')" prop="lockTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('loginIp')" prop="loginIp" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('loginTime')" prop="loginTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('regIp')" prop="regIp" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('regTime')" prop="regTime" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template #default="scope">
                    <el-button v-if="hasAuth('userLog:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('userLog:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" page="listQuery.pn" limit="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import userLogApi from '@/api/UserLogApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'userLog',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                errTimes: '',
                firstErrTime: '',
                lastIp: '',
                lastTime: '',
                lockTime: '',
                loginIp: '',
                loginTime: '',
                regIp: '',
                regTime: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            userLogApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.errTimes = '';
            this.listQuery.firstErrTime = '';
            this.listQuery.lastIp = '';
            this.listQuery.lastTime = '';
            this.listQuery.lockTime = '';
            this.listQuery.loginIp = '';
            this.listQuery.loginTime = '';
            this.listQuery.regIp = '';
            this.listQuery.regTime = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            userLogApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                } else {
                    this.$message.error(data.msg);
                }
            });
        },
    },
};
</script>
