<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('closePrice')" prop="closePrice">
            <el-input v-model="formdata.closePrice"   :placeholder="$t('validate.closePrice')" />
        </el-form-item>
        <el-form-item :label="$t('code')" prop="code">
            <el-input v-model="formdata.code"   :placeholder="$t('validate.code')" />
        </el-form-item>
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name"   :placeholder="$t('validate.name')" />
        </el-form-item>
        <el-form-item :label="$t('occDate')" prop="occDate">
            <el-input v-model="formdata.occDate"   :placeholder="$t('validate.occDate')" />
        </el-form-item>
        <el-form-item :label="$t('retPrt')" prop="retPrt">
            <el-input v-model="formdata.retPrt"   :placeholder="$t('validate.retPrt')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import activityIndexApi from "@/api/ActivityIndexApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               closePrice:'',
               code:'',
               name:'',
               occDate:'',
               retPrt:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 closePrice: [{
                        required: true,
                        message: this.$t("validate.closePrice"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 occDate: [{
                        required: true,
                        message: this.$t("validate.occDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 retPrt: [{
                        required: true,
                        message: this.$t("validate.retPrt"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 closePrice:'',
              		 code:'',
              		 name:'',
              		 occDate:'',
              		 retPrt:'',
                })
            } else {
                activityIndexApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              closePrice:data.obj.closePrice,
					              code:data.obj.code,
					              name:data.obj.name,
					              occDate:data.obj.occDate,
					              retPrt:data.obj.retPrt,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.closePrice=obj.closePrice;
              this.formdata.code=obj.code;
              this.formdata.name=obj.name;
              this.formdata.occDate=obj.occDate;
              this.formdata.retPrt=obj.retPrt;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        activityIndexApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        activityIndexApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
