<template>
    <div class="app-container">
        <div class="filter-container">
            <el-date-picker v-model="date" class="filter-item" type="daterange" align="right" unlink-panels range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" :picker-options="pickerOptions"> </el-date-picker>
            <el-select v-model="listQuery.code" :placeholder="$t('code')" clearable class="filter-item" style="width:200px" @change="query">
                <el-option v-for="item in basicIndexes" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <v-chart :style="outStyle" class="chart" :option="option" ref="charts" :autoresize="true" :update-options="updateOptions" />
    </div>
</template>
<script>
import activityIndexApi from '@/api/ActivityIndexApi';
import sysOptionApi from '@/api/SysOptionApi';
import formatDate from '@/utils/Date';
import list from '@/utils/mixins/List';
import { mapGetters } from 'vuex';
import { use } from 'echarts/core';
import { ToolboxComponent, TooltipComponent, GridComponent, LegendComponent, DataZoomComponent } from 'echarts/components';
import { LineChart, BarChart } from 'echarts/charts';
import { CanvasRenderer } from 'echarts/renderers';
use([ToolboxComponent, TooltipComponent, GridComponent, LegendComponent, DataZoomComponent, LineChart, BarChart, CanvasRenderer]);
import VChart from 'vue-echarts';
export default {
    props: ['outStyle'],
    name: 'kChart',
    mixins: [list],
    components: {
        VChart,
    },
    data() {
        return {
            option: {},
            updateOptions: {
                notMerge: true,
            },
            pickerOptions: {
                shortcuts: [
                    {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30 * 3);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近六个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30 * 6);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近一年',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近三年',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 365 * 3);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                ],
            },
            date: null,
            listQuery: {
                startTime: '',
                endTime: '',
                code: '000001',
            },
        };
    },
    created() {
        this.$store.dispatch('basicIndex');
        sysOptionApi.findKConfig().then(({ data }) => {
            //   const end = new Date();
            //         const start = new Date();
            //         start.setTime(start.getTime() - 3600 * 1000 * 24 * 30 * 3);
            //         this.date = [start, end];
            if (data.flag) {
                let cfg = data.obj;
                const start = new Date(cfg.startTime);
                const end = new Date(cfg.endTime);
                this.date = [start, end];
                this.listQuery.code = cfg.code;
                this.changeQuery();
                this.getList();
            }
        });
    },
    computed: {
        ...mapGetters(['basicIndexes']),
    },
    methods: {
        getList() {
            if (this.listQuery.startTime == '' || this.listQuery.endTime == '') {
                this.$message.error('请选择时间段');
                return;
            }
            if (this.listQuery.code == '') {
                this.$message.error('请选择指标');
                return;
            }
            this.listLoading = true;
            activityIndexApi
                .findData(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        var items = this.basicIndexes.filter((item) => {
                            return item.code == this.listQuery.code;
                        });
                        var upColor = '#ec0000';
                        var downColor = '#00da3c';
                        let list = data.obj || [];
                        var xdata = [];
                        var linedata = [];
                        var bardata = [];
                        for (let i = 0; i < list.length; i++) {
                            xdata.push(formatDate(new Date(list[i].occDate), 'yyyy/MM/dd'));
                            linedata.push(list[i].closePrice);
                            bardata.push(list[i].retPrt);
                        }
                        this.option = {
                            animation: false,
                            legend: {
                                top: 10,
                                left: 'center',
                                data: [`${items[0].name}收盘价`, `${items[0].name}收益率`],
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                },
                                borderWidth: 1,
                                borderColor: '#ccc',
                                padding: 10,
                                textStyle: {
                                    color: '#000',
                                },
                                position: function(pos, params, el, elRect, size) {
                                    var obj = { top: 10 };
                                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                                    return obj;
                                },
                            },
                            axisPointer: {
                                link: { xAxisIndex: 'all' },
                                label: {
                                    backgroundColor: '#777',
                                },
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: false,
                                    },
                                    brush: {
                                        type: ['lineX', 'clear'],
                                    },
                                },
                            },

                            grid: [
                                {
                                    left: '10%',
                                    right: '8%',
                                    height: '45%',
                                },
                                {
                                    left: '10%',
                                    right: '8%',
                                    top: '58%',
                                    height: '20%',
                                },
                            ],
                            xAxis: [
                                {
                                    type: 'category',
                                    data: xdata,
                                    scale: true,
                                    boundaryGap: false,
                                    axisLine: { onZero: false },
                                    splitLine: { show: false },
                                    splitNumber: 20,
                                    min: 'dataMin',
                                    max: 'dataMax',
                                    axisPointer: {
                                        z: 100,
                                    },
                                },
                                {
                                    type: 'category',
                                    gridIndex: 1,
                                    data: xdata,
                                    scale: true,
                                    boundaryGap: false,
                                    axisLine: { onZero: false },
                                    splitLine: { show: false },
                                    splitNumber: 20,
                                    min: 'dataMin',
                                    max: 'dataMax',
                                },
                            ],
                            yAxis: [
                                {
                                    scale: true,
                                    splitArea: {
                                        show: true,
                                    },
                                },
                                {
                                    splitArea: {
                                        show: true,
                                    },
                                    scale: true,
                                    gridIndex: 1,
                                },
                            ],
                            dataZoom: [
                                {
                                    type: 'inside',
                                    xAxisIndex: [0, 1],
                                    start: 0,
                                    end: 100,
                                },
                                {
                                    show: true,
                                    xAxisIndex: [0, 1],
                                    type: 'slider',
                                    top: '85%',
                                    start: 0,
                                    end: 100,
                                },
                            ],
                            series: [
                                {
                                    name: `${items[0].name}收盘价`,
                                    type: 'line',
                                    data: linedata,
                                    smooth: true,
                                    lineStyle: {
                                        opacity: 0.5,
                                    },
                                },
                                {
                                    name: `${items[0].name}收益率`,
                                    type: 'bar',
                                    xAxisIndex: 1,
                                    yAxisIndex: 1,
                                    data: bardata,
                                    itemStyle: {
                                        normal: {
                                            color: function(params) {
                                                return params.data > 0 ? upColor : downColor;
                                            },
                                        },
                                    },
                                },
                            ],
                        };
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {},
        changeQuery() {
            if (this.date != null) {
                this.listQuery.startTime = formatDate(this.date[0], 'yyyy-MM-dd');
                this.listQuery.endTime = formatDate(this.date[1], 'yyyy-MM-dd');
            } else {
                this.listQuery.startTime = '';
                this.listQuery.endTime = '';
            }
        },
    },
};
</script>
<style lang="scss" scope>
.chart {
    min-height: calc(90vh - 84px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
</style>
