<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('title')" prop="title">
                <el-input v-model="formdata.title" :placeholder="$t('validate.title')" />
            </el-form-item>
            <el-form-item :label="$t('dataSourceId')" prop="dataSourceId">
                <el-row>
                    <el-col :span="20">
                        <el-select v-model="formdata.dataSourceId" class="filter-item" style="width:100%" :placeholder="$t('dataSource')" clearable>
                            <el-option v-for="item in dataSources" :key="item.id" :label="item.title" :value="item.id"> </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="4">
                        <el-button style="margin-left:5px" @click="reloadDataSource">{{ $t('load') }}</el-button>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item :label="$t('query')" prop="query">
                <el-row>
                    <el-col :span="20">
                        <el-input type="textarea" rows="20" v-model="formdata.query" :placeholder="$t('validate.query')" />
                    </el-col>
                    <el-col :span="4">
                        <el-button style="margin-left:5px" v-waves @click="preview">{{ $t('preview') }}</el-button></el-col
                    >
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <json-viewer :value="result" :expand-depth="5" copyable boxed sort></json-viewer>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item :label="$t('target')" prop="target">
                <el-input v-model="formdata.target" :placeholder="$t('validate.target')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import dataExtractApi from '@/api/DataExtractApi';
import edit from '@/utils/mixins/Edit';
import JsonViewer from 'vue-json-viewer';

import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    components: {
        JsonViewer,
    },
    data() {
        return {
            result: '',
            formdata: {
                id: '',
                dataSourceId: '',
                query: '',
                target: '',
                title: '',
            },
        };
    },
    created() {
        this.$store.dispatch('dataSource');
    },
    computed: {
        ...mapGetters(['dataSources']),
        rules() {
            return {
                dataSourceId: [
                    {
                        required: true,
                        message: this.$t('validate.dataSourceId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                query: [
                    {
                        required: true,
                        message: this.$t('validate.query'),
                        trigger: 'blur',
                    },
                    {
                        max: 10000,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                target: [
                    {
                        required: true,
                        message: this.$t('validate.target'),
                        trigger: 'blur',
                    },
                    {
                        max: 100,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                title: [
                    {
                        required: true,
                        message: this.$t('validate.title'),
                        trigger: 'blur',
                    },
                    {
                        max: 100,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    dataSourceId: '',
                    query: '',
                    target: '',
                    title: '',
                });
            } else {
                dataExtractApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            dataSourceId: data.obj.dataSourceId,
                            query: data.obj.query,
                            target: data.obj.target,
                            title: data.obj.title,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.dataSourceId = obj.dataSourceId;
            this.formdata.query = obj.query;
            this.formdata.target = obj.target;
            this.formdata.title = obj.title;
        },
        reloadDataSource() {
            this.$store.dispatch('reloadDataSource');
        },
        preview() {
            if (this.formdata.dataSourceId == '') {
                this.$message(this.$t('validate.datasource'));
                return;
            }
            if (this.formdata.query == '') {
                this.$message(this.$t('validate.query'));
                return;
            }
            dataExtractApi.preview(this.formdata.dataSourceId, this.formdata.query).then(({ data }) => {
                if (data.flag) {
                    let obj = data.obj || [];
                    this.result = obj;
                }
            });
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        dataExtractApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        dataExtractApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
