<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('occDate')" prop="occDate">
            <el-input v-model="formdata.occDate"   :placeholder="$t('validate.occDate')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread10minAbs')" prop="realisedSpread10minAbs">
            <el-input v-model="formdata.realisedSpread10minAbs"   :placeholder="$t('validate.realisedSpread10minAbs')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread10minBps')" prop="realisedSpread10minBps">
            <el-input v-model="formdata.realisedSpread10minBps"   :placeholder="$t('validate.realisedSpread10minBps')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread10secAbs')" prop="realisedSpread10secAbs">
            <el-input v-model="formdata.realisedSpread10secAbs"   :placeholder="$t('validate.realisedSpread10secAbs')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread10secBps')" prop="realisedSpread10secBps">
            <el-input v-model="formdata.realisedSpread10secBps"   :placeholder="$t('validate.realisedSpread10secBps')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread1minAbs')" prop="realisedSpread1minAbs">
            <el-input v-model="formdata.realisedSpread1minAbs"   :placeholder="$t('validate.realisedSpread1minAbs')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread1minBps')" prop="realisedSpread1minBps">
            <el-input v-model="formdata.realisedSpread1minBps"   :placeholder="$t('validate.realisedSpread1minBps')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread1secAbs')" prop="realisedSpread1secAbs">
            <el-input v-model="formdata.realisedSpread1secAbs"   :placeholder="$t('validate.realisedSpread1secAbs')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread1secBps')" prop="realisedSpread1secBps">
            <el-input v-model="formdata.realisedSpread1secBps"   :placeholder="$t('validate.realisedSpread1secBps')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread30secAbs')" prop="realisedSpread30secAbs">
            <el-input v-model="formdata.realisedSpread30secAbs"   :placeholder="$t('validate.realisedSpread30secAbs')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread30secBps')" prop="realisedSpread30secBps">
            <el-input v-model="formdata.realisedSpread30secBps"   :placeholder="$t('validate.realisedSpread30secBps')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread5minAbs')" prop="realisedSpread5minAbs">
            <el-input v-model="formdata.realisedSpread5minAbs"   :placeholder="$t('validate.realisedSpread5minAbs')" />
        </el-form-item>
        <el-form-item :label="$t('realisedSpread5minBps')" prop="realisedSpread5minBps">
            <el-input v-model="formdata.realisedSpread5minBps"   :placeholder="$t('validate.realisedSpread5minBps')" />
        </el-form-item>
        <el-form-item :label="$t('securityId')" prop="securityId">
            <el-input v-model="formdata.securityId"   :placeholder="$t('validate.securityId')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import realisedSpreadSecurityApi from "@/api/RealisedSpreadSecurityApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               occDate:'',
               realisedSpread10minAbs:'',
               realisedSpread10minBps:'',
               realisedSpread10secAbs:'',
               realisedSpread10secBps:'',
               realisedSpread1minAbs:'',
               realisedSpread1minBps:'',
               realisedSpread1secAbs:'',
               realisedSpread1secBps:'',
               realisedSpread30secAbs:'',
               realisedSpread30secBps:'',
               realisedSpread5minAbs:'',
               realisedSpread5minBps:'',
               securityId:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 occDate: [{
                        required: true,
                        message: this.$t("validate.occDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread10minAbs: [{
                        required: true,
                        message: this.$t("validate.realisedSpread10minAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread10minBps: [{
                        required: true,
                        message: this.$t("validate.realisedSpread10minBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread10secAbs: [{
                        required: true,
                        message: this.$t("validate.realisedSpread10secAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread10secBps: [{
                        required: true,
                        message: this.$t("validate.realisedSpread10secBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread1minAbs: [{
                        required: true,
                        message: this.$t("validate.realisedSpread1minAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread1minBps: [{
                        required: true,
                        message: this.$t("validate.realisedSpread1minBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread1secAbs: [{
                        required: true,
                        message: this.$t("validate.realisedSpread1secAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread1secBps: [{
                        required: true,
                        message: this.$t("validate.realisedSpread1secBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread30secAbs: [{
                        required: true,
                        message: this.$t("validate.realisedSpread30secAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread30secBps: [{
                        required: true,
                        message: this.$t("validate.realisedSpread30secBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread5minAbs: [{
                        required: true,
                        message: this.$t("validate.realisedSpread5minAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 realisedSpread5minBps: [{
                        required: true,
                        message: this.$t("validate.realisedSpread5minBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 securityId: [{
                        required: true,
                        message: this.$t("validate.securityId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 occDate:'',
              		 realisedSpread10minAbs:'',
              		 realisedSpread10minBps:'',
              		 realisedSpread10secAbs:'',
              		 realisedSpread10secBps:'',
              		 realisedSpread1minAbs:'',
              		 realisedSpread1minBps:'',
              		 realisedSpread1secAbs:'',
              		 realisedSpread1secBps:'',
              		 realisedSpread30secAbs:'',
              		 realisedSpread30secBps:'',
              		 realisedSpread5minAbs:'',
              		 realisedSpread5minBps:'',
              		 securityId:'',
                })
            } else {
                realisedSpreadSecurityApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              occDate:data.obj.occDate,
					              realisedSpread10minAbs:data.obj.realisedSpread10minAbs,
					              realisedSpread10minBps:data.obj.realisedSpread10minBps,
					              realisedSpread10secAbs:data.obj.realisedSpread10secAbs,
					              realisedSpread10secBps:data.obj.realisedSpread10secBps,
					              realisedSpread1minAbs:data.obj.realisedSpread1minAbs,
					              realisedSpread1minBps:data.obj.realisedSpread1minBps,
					              realisedSpread1secAbs:data.obj.realisedSpread1secAbs,
					              realisedSpread1secBps:data.obj.realisedSpread1secBps,
					              realisedSpread30secAbs:data.obj.realisedSpread30secAbs,
					              realisedSpread30secBps:data.obj.realisedSpread30secBps,
					              realisedSpread5minAbs:data.obj.realisedSpread5minAbs,
					              realisedSpread5minBps:data.obj.realisedSpread5minBps,
					              securityId:data.obj.securityId,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.occDate=obj.occDate;
              this.formdata.realisedSpread10minAbs=obj.realisedSpread10minAbs;
              this.formdata.realisedSpread10minBps=obj.realisedSpread10minBps;
              this.formdata.realisedSpread10secAbs=obj.realisedSpread10secAbs;
              this.formdata.realisedSpread10secBps=obj.realisedSpread10secBps;
              this.formdata.realisedSpread1minAbs=obj.realisedSpread1minAbs;
              this.formdata.realisedSpread1minBps=obj.realisedSpread1minBps;
              this.formdata.realisedSpread1secAbs=obj.realisedSpread1secAbs;
              this.formdata.realisedSpread1secBps=obj.realisedSpread1secBps;
              this.formdata.realisedSpread30secAbs=obj.realisedSpread30secAbs;
              this.formdata.realisedSpread30secBps=obj.realisedSpread30secBps;
              this.formdata.realisedSpread5minAbs=obj.realisedSpread5minAbs;
              this.formdata.realisedSpread5minBps=obj.realisedSpread5minBps;
              this.formdata.securityId=obj.securityId;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        realisedSpreadSecurityApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        realisedSpreadSecurityApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
