<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('code')" prop="code">
            <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
        </el-form-item>
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
        </el-form-item>
        <el-form-item :label="$t('nameEn')" prop="nameEn">
            <el-input v-model="formdata.nameEn" :placeholder="$t('validate.nameEn')" />
        </el-form-item>
        <el-form-item :label="$t('sortOrder')" prop="sortOrder">
            <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import sysI18nApi from "@/api/SysI18nApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                code: '',
                name: '',
                nameEn: '',
                sortOrder: 999,
            }
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],

                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                nameEn: [{
                        required: true,
                        message: this.$t("validate.nameEn"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    code: '',
                    name: '',
                    nameEn: '',
                    sortOrder: 999,
                })
            } else {
                sysI18nApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            code: data.obj.code,
                            name: data.obj.name,
                            nameEn: data.obj.nameEn,
                            sortOrder: data.obj.sortOrder,
                        });

                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.code = obj.code;
            this.formdata.name = obj.name;
            this.formdata.nameEn = obj.nameEn;
            this.formdata.sortOrder = obj.sortOrder;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        sysI18nApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        sysI18nApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
