<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter="save">
            <el-form-item :label="$t('enabled')" prop="enabled">
                <el-input v-model="formdata.enabled" :placeholder="$t('validate.enabled')" />
            </el-form-item>
            <el-form-item :label="$t('linkId')" prop="linkId">
                <el-input v-model="formdata.linkId" :placeholder="$t('validate.linkId')" />
            </el-form-item>
            <el-form-item :label="$t('logo')" prop="logo">
                <el-input v-model="formdata.logo" :placeholder="$t('validate.logo')" />
            </el-form-item>
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input v-model="formdata.sortOrder" :placeholder="$t('validate.sortOrder')" />
            </el-form-item>
            <el-form-item :label="$t('target')" prop="target">
                <el-input v-model="formdata.target" :placeholder="$t('validate.target')" />
            </el-form-item>
            <el-form-item :label="$t('url')" prop="url">
                <el-input v-model="formdata.url" :placeholder="$t('validate.url')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import linkItemApi from '@/api/LinkItemApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                enabled: '',
                linkId: '',
                logo: '',
                name: '',
                sortOrder: '',
                target: '',
                url: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                enabled: [
                    {
                        required: true,
                        message: this.$t('validate.enabled'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                linkId: [
                    {
                        required: true,
                        message: this.$t('validate.linkId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                logo: [
                    {
                        required: true,
                        message: this.$t('validate.logo'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                target: [
                    {
                        required: true,
                        message: this.$t('validate.target'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                url: [
                    {
                        required: true,
                        message: this.$t('validate.url'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    enabled: '',
                    linkId: '',
                    logo: '',
                    name: '',
                    sortOrder: '',
                    target: '',
                    url: '',
                });
            } else {
                linkItemApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            enabled: data.obj.enabled,
                            linkId: data.obj.linkId,
                            logo: data.obj.logo,
                            name: data.obj.name,
                            sortOrder: data.obj.sortOrder,
                            target: data.obj.target,
                            url: data.obj.url,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.enabled = obj.enabled;
            this.formdata.linkId = obj.linkId;
            this.formdata.logo = obj.logo;
            this.formdata.name = obj.name;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.target = obj.target;
            this.formdata.url = obj.url;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        linkItemApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        linkItemApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
