<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('dataSourceId')" prop="dataSourceId">
                <el-input v-model="formdata.dataSourceId" :placeholder="$t('validate.dataSourceId')" />
            </el-form-item>
            <el-form-item :label="$t('query')" prop="query">
                <el-input v-model="formdata.query" :placeholder="$t('validate.query')" />
            </el-form-item>
            <el-form-item :label="$t('target')" prop="target">
                <el-input v-model="formdata.target" :placeholder="$t('validate.target')" />
            </el-form-item>
            <el-form-item :label="$t('title')" prop="title">
                <el-input v-model="formdata.title" :placeholder="$t('validate.title')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import dataExtractApi from '@/api/DataExtractApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                dataSourceId: '',
                query: '',
                target: '',
                title: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                dataSourceId: [
                    {
                        required: true,
                        message: this.$t('validate.dataSourceId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                query: [
                    {
                        required: true,
                        message: this.$t('validate.query'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                target: [
                    {
                        required: true,
                        message: this.$t('validate.target'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                title: [
                    {
                        required: true,
                        message: this.$t('validate.title'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    dataSourceId: '',
                    query: '',
                    target: '',
                    title: '',
                });
            } else {
                dataExtractApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            dataSourceId: data.obj.dataSourceId,
                            query: data.obj.query,
                            target: data.obj.target,
                            title: data.obj.title,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.dataSourceId = obj.dataSourceId;
            this.formdata.query = obj.query;
            this.formdata.target = obj.target;
            this.formdata.title = obj.title;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        dataExtractApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        dataExtractApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
