<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType == 'adv'" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div>
            <el-row>
                <el-col :span="24">
                    <div>
                        <div id="highCharts" style="width: 400px; height: 300px;"></div>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
import secExchangeApi from '@/api/SecExchangeApi';
import list from '@/utils/mixins/List';
import Highcharts from 'highcharts/highstock';
import HighchartsMore from 'highcharts/highcharts-more';
import SolidGauge from 'highcharts/modules/solid-gauge.js';
import { mapGetters } from 'vuex';
HighchartsMore(Highcharts);
SolidGauge(Highcharts);
Highcharts.setOptions({
    chart: {
        type: 'solidgauge',
    },
    title: null,
    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc',
        },
    },
    tooltip: {
        enabled: false,
    },
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'], // red
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickPixelInterval: 400,
        tickWidth: 0,
        title: {
            y: -70,
        },
        labels: {
            y: 16,
        },
    },
    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true,
            },
        },
    },
});

export default {
    mounted() {
        this.init();
    },
    mixins: [list],
    data() {
        return {};
    },
    methods: {
        init() {
            this.draw();
        },
        draw() {
            new Highcharts.chart('highCharts', {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: '销售净利率',
                    },
                },
                credits: {
                    enabled: false,
                },
                series: [
                    {
                        name: '销售净利率',
                        data: [80],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:25px;color:' + ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' + '<span style="font-size:12px;color:silver">%</span></div>',
                        },
                        tooltip: {
                            valueSuffix: ' %',
                        },
                    },
                ],
            });
        },
    },
};
</script>
