<template>
<el-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-tabs v-model="activeName">
        <el-tab-pane label="账号信息" name="one">
            <el-form ref="userForm" :rules="userRules" :model="user" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
                <el-row v-if="!editFlag">
                    <el-form-item :label="$t('username')" prop="username">
                        <el-input v-model="user.username" :placeholder="$t('validate.username')" clearable />
                    </el-form-item>
                    <el-form-item :label="$t('password')" prop="password">
                        <el-input v-model="user.password" type="password" :placeholder="$t('validate.password')" clearable />
                    </el-form-item>
                    <el-form-item :label="$t('repassword')" prop="repassword">
                        <el-input v-model="user.repassword" type="password" :placeholder="$t('validate.repassword')" clearable />
                    </el-form-item>
                </el-row>
                <el-row v-if="editFlag">
                    <el-form-item :label="$t('username')" prop="username">
                        <el-input v-model="user.username" :placeholder="$t('validate.username')" readonly />
                    </el-form-item>
                </el-row>
            </el-form>
            <el-form ref="userRoleForm" :rules="userRoleRules" :model="userRole" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
                <el-form-item :label="$t('role')" prop="roleId">
                    <el-select v-model="userRole.roleId" :placeholder="$t('validate.roleId')" :clearable="true">
                        <el-option v-for="item in roles" :key="item.id" :label="item.name" :value="item.id" />
                    </el-select>
                    <el-button style="margin-left:5px" @click="reloadRole">{{$t('load')}}</el-button>
                </el-form-item>
            </el-form>
        </el-tab-pane>
        <el-tab-pane label="扩展信息" name="two">
            <user-info ref="userInfo" />
        </el-tab-pane>
    </el-tabs>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves v-if="this.activeName=='two'" @click="prev">{{$t('prev')}}</el-button>
        <el-button v-waves v-if="this.activeName=='one'" @click="next">{{$t('next')}}</el-button>
        <el-button v-waves type="primary" v-show="activeName=='two'" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import userApi from "@/api/UserApi";
import edit from '@/utils/mixins/Edit';
import UserInfo from './UserInfo';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        UserInfo
    },
    data() {
        return {
            activeName: 'one',
            user: {
                password: '',
                repassword: '',
                username: '',
            },
            userRole: {
                roleId: null,
            },
        };
    },
    created() {
        this.$store.dispatch('role');
    },
    computed: {
        ...mapGetters(['roles']),
        userRules() {
            return {
                password: [{
                        required: true,
                        message: this.$t('validate.password'),
                        trigger: 'blur'
                    },
                    {
                        min: 6,
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                repassword: [{
                        required: true,
                        message: this.$t('validate.repassword'),
                        trigger: 'blur'
                    },
                    {
                        min: 6,
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    },
                    {
                        validator: this.validateRepassword,
                        trigger: 'blur'
                    }
                ],

                username: [{
                        required: true,
                        message: this.$t("validate.username"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],

            }
        },
        userRoleRules() {
            return {
                roleId: [{
                    required: true,
                    message: this.$t('validate.roleId'),
                    trigger: 'blur'
                }],

            }
        }
    },
    methods: {
        init(id) {
            //查找角色
            if (id == null) {
                this.show(false);
                this.resetVal({
                    password: '',
                    repassword: '',
                    username: '',
                }, {
                    id: '',
                    area: '浙江省',
                    addr: '',
                    birthday: null,
                    email: '',
                    enabled: 'T',
                    headImg: '',
                    idNo: '',
                    mobile: '',
                    msn: '',
                    nickname: '',
                    qq: '',
                    realName: '',
                    wechat: '',
                }, {
                    roleId: null,
                });
            } else {
                this.show(true);
                userApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        let user = {
                            username: data.obj.userInfo.username
                        };
                        let userInfo = data.obj.userInfo;
                        let userRole = data.obj.userRole;
                        this.resetVal(user, userInfo, userRole);
                    }
                });
            }
        },
        resetVal(user, userInfo, userRole) {
            this.user.username = user.username;
            this.userRole.roleId = userRole.roleId;
            this.$nextTick(() => {
                this.$refs.userInfo.init(userInfo);
            });
        },
        prev() {
            this.activeName = 'one';
        },
        next() {
            this.activeName = 'two';
        },
        resetFields() {
            this.$refs.userForm.resetFields();
            this.$refs.userRoleForm.resetFields();
            this.$refs.userInfo.$refs.dataForm.resetFields();
        },
        reloadRole() {
            this.$store.dispatch('reloadRole');
        },
        saveAction() {
            this.$nextTick(() => {
                //串行校验
                let data = {};
                new Promise((resolve, reject) => {
                    this.$refs.userForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'one'
                            throw new Error("one");
                        }
                    });
                    data.user = this.user;
                    resolve();
                }).then(() => {
                    this.$refs.userRoleForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'one'
                            throw new Error("one");
                        }
                    });
                    data.userRole = this.userRole;
                }).then(() => {
                    this.$refs.userInfo.$refs.dataForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'two'
                            throw new Error("two");
                        }
                    });
                    data.userInfo = this.$refs.userInfo.formdata
                }).then(() => {
                    if (this.editFlag) {
                        userApi.update(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        userApi.save(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }).catch(() => {});
            });
        },

    }
};
</script>
