<template>
<div class="app-container">
    <div class="filter-container">
        <el-input :placeholder="$t('username')" v-model="listQuery.username" class="filter-item" @keyup.enter.native="query" style="width:200px" clearable />
        <el-input :placeholder="$t('mobile')" v-model="listQuery.mobile" class="filter-item" @keyup.enter.native="query" style="width:200px" clearable />
        <el-input :placeholder="$t('realName')" v-model="listQuery.realName" class="filter-item" @keyup.enter.native="query" style="width:200px" clearable />
        <el-input :placeholder="$t('idNo')" v-model="listQuery.idNo" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" clearable />
        <el-input :placeholder="$t('nickname')" v-model="listQuery.nickname" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" clearable />
        <el-input :placeholder="$t('email')" v-model="listQuery.email" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" clearable />
        <el-input :placeholder="$t('qq')" v-model="listQuery.qq" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" clearable />
        <el-input :placeholder="$t('msn')" v-model="listQuery.msn" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" clearable />
        <el-input :placeholder="$t('wechat')" v-model="listQuery.wechat" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" clearable />
        <city-picker v-model="listQuery.area" class="filter-item" v-show="queryType=='adv'" />
        <el-select v-model="listQuery.enabled" :placeholder="$t('enabled')" clearable class="filter-item" style="width:200px" v-show="queryType=='adv'">
            <el-option v-for="item in enableds" :key="item.code" :label="item.name" :value="item.code" />
        </el-select>
        <el-date-picker v-model="createTime" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-date-picker v-model="lockTime" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('lockStartTime')" :end-placeholder="$t('lockEndTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-date-picker v-model="birthday" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('birthdayStartTime')" :end-placeholder="$t('birthdayEndTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
        <el-button class="filter-item" type="text" @click="changeSearch">{{queryType=='adv'?$t('simpleSearch'):$t('advSearch')}}</el-button>
    </div>
    <div class="filter-toolbar">
        <el-button v-if="hasAuth('user:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
        <el-button v-if="hasAuth('user:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{$t('delBatch')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
        <el-table-column type="selection" width="40" />
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
        <el-table-column type="expand">
            <template slot-scope="scope">
                <el-form label-position="right" label-width="100px">
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('mobile')">
                                <span>{{scope.row.mobile}}</span>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('idNo')">
                                <span>{{scope.row.idNo}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('realName')">
                                <span>{{scope.row.realName}}</span>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('nickname')">
                                <span>{{scope.row.nickname}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('msn')">
                                <span>{{scope.row.msn}}</span>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('qq')">
                                <span>{{scope.row.qq}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('wechat')">
                                <span>{{scope.row.wechat}}</span>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('email')">
                                <span>{{scope.row.email}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('headImg')">
                                <el-image :src="scope.row.headImg"></el-image>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('addr')">
                                <span>{{scope.row.area}}{{scope.row.addr}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('lockTime')">
                                {{scope.row.lockTime|dateFormatter}}
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column :label="$t('username')" prop="username" align="center" min-width="150" />
        <el-table-column :label="$t('realName')" prop="realName" align="center" width="150" />
        <el-table-column :label="$t('mobile')" prop="mobile" align="center" width="150" />
        <el-table-column :label="$t('birthday')" prop="birthday" align="center" width="150">
            <template slot-scope="scope">{{scope.row.birthday|shortDateFormatter}}</template>
        </el-table-column>
        <el-table-column :label="$t('createTime')" prop="createTime" align="center" width="160">
            <template slot-scope="scope">{{scope.row.createTime|dateFormatter}}</template>
        </el-table-column>
        <el-table-column :label="$t('enabled')" prop="enabled" align="center" width="100">
            <template slot-scope="scope">
                <el-switch v-model="scope.row.enabled" active-value="T" inactive-value="F"></el-switch>
            </template>
        </el-table-column>
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="300" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('user:resetPassword')" v-waves type="primary" plain :disabled="isDisable" @click="resetpw(scope.row)">{{$t('resetpw')}}</el-button>
                <el-button v-if="hasAuth('user:edit')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('user:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    <reset-password v-if="resetPasswordDialogFormVisible" ref="resetPassword" @refreshList="getList" />
</div>
</template>

<script>
import userApi from "@/api/UserApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import ResetPassword from "./ResetPassword";
import formatDate from '@/utils/Date';
import CityPicker from '@/components/CityPicker';
import {
    mapGetters
} from "vuex";
export default {
    name: 'user',
    components: {
        Pagination,
        Edit,
        ResetPassword,
        CityPicker
    },
    mixins: [list],
    data() {
        return {
            resetPasswordDialogFormVisible: false,
            createTime: null,
            lockTime: null,
            birthday: null,
            listQuery: {
                area: "",
                email: "",
                enabled: "",
                idNo: "",
                mobile: "",
                msn: "",
                nickname: "",
                qq: "",
                realName: "",
                username: "",
                wechat: "",
                startTime: '',
                endTime: '',
                lockStartTime: '',
                lockEndTime: '',
                birthdayStartTime: '',
                birthdayEndTime: '',
            }
        };
    },
    created() {
        this.$store.dispatch('enabled');
        this.getList();
    },
    computed: {
        ...mapGetters(['enableds'])
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            userApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.list = [];
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.createTime = null;
            this.lockTime = null;
            this.birthday = null;
            this.listQuery.idNo = "";
            this.listQuery.email = "";
            this.listQuery.enabled = "";
            this.listQuery.msn = "";
            this.listQuery.nickname = "";
            this.listQuery.area = "";
            this.listQuery.qq = "";
            this.listQuery.wechat = "";
        },
        changeQuery() {
            if (this.createTime != null) {
                this.listQuery.startTime = formatDate(this.createTime[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.endTime = formatDate(this.createTime[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.startTime = '';
                this.listQuery.endTime = '';
            }
            if (this.lockTime != null) {
                this.listQuery.lockStartTime = formatDate(this.createTime[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.lockEndTime = formatDate(this.createTime[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.lockStartTime = '';
                this.listQuery.lockEndTime = '';
            }
            if (this.birthday != null) {
                this.listQuery.birthdayStartTime = formatDate(this.birthday[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.birthdayEndTime = formatDate(this.birthday[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.birthdayStartTime = '';
                this.listQuery.birthdayEndTime = '';
            }
        },
        resetpw(row) {
            this.isDisable = true
            setTimeout(() => {
                this.isDisable = false
            }, 500);
            this.resetPasswordDialogFormVisible = true;
            this.$nextTick(() => {
                this.$refs.resetPassword.init(row.id);
            });
        },
        //删除
        delAction(id) {
            userApi.del(id).then(({
                data
            }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    }
};
</script>
