<template>
<el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('realName')" prop="realName">
                <el-input v-model="formdata.realName" :placeholder="$t('validate.realName')" clearable />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('idNo')" prop="idNo">
                <el-input v-model="formdata.idNo" :placeholder="$t('validate.idNo')" clearable />
            </el-form-item>
        </el-col>
    </el-row>
    <el-form-item :label="$t('area')" prop="area">
        <city-picker v-model="formdata.area" style="height:36px;width:300px" />
    </el-form-item>
    <el-form-item :label="$t('addr')" prop="addr">
        <el-input v-model="formdata.addr" :placeholder="$t('validate.addr')" clearable />
    </el-form-item>
    <el-form-item :label="$t('email')" prop="email">
        <el-input v-model="formdata.email" :placeholder="$t('validate.email')" clearable />
    </el-form-item>
    <el-form-item :label="$t('birthday')" prop="birthday">
        <el-date-picker v-model="formdata.birthday" type="date" :placeholder="$t('validate.birthday')" value-format="yyyy-MM-dd" />
    </el-form-item>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('nickname')" prop="nickname">
                <el-input v-model="formdata.nickname" :placeholder="$t('validate.nickname')" clearable />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('wechat')" prop="wechat">
                <el-input v-model="formdata.wechat" :placeholder="$t('validate.wechat')" clearable />
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('msn')" prop="msn">
                <el-input v-model="formdata.msn" :placeholder="$t('validate.msn')" clearable />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('qq')" prop="qq">
                <el-input v-model="formdata.qq" :placeholder="$t('validate.qq')" clearable />
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('mobile')" prop="mobile">
                <el-input v-model="formdata.mobile" :placeholder="$t('validate.mobile')" clearable />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('enabled')" prop="enabled">
                <el-switch active-value="T" inactive-value="F" v-model="formdata.enabled"></el-switch>
            </el-form-item>
        </el-col>
    </el-row>
    <el-form-item :label="$t('headImg')" prop="headImg">
        <single-img v-model="formdata.headImg" :placeholder="$t('validate.headImg')" />
    </el-form-item>
</el-form>
</template>

<script>
import CityPicker from '@/components/CityPicker';
import formatDate from "@/utils/Date";
import SingleImg from '@/components/SingleImg';
export default {
    components: {
        CityPicker,
        SingleImg
    },
    data() {
        return {
            formdata: {
                id: '',
                area: '浙江省',
                addr: '',
                birthday: null,
                email: '',
                enabled: true,
                headImg: '',
                idNo: '',
                mobile: '',
                msn: '',
                nickname: '',
                qq: '',
                realName: '',
                wechat: '',
            },
        }
    },
    computed: {
        rules() {
            return {
                addr: [{
                        message: this.$t("validate.addr"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                email: [{
                        message: this.$t("validate.email"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.emailValidator,
                        trigger: 'blur'
                    }
                ],
                headImg: [{
                        message: this.$t("validate.headImg"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                idNo: [{
                        message: this.$t("validate.idNo"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.idNoValidator,
                        trigger: 'blur'
                    }
                ],
                mobile: [{
                        message: this.$t("validate.mobile"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.mobileValidator,
                        trigger: 'blur'
                    }
                ],
                msn: [{
                        message: this.$t("validate.msn"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                nickname: [{
                        message: this.$t("validate.nickname"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                qq: [{
                        message: this.$t("validate.qq"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],
                realName: [{
                        message: this.$t("validate.realName"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                wechat: [{
                        message: this.$t("validate.wechat"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(obj) {
            this.resetVal({
                id: obj.id,
                area: obj.area,
                addr: obj.addr,
                birthday: obj.birthday != undefined ? formatDate(new Date(obj.birthday), "yyyy-MM-dd") : '',
                email: obj.email,
                enabled: obj.enabled,
                headImg: obj.headImg,
                idNo: obj.idNo,
                mobile: obj.mobile,
                msn: obj.msn,
                nickname: obj.nickname,
                qq: obj.qq,
                realName: obj.realName,
                username: obj.username,
                wechat: obj.wechat,
            });
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.area = obj.area;
            this.formdata.addr = obj.addr;
            this.formdata.birthday = obj.birthday;
            this.formdata.email = obj.email;
            this.formdata.enabled = obj.enabled;
            this.formdata.headImg = obj.headImg;
            this.formdata.idNo = obj.idNo;
            this.formdata.mobile = obj.mobile;
            this.formdata.msn = obj.msn;
            this.formdata.nickname = obj.nickname;
            this.formdata.qq = obj.qq;
            this.formdata.realName = obj.realName;
            this.formdata.username = obj.username;
            this.formdata.wechat = obj.wechat;
        },
    }
}
</script>
