<template>
    <div class="app-container">
        <div class="filter-container">
            <el-select v-model="listQuery.dataIndustryId" class="filter-item" :placeholder="$t('dataIndustryId')" clearable style="width:200px">
                <el-option v-for="item in dataIndustries" :key="item.id" :label="item.name" :value="item.id"> </el-option>
            </el-select>
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType == 'adv'" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('dataType:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('dataType:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('name')" prop="name" align="center" min-width="100" />
            <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="300" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('dataTopo:list')" v-waves type="primary" plain :disabled="isDisable" @click="dataTopo(scope.row)">{{ $t('dataTopo') }}</el-button>
                    <el-button v-if="hasAuth('dataType:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('dataType:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import dataTypeApi from '@/api/DataTypeApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'dataType',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                dataIndustryId: '',
                name: '',
            },
        };
    },
    created() {
        this.$store.dispatch('dataIndustry');
        this.getList();
    },
    computed: {
        ...mapGetters(['dataIndustries']),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        dataTopo(row) {
            // this.$router.push({ name: 'dataTopo', params: { dataTypeId: row.id, dataTypeName: row.name } });
            this.$router.push({ path: '/dataTopo', query: { dataTypeId: row.id, dataTypeName: row.name } });
        },
        getList() {
            this.listLoading = true;
            //查数据库
            dataTypeApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {},
        changeQuery() {},
        //删除
        delAction(id) {
            dataTypeApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
