<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('listingMarket')" prop="listingMarket">
            <el-input v-model="formdata.listingMarket"   :placeholder="$t('validate.listingMarket')" />
        </el-form-item>
        <el-form-item :label="$t('seurityCode')" prop="seurityCode">
            <el-input v-model="formdata.seurityCode"   :placeholder="$t('validate.seurityCode')" />
        </el-form-item>
        <el-form-item :label="$t('tradingMarket')" prop="tradingMarket">
            <el-input v-model="formdata.tradingMarket"   :placeholder="$t('validate.tradingMarket')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import securityApi from "@/api/SecurityApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               listingMarket:'',
               seurityCode:'',
               tradingMarket:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 listingMarket: [{
                        required: true,
                        message: this.$t("validate.listingMarket"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 seurityCode: [{
                        required: true,
                        message: this.$t("validate.seurityCode"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 tradingMarket: [{
                        required: true,
                        message: this.$t("validate.tradingMarket"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 listingMarket:'',
              		 seurityCode:'',
              		 tradingMarket:'',
                })
            } else {
                securityApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              listingMarket:data.obj.listingMarket,
					              seurityCode:data.obj.seurityCode,
					              tradingMarket:data.obj.tradingMarket,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.listingMarket=obj.listingMarket;
              this.formdata.seurityCode=obj.seurityCode;
              this.formdata.tradingMarket=obj.tradingMarket;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        securityApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        securityApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
