<template>
<el-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('name')" prop="name">
                    <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('cat')" prop="cat">
                    <el-select v-model="formdata.cat" :placeholder="$t('validate.cat')" clearable>
                        <el-option v-for="item in optionCats" :key="item.code" :label="item.name" :value="item.code">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('code')" prop="code">
                    <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                    <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-form-item :label="$t('inputType')" prop="inputType">
            <el-select v-model="formdata.inputType" placeholder="请选择" clearable @change="changeSelect">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
            <el-button v-if="formdata.inputType=='selected'" @click="addTemp" style="margin-left:4px">{{$t('add')}}</el-button>
        </el-form-item>
        <el-row v-if="formdata.inputType=='num'" :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('min')">
                    <el-input-number v-model="numberSetting.min" :max="numberSetting.max" :precision="numberSetting.precision" :step="numberSetting.step" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('max')">
                    <el-input-number v-model="numberSetting.max" :min="numberSetting.min" :precision="numberSetting.precision" :step="numberSetting.step" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row v-if="formdata.inputType=='num'" :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('precision')">
                    <el-input-number v-model="numberSetting.precision" :min="0" :max="10" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('step')">
                    <el-input-number v-model="numberSetting.step" :precision="numberSetting.precision" :step="1.0/Math.pow(10,numberSetting.precision)" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row v-if="formdata.inputType=='selected'">
            <el-table :data="items" style="width:100%">
                <el-table-column :label="$t('optionName')" width="150px">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.name" :placeholder="$t('validate.optionName')" />
                    </template>
                </el-table-column>
                <el-table-column :label="$t('optionVal')" min-width="150px">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.val" :placeholder="$t('validate.optionVal')" />
                    </template>
                </el-table-column>
                <el-table-column fixed="right" :label="$t('operate')" width="200px">
                    <template slot-scope="scope">
                        <div class="operate-groups">
                            <el-button v-waves type="danger" plain size="mini" @click="del(scope.$index, scope.row)">{{$t('del')}}</el-button>
                            <el-button plain class="up" type="primary" size="mini" icon="el-icon-arrow-up" @click="handleUp(scope.$index, scope.row)"></el-button>
                            <el-button plain class="down" type="primary" size="mini" icon="el-icon-arrow-down" @click="handleDown(scope.$index, scope.row)"></el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import sysOptionApi from "@/api/SysOptionApi";
import edit from "@/utils/mixins/Edit";
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            items: [],
            options: [{
                    value: "text",
                    label: "文本"
                },
                {
                    value: "textarea",
                    label: "文本域"
                },
                {
                    value: "num",
                    label: "数字"
                },
                {
                    value: "selected",
                    label: "选项"
                },
                {
                    value: "date",
                    label: "日期"
                }
            ],
            numberSetting: {
                min: 0,
                max: 100,
                precision: 2,
                step: 1
            },
            formdata: {
                id: "",
                cat: "",
                code: "",
                inputType: "",
                name: "",
                sortOrder: 999,
                typeVal: "",
                val: "",
                val2: ""
            }
        };
    },
    created() {
        this.$store.dispatch('optionCat');
    },
    computed: {
        ...mapGetters(['optionCats']),
        rules() {
            return {
                cat: [{
                        required: true,
                        message: this.$t("validate.cat"),
                        trigger: "blur"
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: "blur"
                    }
                ],
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: "blur"
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: "blur"
                    }
                ],
                inputType: [{
                        required: true,
                        message: this.$t("validate.inputType"),
                        trigger: "blur"
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: "blur"
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: "blur"
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: "blur"
                    }
                ]
            };
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: "",
                    cat: "",
                    code: "",
                    inputType: "",
                    name: "",
                    sortOrder: 999,
                    typeVal: "",
                    val: "",
                    val2: ""
                });
            } else {
                sysOptionApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cat: data.obj.cat,
                            code: data.obj.code,
                            inputType: data.obj.inputType,
                            name: data.obj.name,
                            sortOrder: data.obj.sortOrder,
                            typeVal: data.obj.typeVal,
                            val: data.obj.val,
                            val2: data.obj.val2
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cat = obj.cat;
            this.formdata.code = obj.code;
            this.formdata.inputType = obj.inputType;
            this.formdata.name = obj.name;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.typeVal = obj.typeVal;
            this.formdata.val = obj.val;
            this.formdata.val2 = obj.val2;
            this.items = [];
            this.numberSetting.min = 0;
            this.numberSetting.max = 100;
            this.numberSetting.precision = 2;
            this.numberSetting.step = 1;
            if (this.formdata.inputType != '') {
                if (this.formdata.inputType == 'num') {
                    let val = this.formdata.typeVal.split(":");
                    this.numberSetting.min = parseFloat(val[0]);
                    this.numberSetting.max = parseFloat(val[1]);
                    this.numberSetting.precision = parseFloat(val[2]);
                    this.numberSetting.step = parseFloat(val[3]);

                } else if (this.formdata.inputType == 'selected') {
                    let val = this.formdata.typeVal.split(",");
                    for (let i = 0; i < val.length; i++) {
                        let item = val[i].split(":");
                        this.items.push({
                            name: item[0],
                            val: item[1]
                        });
                    }
                }
            }
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    //开始处理
                    if (this.formdata.inputType == 'selected') {
                        for (let i in this.items) {
                            let name = this.items[i].name;
                            let val = this.items[i].val;
                            if (name == '') {
                                this.$message.error(this.$t('validate.optionName'));
                                return;
                            }
                            if (name.indexOf(':') != -1 || name.indexOf(',') != -1) {
                                this.$message.error(this.$t('validate.optionNameRule'));
                                return;
                            }
                            if (val == '') {
                                this.$message.error(this.$t('validate.optionVal'));
                                return;
                            }
                            if (val.indexOf(':') != -1 || val.indexOf(',') != -1) {
                                this.$message.error(this.$t('validate.optionValRule'));
                                return;
                            }
                        }
                    }
                    if (this.formdata.inputType == 'num') {
                        this.formdata.typeVal = this.numberSetting.min + ":" + this.numberSetting.max + ":" + this.numberSetting.precision + ":" + this.numberSetting.step;
                    } else if (this.formdata.inputType == 'selected') {
                        var kv = [];
                        for (let i = 0; i < this.items.length; i++) {
                            kv.push(this.items[i].name + ":" + this.items[i].val);
                        }
                        this.formdata.typeVal = kv.join(',');
                    }
                    if (this.editFlag) {
                        sysOptionApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit("refreshList");
                            }
                        });
                    } else {
                        sysOptionApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit("refreshList");
                            }
                        });
                    }
                }
            });
        },
        swapItems(arr, index1, index2) {
            arr[index1] = arr.splice(index2, 1, arr[index1])[0];
            return arr;
        },
        handleUp($index, row) {
            if ($index === 0) {
                return;
            }
            this.swapItems(this.items, $index, $index - 1);
        },
        handleDown($index, row) {
            if ($index === this.items.length - 1) {
                return;
            }
            this.swapItems(this.items, $index, $index + 1);
        },

        // 新增一条模板数据
        addTemp() {
            this.items.push({
                name: "",
                val: ""
            });
        },
        changeSelect() {
            if (this.formdata.inputType == 'selected') {
                if (this.items.length == 0) {
                    this.addTemp();
                }
            }
        },
        // 删除
        del($index, row) {
            if (this.items.length == 1) {
                this.$message.error(this.$t("must.keep.one.record"));
                return;
            }
            this.items.splice($index, 1);
        }
    }
};
</script>
