<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <link rel="stylesheet" href="plugins/element-ui/lib/theme-chalk/index.css" />
        <link rel="stylesheet" href="plugins/city-picker/city-picker.css" />
        <script src="plugins/vue/dist/vue.js"></script>
        <script src="plugins/element-ui/lib/index.js"></script>
        <script src="plugins/jquery/jquery.min.js"></script>
        <script src="plugins/city-picker/city-picker.data.js"></script>
        <script src="plugins/city-picker/city-picker.js"></script>
        <script src="plugins/jtopo/jtopo-0.4.8-min.js"></script>
        <script src="plugins/ckeditor/ckeditor.js"></script>
        <title>analysis-vue-admin</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but mall-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
