@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
body{
    height: 100%;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,Microsoft YaHei ,Arial ,sans-serif;
}
label{
    font-weight: 700;
}
html{
    height: 100%;
    box-sizing: border-box;
}
#app{
    height: 100%;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

.no-padding{
    padding: 0px;
}
.padding-content{
    padding: 4px 0;
}
a:focus,
a:active{
    outline: none;
}

a,
a:focus,
a:hover{
    cursor: pointer;
    color:inherit;
    text-decoration: none;
}

div:focus{
    //在border外面加边框
    outline: none;
}
.fr{
    float: right;
}
.fl{
    float:left;
}
.pr-5{
    padding-right: 5px;
}
.pl-5{
    padding-left: 5px;
}
.block{
    display: block;
}
.pointer{
    cursor: pointer;
}
.inlineBlock{
    display: block;
}
.clearfix{
    &:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear:both;
        height: 0;

    }
}
code{
    background: #eef1f6;
    padding:15px 16px;
    margin-bottom: 20px;
    display: block;
    line-height: 36px;
    font-size: 15px;
    font-family: "Source Sans Pro","Helvetica Neue",Arial, Helvetica, sans-serif;
    a{
        color:#337ab7;
        cursor: pointer;

        &:hover{
            color:rgb(32,160,255);
        }
    }
}
.warn-content{
    background: rgba(66,185,131,.1);
    border-radius: 2px;
    padding: 16px;
    padding: 1rem;
    line-height: 1.6rem;
    word-spacing: .05rem;
    a{ 
        color:#43b983; 
        font-weight: 600;
    }
}
//main-container全局样式
.app-container{
    padding: 20px;
}
.components-container{
    margin:30px 50px;
    position: relative;
}

.pagination-container{
    margin-top: 30px;
}
.text-center{
    text-align: center;
}
.sub-navbar{
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right:20px;
    transition:600ms ease position;
    background: linear-gradient(90deg,rgba(32,182,249,1) 0%,rgba(32,182,249,1) 0%,rgba(33,120,241,1) 100%,rgba(33,120,241,1) 100%);
    .subtitle{
        font-size:20px;
        color:#fff;
    }
    &.draft{
        background:#d0d0d0;
    }
    &.deleted{
        background:#d0d0d0;
    }

}
.link-type,
.link-type:focus{
    color:#3371b7;
    cursor: pointer;

    &:hover{
        color:rgb(32,160,255);
    }
}
.filter-container{
     padding-bottom: 6px;
    .filter-item{
        vertical-align: middle;
       margin-bottom: 5px;
        margin-right: 5px;
    }
    .filter-query{
        display: inline-block;
        margin-left: 20px;
        color: gray;
        font-size: 14px;
        span{
            display: none;
            margin-left:8px;
        }
        &:hover{
            color:rgb(32,160,255);  
            span{
                display:inline;
            }
        }
    }
}
.filter-toolbar{
    .filter-item{
        vertical-align: middle;
        margin-bottom: 4px;
    }
}
.multiselect{
    line-height: 16px;
}
.multiselect--active{
    z-index: 1000;
}
.div-tree {
    width: 270px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
:focus{
    outline:0;
}