<template>
<el-dialog v-el-drag-dialog :title=" $t('addOutPic')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close" append-to-body>
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('picName')" prop="picName">
            <el-input v-model="formdata.picName" :placeholder="$t('validate.picName')" />
        </el-form-item>
        <el-form-item :label="$t('picUrl')" prop="picUrl">
            <el-input v-model="formdata.picUrl" :placeholder="$t('validate.picUrl')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import edit from '@/utils/mixins/Edit';
import _ from 'lodash';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            cat: '',
            formdata: {
                picName: '',
                picUrl: ''
            }
        }
    },
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                picName: [{
                        message: this.$t("picName"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                picUrl: [{
                        message: this.$t("validate.picUrl"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.urlValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init() {
            this.formdata.picName = '',
                this.formdata.picUrl = ''
            this.show(true)
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    this.dialogFormVisible = false;
                    this.$emit("addOutPic", this.formdata)
                }

            });
        },
    }
};
</script>
