<template>
<el-dialog v-el-drag-dialog :title=" $t('addOutVideo')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close" append-to-body>
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('videoName')" prop="videoName">
            <el-input v-model="formdata.videoName" :placeholder="$t('validate.videoName')" />
        </el-form-item>
        <el-form-item :label="$t('videoUrl')" prop="videoUrl">
            <el-input v-model="formdata.videoUrl" :placeholder="$t('validate.videoUrl')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import edit from '@/utils/mixins/Edit';
import _ from 'lodash';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                videoName: '',
                videoUrl: ''
            }
        }
    },
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                videoName: [{
                        message: this.$t("videoName"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                videoUrl: [{
                        message: this.$t("validate.videoUrl"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.urlValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init() {
            this.formdata.videoName = '',
                this.formdata.videoUrl = ''
            this.show(true)
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    this.dialogFormVisible = false;
                    this.$emit("addOutVideo", this.formdata)
                }

            });
        },
    }
};
</script>
