<template>
<el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
    <el-form-item :label="$t('cat')" prop="cat">
        <el-select v-model="formdata.cat" :placeholder="$t('select')" @change="changeCat">
            <el-option v-for="item in docTypes" :key="item.code" :label="item.name" :value="item.code"></el-option>
        </el-select>
    </el-form-item>
    <template v-if="this.formdata.cat=='DOC'">
        <el-form-item :label="$t('doc')">
            <el-upload :action="uploadUrl" name="file" :file-list="fileList" :on-success="handleFileSuccess" :before-upload="beforeFileUpload" :before-remove="beforeFileRemove" :on-remove="handleFileRemove" :data="upload">
                <el-button plain type="primary">点击上传</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button plain type="primary" @click="showAlbum('3')">{{$t('selectFolder')}}</el-button>
        </el-form-item>
    </template>
    <template v-if="this.formdata.cat!='DOC'">
        <el-form-item :label="$t('pic')">
            <el-upload list-type="picture-card" :file-list="picList" class="avatar-uploader" :action="uploadUrl" :accept="'image/*'" name="file" :on-success="handlePicSuccess" :before-upload="beforePicUpload" :data="upload">
                <i slot="default" class="el-icon-plus"></i>
                <div slot="file" slot-scope="{file}">
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt />
                    <span class="el-upload-list__item-actions">
                        <span class="el-upload-list__item-preview" @click="handlePreview(file)">
                            <i class="el-icon-zoom-in"></i>
                        </span>
                        <span class="el-upload-list__item-delete" @click="handlePicRemove(file)">
                            <i class="el-icon-delete"></i>
                        </span>
                    </span>
                </div>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" plain @click="addOutPic">{{$t('addOutPic')}}</el-button>
            <el-button plain type="primary" @click="showAlbum('0')">{{$t('selectFolder')}}</el-button>
        </el-form-item>
    </template>
    <template v-if="this.formdata.cat=='AUDIO'">
        <el-form-item :label="$t('audio')">
            <el-upload list-type="picture-card" class="audio" :accept="'audio/*'" :file-list="audioList" :action="uploadUrl" :on-success="handleAudioSuccess" name="file" :before-upload="beforeAudioUpload" :data="upload">
                <i slot="default" class="el-icon-plus"></i>
                <div slot="file" slot-scope="{file}">
                    <audio controls>
                        <source :src="file.url" />
                    </audio>
                    <span class="el-upload-list__item-delete" @click="handleAudioRemove(file)">
                        <i class="el-icon-delete"></i>
                    </span>
                </div>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" plain @click="addOutAudio">{{$t('addOutAudio')}}</el-button>
            <el-button plain type="primary" @click="showAlbum('2')">{{$t('selectFolder')}}</el-button>
        </el-form-item>
    </template>
    <template v-if="this.formdata.cat=='VIDEO'">
        <el-form-item :label="$t('video')">
            <el-upload list-type="picture-card" class="video" :accept="'video/*'" :on-success="handleVideoSuccess" :before-upload="beforeVideoUpload" :action="uploadUrl" name="file" :file-list="videoList" :data="upload">
                <i slot="default" class="el-icon-plus"></i>
                <div slot="file" slot-scope="{file}">
                    <video :src="file.url" controls="controls">您的浏览器不支持 video 标签。</video>
                    <span class="el-upload-list__item-delete" @click="handleRemoveVideo(file)">
                        <i class="el-icon-delete"></i>
                    </span>
                </div>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" plain @click="addOutVideo">{{$t('addOutVideo')}}</el-button>
            <el-button plain type="primary" @click="showAlbum('1')">{{$t('selectFolder')}}</el-button>
        </el-form-item>
    </template>
    <preview ref="preview" />
    <add-out-audio ref="addOutAudio" @addOutVideo="addToAudioFile" />
    <add-out-pic ref="addOutPic" @addOutPic="addToFile" />
    <add-out-video ref="addOutVideo" @addOutVideo="addToVideo" />
    <album v-if="albumVisible" ref="album" @selectFiles="selectFiles" />
</el-form>
</template>

<script>
import edit from "@/utils/mixins/Edit";
import Preview from "./Preview";
import AddOutPic from "./AddOutPic";
import AddOutAudio from "./AddOutAudio";
import addOutVideo from "./AddOutVideo";
import Album from '@/views/pages/Album';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        Preview,
        AddOutPic,
        AddOutAudio,
        addOutVideo,
        Album
    },
    data() {
        return {
            albumVisible: false,
            uploadUrl: "/api/file/upload",
            upload: {},
            fileList: [],
            picList: [],
            audioList: [],
            videoList: [],
            formdata: {
                cat: "PIC",
                pic: "",
                url: "",
                audio: ""
            }
        };
    },
    created() {
        this.$store.dispatch("docType");
    },
    computed: {
        ...mapGetters(["docTypes"]),
        rules() {
            return {};
        }
    },
    methods: {
        init(obj) {
            this.formdata.pic = obj.pic;
            this.formdata.cat = obj.cat;
            this.formdata.audio = obj.audio;
            this.fileList = [];
            this.picList = [];
            this.audioList = [];
            this.videoList = [];
            if (this.formdata.cat == "DOC") {
                if (obj.pic && obj.pic.length > 0) {
                    this.fileList = JSON.parse(obj.pic);
                }
            } else if (this.formdata.cat == "PIC") {
                if (obj.pic && obj.pic.length > 0) {
                    this.picList = JSON.parse(obj.pic);
                }
            } else if (this.formdata.cat == "AUDIO") {
                if (obj.pic && obj.pic.length > 0) {
                    this.picList = JSON.parse(obj.pic);
                }
                if (obj.audio && obj.audio.length > 0) {
                    this.audioList = JSON.parse(obj.audio);
                }

            } else if (this.formdata.cat == "VIDEO") {
                if (obj.pic && obj.pic.length > 0) {
                    this.picList = JSON.parse(obj.pic);
                }
                if (obj.video && obj.video.length > 0) {
                    this.videoList = JSON.parse(obj.video);
                }
            }

        },
        //doc
        handleFileSuccess(res) {
            this.fileList.push({
                name: res.obj.oldName,
                url: res.obj.url
            });
        },
        beforeFileUpload(file) {
            const isLt2M = file.size < 1024 * 1024 * 20;
            if (!isLt2M) {
                this.$message.error("文件不能大于20M");
            }
            return isLt2M;
        },
        beforeFileRemove(file) {
            return this.$confirm(`确定移除 ${file.name}？`);
        },
        handleFileRemove(file, fileList) {
            let index = this.fileList.findIndex(fileItem => {
                return fileItem.url === file.url;
            });
            this.fileList.splice(index, 1);
            this.changeCat();
        },
        selectFiles(cat, files) {
            this.albumVisible = false;
            if (cat == '0') {
                this.picList.push({
                    name: files[0].oldName,
                    url: files[0].url
                });
            } else if (cat == '1') {
                this.videoList.push({
                    name: files[0].oldName,
                    url: files[0].url
                });
            } else if (cat == '2') {
                this.audioList.push({
                    name: files[0].oldName,
                    url: files[0].url
                });
            } else if (cat == '3') {
                this.fileList.push({
                    name: files[0].oldName,
                    url: files[0].url
                });
            }
            this.changeCat();
        },
        //PIC
        handlePicSuccess(res, file) {
            this.picList.push({
                name: res.obj.oldName,
                url: res.obj.url
            });
            this.changeCat();
        },
        addToFile(data) {
            this.fileList.push({
                name: data.picName,
                url: data.picUrl
            });
            this.changeCat();
        },
        beforePicUpload(file) {
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isLt2M) {
                this.$message.error("上传图片大小不能超过 2MB!");
            }
            return isLt2M;
        },
        handlePreview(file) {
            this.$nextTick(() => {
                this.$refs.preview.init(file);
            });
        },
        showAlbum(cat) {
            this.albumVisible = true;
            this.$nextTick(() => {
                this.$refs.album.init(cat);
            });
        },
        //audio
        beforeAudioUpload(file) {
            const isLt20M = file.size / 1024 / 1024 < 20;
            if (!isLt20M) {
                this.$message.error("上传文件不能超过 20MB!");
            }
            return isLt20M;
        },
        handleAudioSuccess(res, file) {
            this.audioList.push({
                name: res.obj.oldName,
                url: res.obj.url
            });
            this.changeCat();
        },
        addToAudioFile(data) {
            this.audioList.push({
                name: data.picName,
                url: data.picUrl
            });
            this.changeCat();
        },
        beforeAudioRemove(file) {
            return this.$confirm(`确定移除 ${file.name}？`);
        },
        handlePicRemove(file) {
            this.$confirm(`确定移除 ${file.name}？`)
                .then(() => {
                    let index = this.picList.findIndex(fileItem => {
                        return fileItem.url === file.url;
                    });
                    this.picList.splice(index, 1);
                    this.changeCat();
                })
                .catch(() => {});
        },
        handleAudioRemove(file) {
            this.$confirm(`确定移除 ${file.name}？`)
                .then(() => {
                    let index = this.audioList.findIndex(fileItem => {
                        return fileItem.url === file.url;
                    });
                    this.audioList.splice(index, 1);
                    this.changeCat();
                })
                .catch(() => {});
        },
        addOutPic() {
            this.$nextTick(() => {
                this.$refs.addOutPic.init();
            });
        },
        addOutAudio() {
            this.$nextTick(() => {
                this.$refs.addOutAudio.init();
            });
        },
        addToVideo(data) {
            this.videoList.push({
                name: data.videoName,
                url: data.videoUrl
            });
            this.changeCat();
        },
        beforeVideoUpload(file) {
            const isLt20M = file.size / 1024 / 1024 < 20;
            if (!isLt20M) {
                this.$message.error("上传文件不能超过 20MB!");
            }
            return isLt20M;
        },
        handleVideoSuccess(res) {
            this.videoList.push({
                name: res.obj.oldName,
                url: res.obj.url
            });
            this.changeCat();
        },
        handleRemoveVideo(file) {
            this.$confirm(`确定移除 ${file.name}？`)
                .then(() => {
                    let index = this.videoList.findIndex(fileItem => {
                        return fileItem.url === file.url;
                    });
                    this.videoList.splice(index, 1);
                    this.changeCat();
                })
                .catch(() => {});
        },
        addOutVideo() {
            this.$nextTick(() => {
                this.$refs.addOutVideo.init();
            });
        },
        changeCat() {
            if (this.formdata.cat == "DOC") {
                if (this.fileList.length > 0) {
                    this.formdata.url = this.fileList[0].url;
                } else {
                    this.formdata.url = "";
                }
                this.formdata.pic = JSON.stringify(this.fileList);
                this.formdata.audio = "";
            } else if (this.formdata.cat == "PIC") {
                if (this.picList.length > 0) {
                    this.formdata.url = this.picList[0].url;
                } else {
                    this.formdata.url = "";
                }
                this.formdata.pic = JSON.stringify(this.picList);
                this.formdata.audio = "";
            } else if (this.formdata.cat == "AUDIO") {
                if (this.audioList.length > 0) {
                    this.formdata.url = this.audioList[0].url;
                } else {
                    this.formdata.url = "";
                }
                this.formdata.pic = JSON.stringify(this.picList);
                this.formdata.audio = JSON.stringify(this.audioList);
            } else if (this.formdata.cat == "VIDEO") {
                if (this.videoList.length > 0) {
                    this.formdata.url = this.videoList[0].url;
                } else {
                    this.formdata.url = "";
                }
                this.formdata.pic = JSON.stringify(this.picList);
                this.formdata.audio = JSON.stringify(this.videoList);
            }
        }
    }
};
</script>

<style lang="scss">
.audio {
    .el-upload-list--picture-card .el-upload-list__item {
        width: 350px;
        height: 60px;
    }

    .el-upload-list__item-delete {
        display: inline;
        font-size: 20px;
        line-height: 60px;
    }

    audio {
        line-height: 60px;
    }
}

.video {
    .el-upload-list--picture-card .el-upload-list__item {
        width: 400px;
        height: 400px;
    }

    .el-upload-list__item-delete {
        display: inline;
        font-size: 20px;
        line-height: 400px;
    }

    video {
        width: 400px;
        height: 400px;
    }
}
</style>
