<template>
<el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('parentName')" prop="parentName">
                <el-popover placement="bottom-start" v-model="parentListVisible" ref="parentListPopover" trigger="click">
                    <div class="div-tree">
                        <el-tree class="menu-tree" :data="parentList" :props="parentListTreeProps" node-key="id" ref="parentListTree" @current-change="parentListTreeCurrentChangeHandle" :default-expand-all="false" :highlight-current="true" :expand-on-click-node="false"></el-tree>
                    </div>
                </el-popover>
                <el-input v-model="formdata.parentName" v-popover:parentListPopover :readonly="true"></el-input>
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('src')" prop="src">
                <el-input v-model="formdata.src" :placeholder="$t('validate.src')" />
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('author')" prop="author">
                <el-input v-model="formdata.author" :placeholder="$t('validate.author')" />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('addDate')" prop="addDate">
                <el-date-picker v-model="formdata.addDate" type="date" :placeholder="$t('validate.addDate')" value-format="yyyy-MM-dd" />
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="24">
            <el-form-item :label="$t('tag')" prop="tag">
                <div>
                    <el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="handleClose(tag)">
                        {{tag}}
                    </el-tag>
                    <el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small" @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm">
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput">添加新标签</el-button>
                </div>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('enabled')" prop="enabled">
                <el-switch active-value="T" inactive-value="F" v-model="formdata.enabled"></el-switch>
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('isLeaf')" prop="isLeaf">
                <el-switch active-value="T" inactive-value="F" v-model="formdata.isLeaf"></el-switch>
            </el-form-item>

        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('target')" prop="target">
                <el-select v-model="formdata.target" :placeholder="$t('validate.target')" clearable>
                    <el-option v-for="item in targets" :key="item.code" :label="item.name" :value="item.code">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row :gutter="10" v-show="formdata.target!='none'">
        <el-col :span="24">
            <el-form-item :label="$t('link')" prop="link">
                <el-input v-model="formdata.link" :placeholder="$t('validate.link')" />
            </el-form-item>
        </el-col>
    </el-row>
</el-form>
</template>

<script>
import edit from '@/utils/mixins/Edit';
import cmsApi from '@/api/CmsApi';
import _ from 'lodash';
import formatDate from "@/utils/Date";
import {
    TreeDataTranslate
} from "@/utils/TreeTool";
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {},
    data() {
        return {
            dynamicTags: [],
            inputVisible: false,
            inputValue: '',
            parentListVisible: false,
            parentList: [],
            parentListTreeProps: {
                label: 'name',
                children: 'children'
            },
            formdata: {
                id: '',
                addDate: null,
                author: '',
                code: '',
                enabled: 'T',
                isLeaf: 'T',
                link: '',
                parentId: null,
                parentName: '',
                originalName: '',
                seoKeywords: '',
                seoDescription: '',
                seoTitle: '',
                sortOrder: 999,
                src: '',
                tag: '',
                target: '',
                name: '',
            }
        };
    },
    created() {
        this.$store.dispatch('target');
    },
    computed: {
        ...mapGetters(['targets']),
        rules() {
            return {
                addDate: [{
                        message: this.$t("validate.addDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                author: [{
                        message: this.$t("validate.author"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],
                link: [{
                        message: this.$t("validate.link"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.urlValidator,
                        trigger: 'blur'
                    }
                ],
                parentId: [{
                        message: this.$t("validate.parentId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                src: [{
                        message: this.$t("validate.src"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                tag: [{
                        message: this.$t("validate.tag"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                target: [{
                        message: this.$t("validate.target"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(obj) {
            cmsApi.findNav().then(({
                data
            }) => {
                if (data.flag) {
                    let parentList = TreeDataTranslate(data.obj || []);
                    this.parentList = [{
                        id: 0,
                        name: "导航",
                        children: parentList || []
                    }];

                }
                this.$nextTick(() => {
                    this.$refs.parentListTree.setCurrentKey(this.formdata.parentId);
                    this.formdata.parentName = (this.$refs.parentListTree.getCurrentNode() || {
                        id: 0,
                        'name': '导航'
                    })['name'];
                });
            });
            this.formdata.id = obj.id;
            this.formdata.addDate = formatDate(new Date(obj.addDate), 'yyyy-MM-dd HH:mm:ss');
            this.formdata.author = obj.author;
            this.formdata.code = obj.code;
            this.formdata.enabled = obj.enabled;
            this.formdata.isLeaf=obj.isLeaf;
            this.formdata.link = obj.link;
            this.formdata.parentId = obj.parentId;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.src = obj.src;
            this.formdata.tag = obj.tag;
            this.formdata.target = obj.target;
            this.formdata.name = obj.name;
            if (this.formdata.tag != '' && this.formdata.tag != null) {
                this.dynamicTags = this.formdata.tag.split(',');
            }

        },
        parentListTreeCurrentChangeHandle(data, node) {
            if (this.formdata.id != data.id) {
                this.formdata.parentId = data.id;
                this.formdata.parentName = data.name;
            } else {
                this.$message.error('父级不可以选择自己');
            }
            this.parentListVisible = false;
        },
        handleClose(tag) {
            this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
            this.formdata.tag = this.dynamicTags.join(',');
        },

        showInput() {
            this.inputVisible = true;
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },

        handleInputConfirm() {
            let inputValue = this.inputValue;
            if (inputValue) {
                if (this.dynamicTags.indexOf(inputValue) == -1) {
                    this.dynamicTags.push(inputValue);
                    this.formdata.tag = this.dynamicTags.join(',');
                } else {
                    this.$message.error('请不要添加重复标签');
                }

            }
            this.inputVisible = false;
            this.inputValue = '';
        }
    }
};
</script>

<style>
.el-tag+.el-tag {
    margin-left: 10px;
}

.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
}
</style>
