<template>
<el-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-tabs v-model="activeName">
            <el-tab-pane :label="$t('basicInfo')" name="one">
                <basic-info ref="basicInfo" />
            </el-tab-pane>
            <el-tab-pane :label="$t('attachment')" name="two">
                <attachment ref="attachment" />
            </el-tab-pane>
            <el-tab-pane :label="$t('pc')" name="three">
                <intro ref="intro" />
            </el-tab-pane>
            <el-tab-pane :label="$t('mobile')" name="four">
                <mobile-intro ref="mobileIntro" />
            </el-tab-pane>
            <el-tab-pane :label="$t('seo')" name="five">
                <seo ref="seo" />
            </el-tab-pane>
        </el-tabs>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import cmsApi from "@/api/CmsApi";
import edit from '@/utils/mixins/Edit';
import BasicInfo from "./BasicInfo";
import Attachment from "./Attachment";
import Intro from "./Intro";
import MobileIntro from "./MobileIntro";
import Seo from "./Seo";
import formatDate from "@/utils/Date";
import _ from 'lodash';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        BasicInfo,
        Attachment,
        Intro,
        MobileIntro,
        Seo
    },
    data() {
        return {
            name: '',
            activeName: 'one',
            formdata: {}
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {}
        }
    },
    methods: {
        init(id,parentId) {
            if (id == undefined) {
                this.show(false);
                Object.assign(this.formdata, {
                    id: null,
                    addDate: null,
                    audio: '',
                    cat: 'PIC',
                    originalName: '',
                    author: '',
                    code: '',
                    enabled: 'T',
                    isLeaf:'T',
                    intro: '',
                    link: '',
                    mobileIntro: '',
                    parentId: parentId,
                    pic: '',
                    seo: '',
                    sortOrder: 999,
                    src: '',
                    tag: '',
                    target: 'none',
                    name: '',
                });
                this.formdata.addDate = formatDate(new Date(), "yyyy-MM-dd HH:mm:ss");
                this.resetVal(this.formdata);
            } else {
                cmsApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        Object.assign(this.formdata, data.obj);
                        this.resetVal(this.formdata);
                    } 
                });

            }
        },
        resetVal(obj) {
            this.$nextTick(() => {
                this.$refs.basicInfo.$refs.dataForm.resetFields();
                this.$refs.basicInfo.init(obj);
                this.$refs.attachment.$refs.dataForm.resetFields();
                this.$refs.attachment.init(obj);
                this.$refs.intro.$refs.dataForm.resetFields();
                this.$refs.intro.init(obj);
                this.$refs.mobileIntro.$refs.dataForm.resetFields();
                this.$refs.mobileIntro.init(obj);
                this.$refs.seo.$refs.dataForm.resetFields();
                this.$refs.seo.init(obj);
            });
        },

        close(done) {
            this.$refs.basicInfo.$refs.dataForm.resetFields();
            this.$refs.attachment.$refs.dataForm.resetFields();
            this.$refs.intro.$refs.dataForm.resetFields();
            this.$refs.mobileIntro.$refs.dataForm.resetFields();
            this.$refs.seo.$refs.dataForm.resetFields();
            done();
        },
        saveAction() {
            this.$nextTick(() => {
                //串行校验然后AJAX上传
                let data = {};
                new Promise((resolve, reject) => {
                    this.$refs.basicInfo.$refs.dataForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'one'
                            throw new Error("one");
                        }
                    });
                    Object.assign(data, this.$refs.basicInfo.formdata);
                    resolve();
                }).then(() => {
                    this.$refs.attachment.$refs.dataForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'two'
                            throw new Error("two");
                        }
                    });
                    Object.assign(data, this.$refs.attachment.formdata);
                }).then(() => {
                    this.$refs.intro.$refs.dataForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'three'
                            throw new Error("three");
                        }
                    });
                    Object.assign(data, this.$refs.intro.formdata);
                }).then(() => {
                    this.$refs.mobileIntro.$refs.dataForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'four'
                            throw new Error("four");
                        }
                    });
                    Object.assign(data, this.$refs.mobileIntro.formdata);
                }).then(() => {
                    this.$refs.seo.$refs.dataForm.validate(valid => {
                        if (!valid) {
                            this.activeName = 'five'
                            throw new Error("five");
                        }
                    });
                    Object.assign(data, this.$refs.seo.formdata);
                }).then(() => {
                    if (this.editFlag) {
                        cmsApi.update(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        cmsApi.save(data).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }).catch(() => {});

            });
        },
    }
};
</script>
