<template>
<div class="frame">
    <div class="frame-left">
        <el-tree :data="menuList" :props="menuListTreeProps" node-key="id" ref="menuListTree" @current-change="treeCurrentChangeHandle" :default-expand-all="true" :highlight-current="true" :expand-on-click-node="false"></el-tree>
    </div>
    <div class="frame-right">
        <div class="app-container">
            <div class="filter-container">
                <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
                <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
                <el-input :placeholder="$t('author')" v-model="listQuery.author" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" />
                <el-select v-model="listQuery.enabled" :placeholder="$t('enabled')" clearable class="filter-item" style="width:200px" v-show="queryType=='adv'">
                    <el-option v-for="item in enableds" :key="item.code" :label="item.name" :value="item.code" />
                </el-select>
                <el-input :placeholder="$t('src')" v-model="listQuery.src" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" />
                <el-input :placeholder="$t('tag')" v-model="listQuery.tag" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" />
                <el-date-picker v-model="createDate" class="filter-item" style="line-height:30px" type="datetimerange" range-separator="~" :start-placeholder="$t('addStartTime')" :end-placeholder="$t('addEndTime')" v-show="queryType=='adv'"></el-date-picker>
                <el-date-picker v-model="addDate" class="filter-item" style="line-height:30px" type="datetimerange" range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" v-show="queryType=='adv'"></el-date-picker>
                <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
                <el-button class="filter-item" type="text" @click="changeSearch">{{queryType=='adv'?$t('simpleSearch'):$t('advSearch')}}</el-button>
            </div>
            <div class="filter-toolbar">
                <el-button v-if="hasAuth('cms:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
                <el-button v-if="hasAuth('cms:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{$t('delBatch')}}</el-button>
            </div>
            <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
                <el-table-column type="selection" width="40" />
                <el-table-column type="expand" fixed>
                    <template slot-scope="scope">
                        <el-form label-position="right" label-width="100px">
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item :label="$t('pic')">
                                        <span>{{scope.row.pic}}</span>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('audio')">
                                        <span>{{scope.row.audio}}</span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item :label="$t('target')">
                                        <span>{{scope.row.target}}</span>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('src')">
                                        <span>{{scope.row.src}}</span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item :label="$t('author')">
                                        <span>{{scope.row.author}}</span>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('tag')">
                                        <span>{{scope.row.tag}}</span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
                <el-table-column :label="$t('name')" prop="name" align="center" min-width="200" />
                <el-table-column :label="$t('code')" prop="code" align="center" width="200" />
                <el-table-column :label="$t('enabled')" prop="enabled" align="center" width="100">
                    <template slot-scope="scope">
                        <el-switch v-model="scope.row.enabled" active-value="T" inactive-value="F"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('isLeaf')" prop="isLeaf" align="center" width="100">
                    <template slot-scope="scope">
                        <el-switch v-model="scope.row.isLeaf" active-value="T" inactive-value="F"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('addDate')" prop="addDate" sortable="custom" align="center" width="160">
                    <template slot-scope="scope">{{scope.row.addDate|dateFormatter}}</template>
                </el-table-column>
                <el-table-column :label="$t('createTime')" prop="createTime" sortable="custom" align="center" width="160">
                    <template slot-scope="scope">{{scope.row.createTime|dateFormatter}}</template>
                </el-table-column>
                <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="80" />
                <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                    <template slot-scope="scope">
                        <el-button v-if="hasAuth('cms:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                        <el-button v-if="hasAuth('cms:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
            <edit v-if="dialogFormVisible" ref="edit" @refreshList="getTwo" />
        </div>
    </div>
</div>
</template>

<script>
import cmsApi from "@/api/CmsApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import formatDate from "@/utils/Date";
import {
    mapGetters
} from "vuex";
import {
    TreeDataTranslate
} from "@/utils/TreeTool";
export default {
    name: "cms",
    components: {
        Pagination,
        Edit
    },
    mixins: [list],
    data() {
        return {
            menuList: [],
            menuListTreeProps: {
                label: "name",
                children: "children"
            },
            createDate: null,
            addDate: null,
            listQuery: {
                name: "",
                code: "",
                startTime: "",
                endTime: "",
                addStartTime: "",
                addEndTime: "",
                author: "",
                enabled: "",
                parentId: "",
                src: "",
                tag: "",
                target: ""
            }
        };
    },
    created() {
        this.$store.dispatch('enabled');
        this.getTwo();
    },

    computed: {
        ...mapGetters(['enableds'])
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        //查找所有清单
        getNav() {
            cmsApi.findNav().then(({
                data
            }) => {
                if (data.flag) {
                    let parentList = TreeDataTranslate(data.obj || []);
                    this.menuList = [{
                        id: 0,
                        name: "导航",
                        children: parentList || []
                    }];
                }
            });
        },
        treeCurrentChangeHandle(data, node) {
            if (data.id != this.listQuery.parentId) {
                this.listQuery.parentId = data.id;
                //点击触发查询
                this.getList();
            }
        },
        getTwo() {
            this.getList();
            this.getNav();
        },
        getList() {
            this.listLoading = true;
            //查数据库
            cmsApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
        showDialog(id) {
            this.dialogFormVisible = true;
            this.$nextTick(() => {
                this.$refs.edit.init(id, this.listQuery.parentId);
            });
        },
        clearQuery() {
            this.listQuery.audio = "";
            this.listQuery.author = "";
            this.listQuery.code = "";
            this.listQuery.enabled = "";
            this.listQuery.link = "";
            this.listQuery.pic = "";
            this.listQuery.seo = "";
            this.listQuery.src = "";
            this.listQuery.tag = "";
            this.listQuery.target = "";
            this.createDate = null;
            this.addDate = null;
        },
        changeQuery() {
            if (this.createDate != null) {
                this.listQuery.startTime = formatDate(this.createDate[0], "yyyy-MM-dd HH:mm:ss");
                this.listQuery.endTime = formatDate(this.createDate[1], "yyyy-MM-dd HH:mm:ss");
            } else {
                this.listQuery.startTime = "";
                this.listQuery.endTime = "";
            }
            if (this.addDate != null) {
                this.listQuery.addStartTime = formatDate(this.addDate[0], "yyyy-MM-dd HH:mm:ss");
                this.listQuery.addEndTime = formatDate(this.addDate[1], "yyyy-MM-dd HH:mm:ss");
            } else {
                this.listQuery.addStartTime = "";
                this.listQuery.addEndTime = "";
            }
        },
        //删除
        delAction(id) {
            cmsApi.del(id).then(({
                data
            }) => {
                if (data.flag) {
                    this.getTwo();
                }
            });
        }
    }
};
</script>

<style lang="scss">
.frame {
    min-height: 100%;
    -webkit-transition: margin-left 0.28s;
    transition: margin-left 0.28s;
    position: relative;

    .frame-left {
        -webkit-transition: width 0.28s;
        transition: width 0.28s;
        width: 180px;
        height: 100%;
        position: relative;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        float: left;
        clear: both;
    }

    .frame-right {
        min-height: 100%;
        -webkit-transition: margin-left 0.28s;
        transition: margin-left 0.28s;
        margin-left: 180px;
        position: relative;
    }
}
</style>
