<template>
<el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
    <ckeditor4 v-model="formdata.intro" type="full" />
</el-form>
</template>
<script>
import edit from '@/utils/mixins/Edit';
import Ckeditor4 from '@/components/Ckeditor';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        Ckeditor4
    },
    data() {
        return {
            formdata: {
                intro:''
            }
        };
    },
    created() {
    },
        computed: {
        rules() {
            return {

            }
        }
    },
    methods: {
        init(obj) {
          this.formdata.intro = obj.intro;
        },
    }
};
</script>
