<template>
<el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
    <ckeditor4 v-model="formdata.mobileIntro" type="basic" />
</el-form>
</template>
<script>
import edit from '@/utils/mixins/Edit';
import Ckeditor4 from '@/components/Ckeditor';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        Ckeditor4
    },
    data() {
        return {
            formdata: {
                mobileIntro: ''
            }
        };
    },
    created() {},
            computed: {
        rules() {
            return {

            }
        }
    },
    methods: {
        init(obj) {
            this.formdata.mobileIntro = obj.mobileIntro;
        },
    }
};
</script>
