<template>
<el-dialog v-el-drag-dialog :title="$t('preview')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close" append-to-body>
    <el-form ref="dataForm" style="width:100%" @keyup.enter.native="save">
        <img width="100%" :src="dialogImageUrl" alt="">
    </el-form>
</el-dialog>
</template>

<script>
import edit from '@/utils/mixins/Edit';
export default {
    mixins: [edit],
    data() {
        return {
            dialogImageUrl: ''
        }
    },
    methods: {
        init(file) {
            this.dialogImageUrl = file.url;
        },
    }
};
</script>
