<template>
<el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
    <el-form-item :label="$t('seoTitle')" prop="seoTitle">
        <el-input v-model="formdata.seoTitle" :placeholder="$t('validate.seoTitle')" />
    </el-form-item>
    <el-form-item :label="$t('seoKeywords')" prop="seoKeywords">
        <el-input v-model="formdata.seoKeywords" :placeholder="$t('validate.seoKeywords')" />
    </el-form-item>
    <el-form-item :label="$t('seoDescription')" prop="seoDescription">
        <el-input v-model="formdata.seoDescription" :placeholder="$t('validate.seoDescription')" />
    </el-form-item>
</el-form>
</template>

<script>
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {},
    data() {
        return {
            parentListVisible: false,
            parentList: [],
            parentListTreeProps: {
                label: 'title',
                children: 'children'
            },
            formdata: {
                seoKeywords: '',
                seoDescription: '',
                seoTitle: '',
            }
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                seoKeywords: [{
                        message: this.$t("validate.seoKeywords"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                seoDescription: [{
                        message: this.$t("validate.seoDescription"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                seoTitle: [{
                        message: this.$t("validate.seoTitle"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],

            }
        }
    },
    methods: {
        init(obj) {
            this.formdata.seoKeywords = obj.seoKeywords;
            this.formdata.seoDescription = obj.seoDescription;
            this.formdata.seoTitle = obj.seoTitle;
        },
    }
};
</script>
