<template>
    <div class="app-container">
        <el-row>
            <el-col :span="18">
                <highcharts :options="chartOptions" :callback="myCallback"></highcharts>
            </el-col>
            <el-col :span="6">
                <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;">
                    <el-table-column :label="$t('name')" prop="name" align="center" width="200" />
                    <el-table-column :label="$t('summary')" prop="summary" align="center" />
                </el-table>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import secAnalysisApi from '@/api/SecAnalysisApi';
import { Chart } from 'highcharts-vue';
import { mapGetters } from 'vuex';
export default {
    components: {
        highcharts: Chart,
    },
    data() {
        return {
            list: [
                { name: 'ss', summary: 1 },
                { name: 'sss', summary: 3 },
            ],
            formdata: {},
            chartOptions: {
                title: {
                    text: '2010 ~ 2016 年太阳能行业就业人员发展情况',
                },
                subtitle: {
                    text: '数据来源：thesolarfoundation.com',
                },
                yAxis: {
                    title: {
                        text: '就业人数',
                    },
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false,
                        },
                        pointStart: 2010,
                    },
                },
                series: [
                    {
                        name: '安装，实施人员',
                        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175],
                    },
                    {
                        name: '工人',
                        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434],
                    },
                    {
                        name: '销售',
                        data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387],
                    },
                    {
                        name: '项目开发',
                        data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227],
                    },
                    {
                        name: '其他',
                        data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111],
                    },
                ],
                responsive: {
                    rules: [
                        {
                            condition: {
                                maxWidth: 500,
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom',
                                },
                            },
                        },
                    ],
                },
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {};
        },
    },
    methods: {
        myCallback() {
            console.log('this is callback function');
        },
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({});
            } else {
                secAnalysisApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({});
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {},
        saveAction() {},
    },
};
</script>
