<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('createTime')" prop="createTime">
                <el-input v-model="formdata.createTime" :placeholder="$t('validate.createTime')" />
            </el-form-item>
            <el-form-item :label="$t('currency')" prop="currency">
                <el-input v-model="formdata.currency" :placeholder="$t('validate.currency')" />
            </el-form-item>
            <el-form-item :label="$t('doneTime')" prop="doneTime">
                <el-input v-model="formdata.doneTime" :placeholder="$t('validate.doneTime')" />
            </el-form-item>
            <el-form-item :label="$t('endTime')" prop="endTime">
                <el-input v-model="formdata.endTime" :placeholder="$t('validate.endTime')" />
            </el-form-item>
            <el-form-item :label="$t('idxCode')" prop="idxCode">
                <el-input v-model="formdata.idxCode" :placeholder="$t('validate.idxCode')" />
            </el-form-item>
            <el-form-item :label="$t('sta')" prop="sta">
                <el-input v-model="formdata.sta" :placeholder="$t('validate.sta')" />
            </el-form-item>
            <el-form-item :label="$t('startTime')" prop="startTime">
                <el-input v-model="formdata.startTime" :placeholder="$t('validate.startTime')" />
            </el-form-item>
            <el-form-item :label="$t('summary')" prop="summary">
                <el-input v-model="formdata.summary" :placeholder="$t('validate.summary')" />
            </el-form-item>
            <el-form-item :label="$t('summary2')" prop="summary2">
                <el-input v-model="formdata.summary2" :placeholder="$t('validate.summary2')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import secAnalysisApi from '@/api/SecAnalysisApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                createTime: '',
                currency: '',
                doneTime: '',
                endTime: '',
                idxCode: '',
                sta: '',
                startTime: '',
                summary: '',
                summary2: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                createTime: [
                    {
                        required: true,
                        message: this.$t('validate.createTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                currency: [
                    {
                        required: true,
                        message: this.$t('validate.currency'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                doneTime: [
                    {
                        required: true,
                        message: this.$t('validate.doneTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endTime: [
                    {
                        required: true,
                        message: this.$t('validate.endTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                idxCode: [
                    {
                        required: true,
                        message: this.$t('validate.idxCode'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sta: [
                    {
                        required: true,
                        message: this.$t('validate.sta'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                startTime: [
                    {
                        required: true,
                        message: this.$t('validate.startTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                summary: [
                    {
                        required: true,
                        message: this.$t('validate.summary'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                summary2: [
                    {
                        required: true,
                        message: this.$t('validate.summary2'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    createTime: '',
                    currenry: '',
                    doneTime: '',
                    endTime: '',
                    idxCode: '',
                    sta: '',
                    startTime: '',
                    summary: '',
                    summary2: '',
                });
            } else {
                secAnalysisApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            createTime: data.obj.createTime,
                            currenry: data.obj.currenry,
                            doneTime: data.obj.doneTime,
                            endTime: data.obj.endTime,
                            idxCode: data.obj.idxCode,
                            sta: data.obj.sta,
                            startTime: data.obj.startTime,
                            summary: data.obj.summary,
                            summary2: data.obj.summary2,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.createTime = obj.createTime;
            this.formdata.currenry = obj.currenry;
            this.formdata.doneTime = obj.doneTime;
            this.formdata.endTime = obj.endTime;
            this.formdata.idxCode = obj.idxCode;
            this.formdata.sta = obj.sta;
            this.formdata.startTime = obj.startTime;
            this.formdata.summary = obj.summary;
            this.formdata.summary2 = obj.summary2;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        secAnalysisApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        secAnalysisApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
