<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('createTime')" v-model="listQuery.createTime" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('currency')" v-model="listQuery.currency" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('doneTime')" v-model="listQuery.doneTime" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endTime')" v-model="listQuery.endTime" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('idxCode')" v-model="listQuery.idxCode" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('sta')" v-model="listQuery.sta" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('startTime')" v-model="listQuery.startTime" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('summary')" v-model="listQuery.summary" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('summary2')" v-model="listQuery.summary2" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('secAnalysis:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('secAnalysis:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('createTime')" prop="createTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('currency')" prop="currency" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('doneTime')" prop="doneTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('endTime')" prop="endTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('idxCode')" prop="idxCode" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('sta')" prop="sta" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('startTime')" prop="startTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('summary')" prop="summary" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('summary2')" prop="summary2" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('secAnalysis:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="showCharts">{{ $t('showCharts') }}</el-button>
                    <el-button v-if="hasAuth('secAnalysis:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('secAnalysis:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
        <el-drawer :title="$t('linkItem')" :visible.sync="chartsVisible" size="90%">
            <charts ref="charts" />
        </el-drawer>
    </div>
</template>

<script>
import secAnalysisApi from '@/api/SecAnalysisApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import Charts from './Charts';
import { mapGetters } from 'vuex';
export default {
    name: 'secAnalysis',
    components: {
        Pagination,
        Edit,
        Charts,
    },
    mixins: [list],
    data() {
        return {
            chartsVisible: false,
            listQuery: {
                createTime: '',
                currency: '',
                doneTime: '',
                endTime: '',
                idxCode: '',
                sta: '',
                startTime: '',
                summary: '',
                summary2: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        showCharts(id) {
            this.chartsVisible = true;
            this.$nextTick(() => {
                this.$refs.charts.init();
            });
        },
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            secAnalysisApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.createTime = '';
            this.listQuery.currency = '';
            this.listQuery.doneTime = '';
            this.listQuery.endTime = '';
            this.listQuery.idxCode = '';
            this.listQuery.sta = '';
            this.listQuery.startTime = '';
            this.listQuery.summary = '';
            this.listQuery.summary2 = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            secAnalysisApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                } else {
                    this.$message.error(data.msg);
                }
            });
        },
    },
};
</script>
