<template>
    <div>
        <el-row>
            <el-row>
                <el-col :span="24">
                    <div class="title">{{ name }}</div></el-col
                >
            </el-row>
            <el-col :span="18" id="container" class="container"><canvas width="1200px" height="900px" id="canvas"></canvas></el-col>
            <el-col :span="6">
                <el-row>
                    <div class="title">{{ title }}</div>
                    <div class="remark" v-html="remark"></div>
                </el-row>
                <el-row id="container2" class="container2"><canvas width="600px" height="600px" id="canvas2"></canvas></el-row>
                <el-row v-if="listTopo.length > 0">
                    <el-col :span="24">
                        <el-table :data="listTopoVal" :key="tableKey" border fit highlight-current-row style="width:100%;">
                            <el-table-column :label="$t('occTime')" prop="occTime" align="center" width="150">
                                <template slot-scope="scope">{{ scope.row.occTime | shortDateFormatter }}</template>
                            </el-table-column>
                            <el-table-column :label="item.name" :key="item.id" v-for="item in listTopo" align="center" :prop="item.id + ''"></el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import dataTopoApi from '@/api/DataTopoApi';
import dataTopoValApi from '@/api/DataTopoValApi';
import formatDate from '@/utils/Date';
export default {
    name: 'topo',
    filters: {
        shortDateFormatter(time) {
            if (time == undefined) {
                return '';
            }
            let date = new Date(time);
            return formatDate(date, 'yyyy-MM-dd');
        },
    },
    data() {
        return {
            tableKey: 0,
            listTopoVal: [],
            listTopo: [],
            map: {},
            list: [],
            title: '',
            name: '',
            remark: '',
            scene: null,
            scene2: null,
            dataTypeId: '',
        };
    },
    mounted() {},
    created() {
        this.name = this.$route.query.dataTypeName;
        this.dataTypeId = this.$route.query.dataTypeId;
        this.$nextTick(() => {
            this.initTopo();
            this.drawData();
        });
    },
    methods: {
        drawData() {
            dataTopoApi.findShow(this.dataTypeId).then(({ data }) => {
                let obj = data.obj || [];
                this.list = obj;
                let m = {};
                for (let i = 1; i <= 9; i++) {
                    let items = obj.filter((item) => item.lv == i + '');
                    items = items || [];
                    for (let j = 0; j < items.length; j++) {
                        if (items[j].x != 0 || items[j].y != 0) {
                            m[items[j].id + ''] = this.newNode(items[j].x, items[j].y, items[j].width, items[j].height, items[j].name, items[j].id, items[j].color);
                        } else {
                            m[items[j].id + ''] = this.newNode((i - 1) * 120 + 10, j * 70 + 20, 20, 20, items[j].name, items[j].id);
                        }
                    }
                }
                for (let i = 0; i < obj.length; i++) {
                    let parentIds = obj[i].parentIds;
                    parentIds = parentIds || '';
                    if (parentIds.length > 0) {
                        let parent = parentIds.split(',');
                        for (let j = 0; j < parent.length; j++) {
                            if (parent[j] != '') {
                                this.newLink(m[parent[j]], m[obj[i].id], 'Arrow', 5);
                            }
                        }
                    }
                }
            });
        },
        initTopo() {
            var container = document.getElementById('container');
            var container2 = document.getElementById('container2');
            let width1 = container.offsetWidth;
            let height1 = container.offsetHeight;
            let width2 = container2.offsetWidth;
            let height2 = container2.offsetHeight;
            var canvas = document.getElementById('canvas');
            canvas.width = width1;
            canvas.height = height1;
            var canvas2 = document.getElementById('canvas2');
            canvas2.width = width2;
            canvas2.height = height2;
            let JTopo = window.JTopo;
            // var canvas = document.getElementById('canvas');
            // var canvas2 = document.getElementById('canvas2');
            var stage = new JTopo.Stage(canvas);
            var stage2 = new JTopo.Stage(canvas2);
            var scene = new JTopo.Scene();
            var scene2 = new JTopo.Scene();
            stage.add(scene);
            stage2.add(scene2);
            // scene.background = require('@/assets/img/bg.jpg');
            //scene2.background = require('@/assets/img/bg.jpg');
            this.scene = scene;
            this.scene2 = scene2;
        },
        hex2rgb(color) {
            if (color.length === 4) {
                var colorNew = '#';
                for (let i = 1; i < 4; i += 1) {
                    colorNew += color.slice(i, i + 1).concat(color.slice(i, i + 1));
                }
                color = colorNew;
            }
            // 处理六位的颜色值，转为RGB
            var colorChange = [];
            for (let i = 1; i < 7; i += 2) {
                colorChange.push(parseInt('0x' + color.slice(i, i + 2)));
            }
            return colorChange.join(',');
        },
        newNode(x, y, w, h, text, id, color) {
            let JTopo = window.JTopo;
            var node = new JTopo.Node(text);
            node.fontColor = '0,0,0';
            node.setLocation(x, y);
            node.font = 'bold 16px 微软雅黑';
            node.zIndex = 100;
            if (color) {
                node.fillColor = this.hex2rgb(color);
            } else {
                node.fillColor = JTopo.util.randomColor();
            }
            node.setSize(w, h);
            node.click(() => {
                this.title = text;
                let i = this.list.filter((item) => item.id == id);
                if (i.length > 0) {
                    this.remark = i[0].remark || '';
                }
                this.renderChild(id);
            });
            this.scene.add(node);
            return node;
        },
        newLink(nodeA, nodeZ) {
            let JTopo = window.JTopo;
            var link = new JTopo.Link(nodeA, nodeZ, '');
            link.lineWidth = 1; // 线宽
            link.bundleOffset = 60; // 折线拐角处的长度
            link.bundleGap = 20; // 线条之间的间隔
            link.textOffsetY = 3; // 文本偏移量（向下3个像素）
            link.strokeColor = '0,0,0';
            link.arrowsRadius = 10;
            this.scene.add(link);
            return link;
        },
        newLink2(nodeA, nodeZ) {
            let JTopo = window.JTopo;
            var link = new JTopo.Link(nodeA, nodeZ, '');
            link.lineWidth = 1; // 线宽
            link.bundleOffset = 60; // 折线拐角处的长度
            link.bundleGap = 20; // 线条之间的间隔
            link.textOffsetY = 3; // 文本偏移量（向下3个像素）
            link.strokeColor = '0,0,0';
            link.arrowsRadius = 10;
            this.scene2.add(link);
            return link;
        },
        newNode2(text) {
            let JTopo = window.JTopo;
            var node = new JTopo.Node(text);
            node.setLocation(200, 200);
            node.fontColor = '0,0,0';
            node.fillColor = '96,163,217';
            node.font = 'bold 16px 微软雅黑';
            node.zIndex = 100;
            node.setSize(40, 40);
            this.scene2.add(node);
            return node;
        },
        newPNode2(plist, cNode) {
            let JTopo = window.JTopo;
            plist = plist || [];
            this.listTopo = plist;

            for (let i = 0; i < plist.length; i++) {
                var node = new JTopo.Node(plist[i].name);
                node.setLocation(30, 80 * (i + 1));
                node.zIndex = 100;
                node.setSize(30, 30);
                node.fillColor = '0,116,183';
                node.font = 'bold 16px 微软雅黑';
                node.fontColor = '0,0,0';
                this.scene2.add(node);
                this.newLink2(node, cNode);
            }
        },
        newCNode2(clist, pNode) {
            let JTopo = window.JTopo;
            clist = clist || [];
            for (let i = 0; i < clist.length; i++) {
                var node = new JTopo.Node(clist[i].name);
                node.setLocation(330, 80 * (i + 1));
                node.setSize(50, 50);
                node.zIndex = 100;
                node.fillColor = '191,215,237';
                node.font = 'bold 16px 微软雅黑';
                node.fontColor = '0,0,0';
                this.scene2.add(node);
                this.newLink2(pNode, node);
            }
        },
        renderChild(id) {
            //查找子
            this.scene2.clear();
            dataTopoApi.findDto(id).then(({ data }) => {
                let obj = data.obj;
                var node = this.newNode2(obj.dataTopo.name);
                let parents = obj.parent || [];
                if (parents.length > 0) {
                    dataTopoValApi.findData(id).then(({ data }) => {
                        if (data.flag) {
                            this.listTopoVal = data.obj || [];
                        }
                    });
                }
                this.newPNode2(obj.parent, node);
                this.newCNode2(obj.child, node);
            });
        },
    },
};
</script>
<style scoped>
.title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.remark {
    margin-top: 15px;
    font-size: 16px;
    text-indent: 32px;
    word-break: break-all;
}
.container {
    min-height: calc(100vh - 350px);
}
.container2 {
    min-height: calc(100vh- 500px);
}
</style>
