<template>
<div style="display:inline-block;position: relative;">
    <input type="text" style="height:36px;width:300px" autocomplete="on" :id="id" :value="value" readonly="readonly" data-toggle="city-picker" placeholder="请选择">
</div>
</template>

<script>
export default {
    name: 'cityPicker',
    model: {
        prop: 'value',
        event: 'change'
    },
    props: {
        'value': String,
    },
    mounted: function () {
        const self = this;
        self.currentPicker = new window.CityPicker("#" + self.id);
        window.$("#" + self.id).on("areaChange", function () {
            var that = window.$(this);
            self.$emit('change', that.val());
        });
    },
    data: function () {
        return {
            currentPicker: null,
            id: parseInt(Math.random() * 10000).toString(),
        }
    }

}
</script>
