<template>
    <el-dropdown trigger="click" class="international" @command="handleSetLanguage">
        <i class="iconfont lang-select" :class="lang"></i>
       <el-dropdown-menu slot="dropdown">
               <el-dropdown-item :disabled="language==='zh'" command="zh">中文</el-dropdown-item>
               <el-dropdown-item :disabled="language==='en'" command="en">English</el-dropdown-item>
       </el-dropdown-menu>
    </el-dropdown>
</template>
<script>
export default {
    data(){
        return {
            lang:"icon-lang-cn"
        }
    },
    computed: {
        language(){
            return this.$store.getters.language;
        }
    },
    methods:{
        handleSetLanguage(lang){
            this.$i18n.locale = lang ;
            this.$store.dispatch('setLanguage',lang);
            this.$message({
                message:this.$t('lang.sucess') ,
                type:'success'
            });
        }
    }
}
</script>
<style lang="scss" scoped>
.lang-select{
    font-size: 20px;
}
</style>