<template>
<div>
    <i class="iconfont menu-open-fold" :class="sidebar.opened?'icon-menu-open':'icon-menu-fold'" @click="toggleSidebar" ></i>
</div>
</template>
<script>
import {mapGetters} from 'vuex';
export default {
    name:'MenuOpenFold',
     computed: {
        ...mapGetters([
            'sidebar'
        ])
    },
    methods: {
        toggleSidebar(){
            this.$store.dispatch('toggleSidebar')
        },
    },
}
</script>
<style lang="scss" scoped>
.menu-open-fold{
    display:inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
</style>