<template>
    <div class="navbar">
        <menu-open-fold  class="menu-open-fold-container"/>
        <breadcrumb class="breadcrumb-container" />
        <div class="right-menu">
            <template v-if="device!=='mobile'">
                <error-log class="errLog-container right-menu-item"/>
                <el-tooltip :content="$t('navbar.screenfull')" effect="dark" placement="bottom">
                    <screen-full class="screenfull right-menu-item"/>
                </el-tooltip>
                <el-tooltip :content="$t('navbar.size')" placement="bottom" effect="dark">
                    <size-select class="international right-menu-item" />
                </el-tooltip>
                <lang-select class="international right-menu-item" />
            </template>
            <el-dropdown class="avatar-container right-menu-item" trigger="click">
              <div class="avatar-wrapper">
                  <img :src="headImg" class="user-avatar">
                  <i class="el-icon-caret-bottom" />
                  </div>
                  <el-dropdown-menu slot="dropdown">
                      <router-link to="/">
                      <el-dropdown-item>
                          {{$t('navbar.index')}}
                      </el-dropdown-item>
                      </router-link>
                        <el-dropdown-item>
                        <span style="display:block;" @click="modifyPassword">{{$t('navbar.modifyPassword')}}</span>
                    </el-dropdown-item>
                    <el-dropdown-item divided>
                        <span style="display:block;" @click="logout">{{$t('navbar.logout')}}</span>
                    </el-dropdown-item>
                  </el-dropdown-menu>
            </el-dropdown>
        </div>
       <modify-password v-if="modifyDialogFormVisible" ref="modifyPassword" @refreshModifyPassword="logout" />
    </div>
</template>
<script>
import {mapGetters} from 'vuex';
import Breadcrumb from '@/components/Breadcrumb';
import MenuOpenFold from '@/components/MenuOpenFold';
import ErrorLog from '@/components/ErrorLog';
import ScreenFull from '@/components/ScreenFull';
import SizeSelect from '@/components/SizeSelect';
import LangSelect from '@/components/LangSelect';
import ModifyPassword from '@/views/ModifyPassword';
import edit from '@/utils/mixins/Edit';
export default {
   mixins: [edit],
    components:{
        Breadcrumb,
        MenuOpenFold,
        ErrorLog,
        ScreenFull,
        SizeSelect,
        LangSelect,
        ModifyPassword
    },
    computed: {
        ...mapGetters([
            'sidebar',
            'name',
            'headImg',
            'device'
        ])
    },
    data(){
        return {
            modifyDialogFormVisible:false
        }
    },
    methods:{
        logout(){
            this.$store.dispatch('Logout').then(()=>{
                location.reload();
            });
        },
        modifyPassword(){
       this.modifyDialogFormVisible=true;
         this.$nextTick(()=>{
           this.$refs.modifyPassword.init();
         });
        }
    }
}
</script>
<style lang="scss" scoped>
.navbar{
    height: 50px;
    line-height: 50px;
    border-radius: 0px;
    .menu-open-fold-container{
        line-height: 58px;
        height: 50px;
        float:left;
        padding: 0 10px;
    }
    .breadcrumb-container{
        float:left;
    }
    .errLog-container{
        display: inline-block;
        vertical-align: top;
    }
    .right-menu{
        float: right;
        height: 100%;
        &:focus{
            outline: none;
        }
        .right-menu-item{
            display: inline-block;
            margin:0 8px;
        }
        .screenfull{
            height: 20px;
        }
        .international{
            vertical-align: top;
        }
        .avatar-container{
            height: 50px;
            margin-right: 30px;
            .avatar-wrapper{
                margin-top: 5px;
                margin-top: 5px;
                position: relative;
                .user-avatar{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                }
                //用饿了么公用图标
                .el-icon-caret-bottom{
                    cursor: pointer;
                    position: absolute;
                    right: -20px;
                    top:25px;
                    font-size: 12px; 
                }
            }
        }
    }
}
</style>