<template>
<el-dialog :title="$t('preview')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close" append-to-body>
    <img width="100%" :src="url" alt="">
</el-dialog>
</template>

<script>
import edit from '@/utils/mixins/Edit';
export default {
    mixins: [edit],
    data() {
        return {
            url: ''
        }
    },
    methods: {
        init(url) {
            this.url = url;
            this.show(true)
        },
    }
};
</script>
