<template>
    <div>
        <i class="iconfont screenfull-svg icon-screenfull" @click="click"></i>
        </div>
</template>
<script>
import screenfull from 'screenfull';
export default {
    name:'Screenfull',
    data(){
        return {
            isFullscreen:false
        }
    },
    methods:{
        click(){
        if(!screenfull.isEnabled){
            this.$message({
                message:'you browser can not work',
                type:'warning'
            });
            return false;
        }
        screenfull.toggle();
        }
    }

}
</script>
<style lang="scss" scoped>
.screenfull-svg{
    display: inline-block;
    cursor: pointer;
    fill: #5a5e66;
    width:20px;
    height: 20px;
    vertical-align: 10px;
    font-size: 20px;
}
</style>
