<template>
    <el-scrollbar wrap-class="scrollbar-wrapper">
        <el-image :src="require('@/assets/img/mt.png')" v-show="!isCollapse" fit="scale-down"></el-image>
        <el-image :src="require('@/assets/img/mt2.png')" v-show="isCollapse" fit="scale-down"></el-image>
        <el-menu :show-timeout="200" :default-active="$route.path" :collapse="isCollapse" mode="vertical" background-color="#304156" text-color="#bfcbd9" active-text-color="#409EFF">
            <sidebar-item v-for="route in this.fullRouter" :key="route.path" :item="route" :base-path="route.path" />
        </el-menu>
    </el-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex';

import SidebarItem from '@/components/SidebarItem';
export default {
    components: {
        SidebarItem,
    },
    computed: {
        ...mapGetters(['fullRouter', 'sidebar']),
        isCollapse() {
            return !this.sidebar.opened;
        },
    },
};
</script>
