<template>
<div>
    <el-row>
        <el-col :span="18">
            <el-input v-model="url" :placeholder="placeholder" clearable></el-input>
        </el-col>
        <el-col :span="6">
            <el-upload style="display:inline-block;" action="/api/file/upload" :accept="accept" :headers="headers" :show-file-list="false" :data="data" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                <el-button style="margin-left:5px" icon="el-icon-upload"></el-button>
            </el-upload>
            <el-button style="margin-left:5px" icon="el-icon-s-grid" @click="showFolder"></el-button>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24">
            <div class="avatar-uploader">
                <div class="el-upload">
                    <div v-if="url" @mouseover="mouseOver" @mouseleave="mouseLeave">
                        <el-image class="avatar" :src="url" fit="contain"></el-image>
                        <div v-if="mask" class="mask">
                            <span>
                                <i class="el-icon-zoom-in" @click="preview"></i>
                            </span>
                            <span>
                                <i class="el-icon-delete" @click="resetUrl"></i>
                            </span>
                        </div>
                    </div>
                    <i v-else class="el-icon-picture avatar-uploader-icon"></i>
                </div>
            </div>
        </el-col>
    </el-row>
    <preview v-if="previewVisible" ref="preview" />
    <folder v-if="folderVisible" ref="folder" @selectFiles="selectFiles" />
</div>
</template>

<script>
import {
    mapGetters
} from "vuex";
import Preview from './Preview';
import Folder from './Folder';
export default {
    name: 'SingleImg',
    model: {
        prop: 'src',
        event: 'change'
    },
    components: {
        Preview,
        Folder
    },
    props: ["src", "placeholder"],
    computed: {
        ...mapGetters(['token']),
        headers() {
            return {
                'Authorization': "Bearer " + this.token
            }
        }
    },
    data() {
        return {
            folderVisible: false,
            previewVisible: false,
            accept: '*/*',
            data: {},
            url: '',
            mask: false
        }
    },
    watch: {
        src(val) {
            this.url = val;
        },
        url(val) {
            this.$emit("change", val);
        }
    },

    mounted() {
        if (this.src) {
            this.url = this.src;
        }
    },

    methods: {
        mouseOver() {
            this.mask = true
        },
        // 移出
        mouseLeave() {
            this.mask = false
        },
        handleAvatarSuccess(res, file) {
            if (res.flag) {
                this.url = res.obj.url;
                console.log(this.url);
            }
        },
        beforeAvatarUpload(file) {
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
            }
            return isLt2M;
        },
        preview() {
            this.previewVisible = true;
            this.$nextTick(() => {
                this.$refs.preview.init(this.url);
            });
        },
        resetUrl() {
            this.url = '';
        },
        showFolder() {
            this.folderVisible = true;
            this.$nextTick(() => {
                this.$refs.folder.init('0');
            });
        },
        selectFiles(cat, files) {
            this.url = files[0].url;
        },
    }
}
</script>

<style lang="scss" scoped>
.avatar-uploader {
    margin-top: 10px;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    display: block;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    line-height: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

.mask span {
    margin: 5px;
    z-index: 6;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
</style>
