<template>
<el-dropdown trigger="click" @command="handleSetSize">
    <i class="iconfont size-icon icon-size"></i>
    <el-dropdown-menu slot="dropdown">
        <el-dropdown-item :disabled="size==='medium'" command="medium">{{$t('size.medium')}}</el-dropdown-item>
        <el-dropdown-item :disabled="size==='small'" command="small">{{$t('size.small')}}</el-dropdown-item>
        <el-dropdown-item :disabled="size==='mini'" command="mini">{{$t('size.mini')}}</el-dropdown-item>
    </el-dropdown-menu>
</el-dropdown>
</template>

<script>
export default {
    computed: {
        size() {
            return this.$store.getters.size
        }
    },
    methods: {
        handleSetSize(size) {
            this.$ELEMENT.size = size;
            this.$store.dispatch('setSize', size);
            //刷一下视图
            this.refreshView();
            this.$message({
                message: this.$t('size.success'),
                type: 'success'
            })
        },
        refreshView() {
            //重新刷新一下缓存的视图
            this.$store.dispatch('delAllCachedViews', this.$route);
            const {
                fullPath
            } = this.$route;
            this.$nextTick(() => {
                this.$router.push({
                    query: {
                        t: (new Date().getTime())
                    }
                });
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.size-icon {
    font-size: 20px;
    cursor: pointer;
    vertical-align: -4px;
}
</style>
