<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('cashDeposit')" prop="cashDeposit">
                <el-input v-model="formdata.cashDeposit" :placeholder="$t('validate.cashDeposit')" />
            </el-form-item>
            <el-form-item :label="$t('cat')" prop="cat">
                <el-input v-model="formdata.cat" :placeholder="$t('validate.cat')" />
            </el-form-item>
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
            </el-form-item>
            <el-form-item :label="$t('contract')" prop="contract">
                <el-input v-model="formdata.contract" :placeholder="$t('validate.contract')" />
            </el-form-item>
            <el-form-item :label="$t('currency')" prop="currency">
                <el-input v-model="formdata.currency" :placeholder="$t('validate.currency')" />
            </el-form-item>
            <el-form-item :label="$t('defer')" prop="defer">
                <el-input v-model="formdata.defer" :placeholder="$t('validate.defer')" />
            </el-form-item>
            <el-form-item :label="$t('endNetValue')" prop="endNetValue">
                <el-input v-model="formdata.endNetValue" :placeholder="$t('validate.endNetValue')" />
            </el-form-item>
            <el-form-item :label="$t('endTime')" prop="endTime">
                <el-input v-model="formdata.endTime" :placeholder="$t('validate.endTime')" />
            </el-form-item>
            <el-form-item :label="$t('exchange')" prop="exchange">
                <el-input v-model="formdata.exchange" :placeholder="$t('validate.exchange')" />
            </el-form-item>
            <el-form-item :label="$t('imitatePositionId')" prop="imitatePositionId">
                <el-input v-model="formdata.imitatePositionId" :placeholder="$t('validate.imitatePositionId')" />
            </el-form-item>
            <el-form-item :label="$t('kpi')" prop="kpi">
                <el-input v-model="formdata.kpi" :placeholder="$t('validate.kpi')" />
            </el-form-item>
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('netValue')" prop="netValue">
                <el-input v-model="formdata.netValue" :placeholder="$t('validate.netValue')" />
            </el-form-item>
            <el-form-item :label="$t('num')" prop="num">
                <el-input v-model="formdata.num" :placeholder="$t('validate.num')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import imitatePositionItemApi from '@/api/ImitatePositionItemApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                cashDeposit: '',
                cat: '',
                code: '',
                contract: '',
                currency: '',
                defer: '',
                endNetValue: '',
                endTime: '',
                exchange: '',
                imitatePositionId: '',
                kpi: '',
                name: '',
                netValue: '',
                num: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                cashDeposit: [
                    {
                        required: true,
                        message: this.$t('validate.cashDeposit'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                contract: [
                    {
                        required: true,
                        message: this.$t('validate.contract'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                currency: [
                    {
                        required: true,
                        message: this.$t('validate.currency'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                defer: [
                    {
                        required: true,
                        message: this.$t('validate.defer'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endNetValue: [
                    {
                        required: true,
                        message: this.$t('validate.endNetValue'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endTime: [
                    {
                        required: true,
                        message: this.$t('validate.endTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                exchange: [
                    {
                        required: true,
                        message: this.$t('validate.exchange'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                imitatePositionId: [
                    {
                        required: true,
                        message: this.$t('validate.imitatePositionId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                kpi: [
                    {
                        required: true,
                        message: this.$t('validate.kpi'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                netValue: [
                    {
                        required: true,
                        message: this.$t('validate.netValue'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                num: [
                    {
                        required: true,
                        message: this.$t('validate.num'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    cashDeposit: '',
                    cat: '',
                    code: '',
                    contract: '',
                    currency: '',
                    defer: '',
                    endNetValue: '',
                    endTime: '',
                    exchange: '',
                    imitatePositionId: '',
                    kpi: '',
                    name: '',
                    netValue: '',
                    num: '',
                });
            } else {
                imitatePositionItemApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cashDeposit: data.obj.cashDeposit,
                            cat: data.obj.cat,
                            code: data.obj.code,
                            contract: data.obj.contract,
                            currency: data.obj.currency,
                            defer: data.obj.defer,
                            endNetValue: data.obj.endNetValue,
                            endTime: data.obj.endTime,
                            exchange: data.obj.exchange,
                            imitatePositionId: data.obj.imitatePositionId,
                            kpi: data.obj.kpi,
                            name: data.obj.name,
                            netValue: data.obj.netValue,
                            num: data.obj.num,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cashDeposit = obj.cashDeposit;
            this.formdata.cat = obj.cat;
            this.formdata.code = obj.code;
            this.formdata.contract = obj.contract;
            this.formdata.currency = obj.currency;
            this.formdata.defer = obj.defer;
            this.formdata.endNetValue = obj.endNetValue;
            this.formdata.endTime = obj.endTime;
            this.formdata.exchange = obj.exchange;
            this.formdata.imitatePositionId = obj.imitatePositionId;
            this.formdata.kpi = obj.kpi;
            this.formdata.name = obj.name;
            this.formdata.netValue = obj.netValue;
            this.formdata.num = obj.num;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        imitatePositionItemApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        imitatePositionItemApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
