<template>
    <div class="app-container">
        <div class="filter-container" v-if="queryType == 'simple'">
            <el-input :placeholder="$t('cashDeposit')" v-model="listQuery.cashDeposit" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('cat')" v-model="listQuery.cat" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('contract')" v-model="listQuery.contract" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('currency')" v-model="listQuery.currency" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('defer')" v-model="listQuery.defer" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endNetValue')" v-model="listQuery.endNetValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endTime')" v-model="listQuery.endTime" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('exchange')" v-model="listQuery.exchange" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('imitatePositionId')" v-model="listQuery.imitatePositionId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('kpi')" v-model="listQuery.kpi" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('netValue')" v-model="listQuery.netValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('num')" v-model="listQuery.num" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <div class="filter-query" @click="changeSearch">
                <i class="el-icon-caret-bottom"></i><span>{{ $t('advSearch') }}</span>
            </div>
        </div>
        <div class="filter-container" v-if="queryType == 'adv'">
            <el-input :placeholder="$t('cashDeposit')" v-model="listQuery.cashDeposit" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('cat')" v-model="listQuery.cat" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('contract')" v-model="listQuery.contract" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('currency')" v-model="listQuery.currency" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('defer')" v-model="listQuery.defer" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endNetValue')" v-model="listQuery.endNetValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endTime')" v-model="listQuery.endTime" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('exchange')" v-model="listQuery.exchange" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('imitatePositionId')" v-model="listQuery.imitatePositionId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('kpi')" v-model="listQuery.kpi" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('netValue')" v-model="listQuery.netValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('num')" v-model="listQuery.num" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <div class="filter-query" @click="changeSearch">
                <i class="el-icon-caret-top"></i><span>{{ $t('simpleSearch') }}</span>
            </div>
        </div>
        <div class="filter-container">
            <el-button v-if="hasAuth('imitatePositionItem:save')" v-waves class="filter-item" :disabled="isDisable" plain size="mini" type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange">
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('cashDeposit')" prop="cashDeposit" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('cat')" prop="cat" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('code')" prop="code" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('contract')" prop="contract" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('currency')" prop="currency" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('defer')" prop="defer" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('endNetValue')" prop="endNetValue" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('endTime')" prop="endTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('exchange')" prop="exchange" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('imitatePositionId')" prop="imitatePositionId" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('kpi')" prop="kpi" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('name')" prop="name" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('netValue')" prop="netValue" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('num')" prop="num" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('imitatePositionItem:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('imitatePositionItem:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import imitatePositionItemApi from '@/api/ImitatePositionItemApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'imitatePositionItem',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                cashDeposit: '',
                cat: '',
                code: '',
                contract: '',
                currency: '',
                defer: '',
                endNetValue: '',
                endTime: '',
                exchange: '',
                imitatePositionId: '',
                kpi: '',
                name: '',
                netValue: '',
                num: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            imitatePositionItemApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.cashDeposit = '';
            this.listQuery.cat = '';
            this.listQuery.code = '';
            this.listQuery.contract = '';
            this.listQuery.currency = '';
            this.listQuery.defer = '';
            this.listQuery.endNetValue = '';
            this.listQuery.endTime = '';
            this.listQuery.exchange = '';
            this.listQuery.imitatePositionId = '';
            this.listQuery.kpi = '';
            this.listQuery.name = '';
            this.listQuery.netValue = '';
            this.listQuery.num = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            imitatePositionItemApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                } else {
                    this.$message.error(data.msg);
                }
            });
        },
    },
};
</script>
