<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('name')" prop="name">
                        <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('code')" prop="code">
                        <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('cat')" prop="cat">
                        <el-select v-model="formdata.cat" :placeholder="$t('cat')" :clearable="true" class="filter-item">
                            <el-option v-for="item in secCats" :key="item.name" :label="item.name" :value="item.name" />
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('exchange')" prop="exchange">
                        <el-select v-model="formdata.exchange" :placeholder="$t('exchange')" :clearable="true" class="filter-item" style="width:200px">
                            <el-option v-for="item in secExchanges" :key="item.name" :label="item.name" :value="item.name" />
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('occDate')" prop="occDate">
                        <el-date-picker v-model="formdata.occDate" type="date" :placeholder="$t('validate.occDate')" value-format="yyyy-MM-dd" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('endDate')" prop="endDate">
                        <el-date-picker v-model="formdata.endDate" type="date" :placeholder="$t('validate.endDate')" value-format="yyyy-MM-dd" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('changePercent')" prop="changePercent">
                        <el-input-number v-model="formdata.changePercent" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('changeValue')" prop="changeValue">
                        <el-input-number v-model="formdata.changeValue" />
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('num')" prop="num">
                        <el-input-number v-model="formdata.num" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('netValue')" prop="netValue">
                        <el-input-number v-model="formdata.netValue" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('contract')" prop="contract">
                        <el-input v-model="formdata.contract" :placeholder="$t('validate.contract')" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('currency')" prop="currency">
                        <el-input v-model="formdata.currency" :placeholder="$t('validate.currency')" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item :label="$t('fairValue')" prop="fairValue">
                        <el-input-number v-model="formdata.fairValue" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('isMain')" prop="isMain">
                        <el-switch v-model="formdata.isMain" active-value="T" inactive-value="F"></el-switch>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item :label="$t('strikePrice')" prop="strikePrice">
                <el-input-number v-model="formdata.strikePrice" />
            </el-form-item>
            <el-form-item :label="$t('strikeRealPrice')" prop="strikeRealPrice">
                <el-input-number v-model="formdata.strikeRealPrice" />
            </el-form-item>
            <el-form-item :label="$t('strikeType')" prop="strikeType">
                <el-input v-model="formdata.strikeType" :placeholder="$t('validate.strikeType')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import secPositionApi from '@/api/SecPositionApi';
import formatDate from '@/utils/Date';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                cat: '',
                changePercent: 0,
                changeValue: 0,
                code: '',
                contract: '',
                currency: '',
                endDate: '',
                exchange: '',
                fairValue: 0,
                isMain: 'T',
                name: '',
                netvalue: 0,
                num: 0,
                occDate: '',
                strikePrice: 0,
                strikeRealPrice: 0,
                strikeType: '',
            },
        };
    },
    created() {
        this.$store.dispatch('secExchange');
        this.$store.dispatch('secCat');
    },
    computed: {
        ...mapGetters(['secExchanges', 'secCats']),
        rules() {
            return {
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                changePercent: [
                    {
                        required: true,
                        message: this.$t('validate.changePercent'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                changeValue: [
                    {
                        required: true,
                        message: this.$t('validate.changeValue'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                contract: [
                    {
                        message: this.$t('validate.contract'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                currency: [
                    {
                        required: true,
                        message: this.$t('validate.currency'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endDate: [
                    {
                        message: this.$t('validate.endDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                exchange: [
                    {
                        required: true,
                        message: this.$t('validate.exchange'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                fairValue: [
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                isMain: [
                    {
                        required: true,
                        message: this.$t('validate.isMain'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                netValue: [
                    {
                        required: true,
                        message: this.$t('validate.netValue'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                num: [
                    {
                        required: true,
                        message: this.$t('validate.num'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                occDate: [
                    {
                        required: true,
                        message: this.$t('validate.occDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                strikePrice: [
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                strikeRealPrice: [
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                strikeType: [
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    cat: '',
                    changePercent: 0,
                    changeValue: 0,
                    code: '',
                    contract: '',
                    currency: '',
                    endDate: '',
                    exchange: '',
                    fairValue: 0,
                    isMain: 'T',
                    name: '',
                    netValue: 0,
                    num: '',
                    occDate: '',
                    strikePrice: 0,
                    strikeRealPrice: 0,
                    strikeType: '',
                });
            } else {
                secPositionApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cat: data.obj.cat,
                            changePercent: data.obj.changePercent,
                            changeValue: data.obj.changeValue,
                            code: data.obj.code,
                            contract: data.obj.contract,
                            currency: data.obj.currency,
                            endDate: data.obj.endDate != undefined ? formatDate(new Date(data.obj.endDate), 'yyyy-MM-dd') : '',
                            occDate: data.obj.occDate != undefined ? formatDate(new Date(data.obj.occDate), 'yyyy-MM-dd') : '',
                            exchange: data.obj.exchange,
                            fairValue: data.obj.fairValue,
                            isMain: data.obj.isMain,
                            name: data.obj.name,
                            netValue: data.obj.netValue,
                            num: data.obj.num,
                            strikePrice: data.obj.strikePrice,
                            strikeRealPrice: data.obj.strikeRealPrice,
                            strikeType: data.obj.strikeType,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cat = obj.cat;
            this.formdata.changePercent = obj.changePercent;
            this.formdata.changeValue = obj.changeValue;
            this.formdata.code = obj.code;
            this.formdata.contract = obj.contract;
            this.formdata.currency = obj.currency;
            this.formdata.endDate = obj.endDate;
            this.formdata.exchange = obj.exchange;
            this.formdata.fairValue = obj.fairValue;
            this.formdata.isMain = obj.isMain;
            this.formdata.name = obj.name;
            this.formdata.netValue = obj.netValue;
            this.formdata.num = obj.num;
            this.formdata.occDate = obj.occDate;
            this.formdata.strikePrice = obj.strikePrice;
            this.formdata.strikeRealPrice = obj.strikeRealPrice;
            this.formdata.strikeType = obj.strikeType;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        secPositionApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        secPositionApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
