<template>
    <div class="app-container">
        <div class="filter-container">
            <el-date-picker v-model="listQuery.occDate" class="filter-item" type="date" :placeholder="$t('occDate')" format="yyyy-MM-dd " value-format="yyyy-MM-dd"></el-date-picker>
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-select v-model="listQuery.cat" :placeholder="$t('cat')" :clearable="true" class="filter-item" style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in secCats" :key="item.name" :label="item.name" :value="item.name" />
            </el-select>
            <el-select v-model="listQuery.exchange" :placeholder="$t('exchange')" :clearable="true" class="filter-item" style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in secExchanges" :key="item.name" :label="item.name" :value="item.name" />
            </el-select>
            <el-select v-model="listQuery.isMain" :placeholder="$t('isMain')" :clearable="true" class="filter-item" style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in isMains" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('secPosition:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('secPosition:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange" :row-style="tableRowStyle">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('occDate')" prop="occDate" align="center" width="100">
                <template slot-scope="scope">{{ scope.row.occDate | shortDateFormatter }}</template>
            </el-table-column>
            <el-table-column :label="$t('cat')" prop="cat" align="center" width="100" />
            <el-table-column :label="$t('name')" prop="name" align="center" min-width="100" />
            <el-table-column :label="$t('code')" prop="code" align="center" width="100" />
            <el-table-column :label="$t('contract')" prop="contract" align="center" width="100" />
            <el-table-column :label="$t('endDate')" prop="endDate" align="center" width="100">
                <template slot-scope="scope">{{ scope.row.endDate | shortDateFormatter }}</template>
            </el-table-column>
            <el-table-column :label="$t('currency')" prop="currency" align="center" width="100" />
            <el-table-column :label="$t('exchange')" prop="exchange" align="center" width="100" />
            <el-table-column :label="$t('fairValue')" prop="fairValue" align="center" width="100" />
            <el-table-column :label="$t('changeValue')" prop="changeValue" align="center" width="100" />
            <el-table-column :label="$t('changePercent')" prop="changePercent" align="center" width="100" />
            <el-table-column :label="$t('isMain')" prop="isMain" align="center" width="100" />
            <el-table-column :label="$t('netValue')" prop="netValue" align="center" width="100" />
            <el-table-column :label="$t('num')" prop="num" align="center" width="100" />
            <el-table-column :label="$t('strikePrice')" prop="strikePrice" align="center" width="100" />
            <el-table-column :label="$t('strikeRealPrice')" prop="strikeRealPrice" align="center" width="100" />
            <el-table-column :label="$t('strikeType')" prop="strikeType" align="center" width="100" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('secPosition:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('secPosition:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import secPositionApi from '@/api/SecPositionApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'secPosition',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                cat: '',
                code: '',
                exchange: '',
                isMain: '',
                name: '',
                occDate: '',
            },
        };
    },
    created() {
        this.$store.dispatch('secExchange');
        this.$store.dispatch('secCat');
        this.$store.dispatch('isMain');
        this.getList();
    },
    computed: {
        ...mapGetters(['secExchanges', 'secCats', 'isMains']),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        tableRowStyle({ row, rowIndex }) {
            let ret = this.secCats.filter((obj) => obj.name === row.cat);
            if (ret && ret[0]) {
                return {
                    background: ret[0].bgcolor,
                    color: ret[0].forecolor,
                };
            } else {
                return {};
            }
        },
        getList() {
            this.listLoading = true;
            //查数据库
            secPositionApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.cat = '';
            this.listQuery.exchange = '';
            this.listQuery.isMain = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            secPositionApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
