<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('cat')" prop="cat">
            <el-input v-model="formdata.cat" :placeholder="$t('validate.cat')" />
        </el-form-item>
        <el-form-item :label="$t('createTime')" prop="createTime">
            <el-input v-model="formdata.createTime" :placeholder="$t('validate.createTime')" />
        </el-form-item>
        <el-form-item :label="$t('ip')" prop="ip">
            <el-input v-model="formdata.ip" :placeholder="$t('validate.ip')" />
        </el-form-item>
        <el-form-item :label="$t('ipAddr')" prop="ipAddr">
            <el-input v-model="formdata.ipAddr" :placeholder="$t('validate.ipAddr')" />
        </el-form-item>
        <el-form-item :label="$t('ret')" prop="ret">
            <el-input v-model="formdata.ret" :placeholder="$t('validate.ret')" />
        </el-form-item>
        <el-form-item :label="$t('src')" prop="src">
            <el-input v-model="formdata.src" :placeholder="$t('validate.src')" />
        </el-form-item>
        <el-form-item :label="$t('userAgent')" prop="userAgent">
            <el-input v-model="formdata.userAgent" :placeholder="$t('validate.userAgent')" />
        </el-form-item>
        <el-form-item :label="$t('userId')" prop="userId">
            <el-input v-model="formdata.userId" :placeholder="$t('validate.userId')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import sysUserLoginLogApi from "@/api/SysUserLoginLogApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                cat: '',
                createTime: '',
                ip: '',
                ipAddr: '',
                ret: '',
                src: '',
                userAgent: '',
                userId: '',
            }
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                cat: [{
                        required: true,
                        message: this.$t("validate.cat"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                createTime: [{
                        required: true,
                        message: this.$t("validate.createTime"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                ip: [{
                        required: true,
                        message: this.$t("validate.ip"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                ipAddr: [{
                        required: true,
                        message: this.$t("validate.ipAddr"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                ret: [{
                        required: true,
                        message: this.$t("validate.ret"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                src: [{
                        required: true,
                        message: this.$t("validate.src"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                userAgent: [{
                        required: true,
                        message: this.$t("validate.userAgent"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                userId: [{
                        required: true,
                        message: this.$t("validate.userId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    cat: '',
                    createTime: '',
                    ip: '',
                    ipAddr: '',
                    ret: '',
                    src: '',
                    userAgent: '',
                    userId: '',
                })
            } else {
                sysUserLoginLogApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cat: data.obj.cat,
                            createTime: data.obj.createTime,
                            ip: data.obj.ip,
                            ipAddr: data.obj.ipAddr,
                            ret: data.obj.ret,
                            src: data.obj.src,
                            userAgent: data.obj.userAgent,
                            userId: data.obj.userId,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cat = obj.cat;
            this.formdata.createTime = obj.createTime;
            this.formdata.ip = obj.ip;
            this.formdata.ipAddr = obj.ipAddr;
            this.formdata.ret = obj.ret;
            this.formdata.src = obj.src;
            this.formdata.userAgent = obj.userAgent;
            this.formdata.userId = obj.userId;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        sysUserLoginLogApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        sysUserLoginLogApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
