<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('currency')" prop="currency">
            <el-input v-model="formdata.currency"   :placeholder="$t('validate.currency')" />
        </el-form-item>
        <el-form-item :label="$t('industry')" prop="industry">
            <el-input v-model="formdata.industry"   :placeholder="$t('validate.industry')" />
        </el-form-item>
        <el-form-item :label="$t('industryDetail')" prop="industryDetail">
            <el-input v-model="formdata.industryDetail"   :placeholder="$t('validate.industryDetail')" />
        </el-form-item>
        <el-form-item :label="$t('listingMarket')" prop="listingMarket">
            <el-input v-model="formdata.listingMarket"   :placeholder="$t('validate.listingMarket')" />
        </el-form-item>
        <el-form-item :label="$t('listingMarketId')" prop="listingMarketId">
            <el-input v-model="formdata.listingMarketId"   :placeholder="$t('validate.listingMarketId')" />
        </el-form-item>
        <el-form-item :label="$t('securityCode')" prop="securityCode">
            <el-input v-model="formdata.securityCode"   :placeholder="$t('validate.securityCode')" />
        </el-form-item>
        <el-form-item :label="$t('securityId')" prop="securityId">
            <el-input v-model="formdata.securityId"   :placeholder="$t('validate.securityId')" />
        </el-form-item>
        <el-form-item :label="$t('securityName')" prop="securityName">
            <el-input v-model="formdata.securityName"   :placeholder="$t('validate.securityName')" />
        </el-form-item>
        <el-form-item :label="$t('tradingMarket')" prop="tradingMarket">
            <el-input v-model="formdata.tradingMarket"   :placeholder="$t('validate.tradingMarket')" />
        </el-form-item>
        <el-form-item :label="$t('tradingMarketId')" prop="tradingMarketId">
            <el-input v-model="formdata.tradingMarketId"   :placeholder="$t('validate.tradingMarketId')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import refSecurityApi from "@/api/RefSecurityApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               currency:'',
               industry:'',
               industryDetail:'',
               listingMarket:'',
               listingMarketId:'',
               securityCode:'',
               securityId:'',
               securityName:'',
               tradingMarket:'',
               tradingMarketId:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 currency: [{
                        required: true,
                        message: this.$t("validate.currency"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 industry: [{
                        required: true,
                        message: this.$t("validate.industry"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 industryDetail: [{
                        required: true,
                        message: this.$t("validate.industryDetail"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 listingMarket: [{
                        required: true,
                        message: this.$t("validate.listingMarket"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 listingMarketId: [{
                        required: true,
                        message: this.$t("validate.listingMarketId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 securityCode: [{
                        required: true,
                        message: this.$t("validate.securityCode"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 securityId: [{
                        required: true,
                        message: this.$t("validate.securityId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 securityName: [{
                        required: true,
                        message: this.$t("validate.securityName"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 tradingMarket: [{
                        required: true,
                        message: this.$t("validate.tradingMarket"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 tradingMarketId: [{
                        required: true,
                        message: this.$t("validate.tradingMarketId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 currency:'',
              		 industry:'',
              		 industryDetail:'',
              		 listingMarket:'',
              		 listingMarketId:'',
              		 securityCode:'',
              		 securityId:'',
              		 securityName:'',
              		 tradingMarket:'',
              		 tradingMarketId:'',
                })
            } else {
                refSecurityApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              currency:data.obj.currency,
					              industry:data.obj.industry,
					              industryDetail:data.obj.industryDetail,
					              listingMarket:data.obj.listingMarket,
					              listingMarketId:data.obj.listingMarketId,
					              securityCode:data.obj.securityCode,
					              securityId:data.obj.securityId,
					              securityName:data.obj.securityName,
					              tradingMarket:data.obj.tradingMarket,
					              tradingMarketId:data.obj.tradingMarketId,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.currency=obj.currency;
              this.formdata.industry=obj.industry;
              this.formdata.industryDetail=obj.industryDetail;
              this.formdata.listingMarket=obj.listingMarket;
              this.formdata.listingMarketId=obj.listingMarketId;
              this.formdata.securityCode=obj.securityCode;
              this.formdata.securityId=obj.securityId;
              this.formdata.securityName=obj.securityName;
              this.formdata.tradingMarket=obj.tradingMarket;
              this.formdata.tradingMarketId=obj.tradingMarketId;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        refSecurityApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        refSecurityApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
