<template>
<div class="app-container">
    <div class="filter-container" v-if="queryType=='simple'">
   		   		 <el-input :placeholder="$t('currency')" v-model="listQuery.currency" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('industry')" v-model="listQuery.industry" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('industryDetail')" v-model="listQuery.industryDetail" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('listingMarket')" v-model="listQuery.listingMarket" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('listingMarketId')" v-model="listQuery.listingMarketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('securityCode')" v-model="listQuery.securityCode" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('securityId')" v-model="listQuery.securityId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('securityName')" v-model="listQuery.securityName" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('tradingMarket')" v-model="listQuery.tradingMarket" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('tradingMarketId')" v-model="listQuery.tradingMarketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-button v-waves class="filter-item"   type="primary" :disabled="isDisable"  icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
   		 <div  class="filter-query" @click="changeSearch"><i class="el-icon-caret-bottom"></i><span>{{$t('advSearch')}}</span></div>
    </div>
    <div class="filter-container" v-if="queryType=='adv'">
   		 <el-input :placeholder="$t('currency')" v-model="listQuery.currency" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('industry')" v-model="listQuery.industry" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('industryDetail')" v-model="listQuery.industryDetail" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('listingMarket')" v-model="listQuery.listingMarket" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('listingMarketId')" v-model="listQuery.listingMarketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('securityCode')" v-model="listQuery.securityCode" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('securityId')" v-model="listQuery.securityId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('securityName')" v-model="listQuery.securityName" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('tradingMarket')" v-model="listQuery.tradingMarket" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('tradingMarketId')" v-model="listQuery.tradingMarketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-button v-waves class="filter-item"   type="primary" :disabled="isDisable"  icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
     	<div  class="filter-query"  @click="changeSearch"><i class="el-icon-caret-top"></i><span>{{$t('simpleSearch')}}</span></div>
    </div>
    <div class="filter-container">
     <el-button v-if="hasAuth('refSecurity:save')" v-waves class="filter-item" :disabled="isDisable" plain size="mini" type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange">
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100"/>
        <el-table-column :label="$t('currency')" prop="currency" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('industry')" prop="industry" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('industryDetail')" prop="industryDetail" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('listingMarket')" prop="listingMarket" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('listingMarketId')" prop="listingMarketId" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('securityCode')" prop="securityCode" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('securityId')" prop="securityId" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('securityName')" prop="securityName" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('tradingMarket')" prop="tradingMarket" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('tradingMarketId')" prop="tradingMarketId" sortable="custom" align="center" width="200" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('refSecurity:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('refSecurity:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
</div>
</template>

<script>
import refSecurityApi from "@/api/RefSecurityApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import {
    mapGetters
} from "vuex";
export default {
    name:'refSecurity',
    components: {
        Pagination,
        Edit
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
   		 		 currency:"",
   		 		 industry:"",
   		 		 industryDetail:"",
   		 		 listingMarket:"",
   		 		 listingMarketId:"",
   		 		 securityCode:"",
   		 		 securityId:"",
   		 		 securityName:"",
   		 		 tradingMarket:"",
   		 		 tradingMarketId:"",
            }
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([])
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            refSecurityApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
       clearQuery(){
   		 		this.listQuery.currency="";
   		 		this.listQuery.industry="";
   		 		this.listQuery.industryDetail="";
   		 		this.listQuery.listingMarket="";
   		 		this.listQuery.listingMarketId="";
   		 		this.listQuery.securityCode="";
   		 		this.listQuery.securityId="";
   		 		this.listQuery.securityName="";
   		 		this.listQuery.tradingMarket="";
   		 		this.listQuery.tradingMarketId="";
        },
        changeQuery(){
            
        },
        //删除
        delAction(id) {
                refSecurityApi.del(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.getList();
                    } else {
                        this.$message.error(data.msg);
                    }
                });
        },
    }
};
</script>
