<template>
    <iframe :style="outStyle" :src="src" width="100%" height="100%" class="app-main" :v-show="isShow"></iframe>
</template>
<script>
import sysOptionApi from '@/api/SysOptionApi';
export default {
    props: ['outStyle'],
    name: 'mx',
    created() {
        sysOptionApi.findMxServer().then(({ data }) => {
            if (data.flag) {
                this.src = data.obj;
                this.isShow = true;
            }
        });
    },
    data() {
        return {
            isShow: false,
            src: '',
        };
    },
};
</script>
<style lang="scss" scoped>
.app-main {
    min-height: calc(100vh - 84px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
</style>
