<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
        </el-form-item>
        <el-form-item :label="$t('code')" prop="code">
            <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
        </el-form-item>
        <el-form-item :label="$t('parentName')" prop="parentName">
            <el-popover placement="bottom-start" v-model="parentListVisible" ref="parentListPopover" trigger="click">
                <div class="div-tree">
                    <el-tree class="menu-tree" :data="parentList" :props="parentListTreeProps" node-key="id" ref="parentListTree" @current-change="parentListTreeCurrentChangeHandle" :default-expand-all="false" :highlight-current="true" :expand-on-click-node="false"></el-tree>
                </div>
            </el-popover>
            <el-input v-model="formdata.parentName" v-popover:parentListPopover :readonly="true"></el-input>
        </el-form-item>
        <el-form-item :label="$t('sortOrder')" prop="sortOrder">
            <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import sysDataApi from "@/api/SysDataApi";
import edit from '@/utils/mixins/Edit';
import {
    TreeDataTranslate
} from '@/utils/TreeTool';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            parentListVisible: false,
            parentList: [],
            parentListTreeProps: {
                label: 'name',
                children: 'children'
            },
            formdata: {
                id: '',
                code: '',
                name: '',
                parentId: null,
                parentName: '',
                sortOrder: 999,
            }
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                code: [{
                        required: true,
                        message: this.$t("validate.code"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                parentName: [{
                        required: true,
                        message: this.$t("validate.parentName"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            sysDataApi.findParent().then(({
                data
            }) => {
                if (data.flag) {
                    if (data.obj) {
                        this.parentList = TreeDataTranslate(data.obj);
                    } else {
                        this.parentList = [];
                    }
                    this.parentList = [{
                        id: 0,
                        name: '无',
                        children: this.parentList
                    }];
                }
            });
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    code: '',
                    name: '',
                    parentId: 0,
                    parentName: '',
                    sortOrder: 999,
                    val: '',
                })
            } else {
                sysDataApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            code: data.obj.code,
                            name: data.obj.name,
                            parentId: data.obj.parentId || 0,
                            parentName: '',
                            sortOrder: data.obj.sortOrder,
                        });

                    }
                });
            }
        },
        parentListTreeCurrentChangeHandle(data, node) {
            this.formdata.parentId = data.id;
            this.formdata.parentName = data.name;
            this.parentListVisible = false;

        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.code = obj.code;
            this.formdata.name = obj.name;
            this.formdata.parentId = obj.parentId;
            this.formdata.parentName = obj.parentName;
            this.formdata.sortOrder = obj.sortOrder;
            this.$nextTick(() => {
                this.$refs.parentListTree.setCurrentKey(this.formdata.parentId);
                this.formdata.parentName = (this.$refs.parentListTree.getCurrentNode() || {
                    'name': '无'
                })['name'];
            });
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        sysDataApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        sysDataApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
