<template>
<div class="app-container">
    <div class="filter-toolbar" style="text-align:right;margin-bottom:5px">
        <el-checkbox label="全选" style="margin-right:5px" v-model="checkFlag" @change="checkAll"></el-checkbox>
        <el-button type="danger" style="margin-right:5px" @click="deleteFile">删除</el-button>
        <el-upload style="display:inline-block;margin-right:5px" action="/api/file/upload" :headers="headers" :show-file-list="false" :data="data" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
            <el-button type="primary">上传<template v-if="cat=='0'">图片</template><template v-if="cat=='1'">视频</template><template v-if="cat=='2'">音频</template></el-button>
        </el-upload>
        <el-dropdown @command="moveFile" style="margin-right:5px">
            <el-button type="primary">
                移动<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
                <template v-for="(item,index) in folderList">
                    <el-dropdown-item v-if="item.cat!='0'" :key="index" :command="item.id">{{item.name}}</el-dropdown-item>
                </template>
            </el-dropdown-menu>
        </el-dropdown>
    </div>
    <el-row :gutter="10">
        <el-col :span="6">
            <el-button type="" @click="addFolder" style="width:100%">添加分组</el-button>
            <div style="height:600px; overflow-y: auto;">
                <el-menu default-active="0">
                    <el-menu-item v-for="(item,index) in folderList" :key="index" :index="index+''" @click="selectedFolder(index)" style="height:auto">
                        <div slot="title">
                            <template v-if="index == editFolder">
                                <div>
                                    <el-input v-model="name"></el-input>
                                </div>
                                <div style="text-align:center">
                                    <el-button type="primary" plain size="mini" @click="updateFolder(index)">确认</el-button>
                                    <el-button type="danger" plain size="mini" @click="cancelFolder">取消</el-button>
                                </div>
                            </template>
                            <template v-else>
                                <div style="width:100px;display:inline-block">{{item.name}}</div>
                                <template v-if="item.cat == '2'&&index==selected">
                                    <i class="el-icon-edit" @click="folderEdit(index)"></i>
                                    <i class="el-icon-delete" style="color:#F56C6C" @click="folderDel(index)"></i>
                                </template>
                            </template>
                        </div>
                    </el-menu-item>
                </el-menu>
            </div>
        </el-col>
        <el-col :span="18">
            <div class="file-list" style="height:600px; overflow-y: auto;">
                <div v-for="(item,index) in list" :key="index" class="file-item text-center" style="position: relative" @click="selectedFile(index)">
                    <template v-if="item.cat=='0'">
                        <img :src="item.url" class="file-cover">
                    </template>
                    <template v-else-if="item.cat=='1'">
                        <img src="@/assets/img/video.jpg" class="file-cover">
                    </template>
                    <template v-else-if="item.cat=='2'">
                        <img src="@/assets/img/audio.jpg" class="file-cover">
                    </template>
                    <template v-else-if="item.cat=='3'">
                        <img src="@/assets/img/doc.jpg" class="file-cover">
                    </template>
                    <div class="file-type">
                        <div>{{item.oldName}}</div>
                    </div>
                    <div class='mask' v-if="item.selected == 1"></div>
                </div>
            </div>
            <div>
                <div class="file-loading text-center" v-show="loading">
                    <img style="height: 1.14286rem; width: 1.14286rem" src="@/assets/img/loading-2.svg">
                </div>
                <div class="text-center">
                    <a v-show="(curPn < totalPn)&&loading==false" href="javascript:" class="file-more" @click="nextPn">加载更多</a>
                </div>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24">
            <div style="text-align:center">
                <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
                <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
            </div>
        </el-col>
    </el-row>

</div>
</template>

<script>
import fileApi from "@/api/FileApi";
import folderApi from '@/api/FolderApi';
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            checkFlag: false,
            loading: false,
            totalPn: 0,
            curPn: 1,
            data: {},
            cat: '0',
            name: '',
            folderList: [],
            selected: 0, // 选中组
            editFolder: -1, // 编辑组
            editSetting: -1, // 打开编辑
            list: [], // 当前组的所有图片
        };
    },
    created() {
           this.findFolder();
            this.findFile(1);
    },
    computed: {
        ...mapGetters(['token']),
        headers() {
            return {
                'Authorization': "Bearer " + this.token
            }
        }
    },
    methods: {
        checkAll() {
            if (this.checkFlag) {
                this.list.map(item => item.selected = 1);
            } else {
                this.list.map(item => item.selected = 0);
            }
        },
        selectedFile(index) {
            if (this.list[index].selected == 0) {
                this.list[index].selected = 1;
            } else {
                this.list[index].selected = 0;
            }
            let ret = this.list.filter(obj => obj.selected == 0);
            if (ret.length == 0) {
                this.checkFlag = true;
            } else {
                this.checkFlag = false;
            }
        },
        deleteFile() {
            let ret = this.list.filter(obj => obj.selected == 1).map(item => {
                return item.id
            });
            if (ret.length == 0) {
                this.$message.error('请选择你要删除的图片');
                return;
            }
            this.$confirm(this.$t("delPrompt"), this.$t("prompt"), {
                type: "warning"
            }).then(() => {
                fileApi.del(ret).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.findFile(1);
                    }
                });
            }).catch(() => {});

        },
        moveFile(folderId) {
            let ret = this.list.filter(obj => obj.selected == 1);
            if (ret.length == 0) {
                this.$message.error('请选择要移动的图片');
                return;
            }
            ret = ret.filter(obj => obj.folderId != folderId);
            if (ret.length > 0) {
                ret = ret.map(item => {
                    return item.id
                })
                fileApi.move(ret, folderId).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.findFile(1);
                    }
                });

            }

        },
        nextPn() {
            if (this.curPn < this.totalPn) {
                this.findFile(this.curPn + 1);
            }
        },
        addFolder() {
            let data = {
                name: '未命名'
            };
            folderApi.save(data).then(({
                data
            }) => {
                if (data.flag) {
                    this.findFolder();
                }

            });
        },
        resetFields() {},
        selectedFolder(index) {
            if (this.selected != index) {
                this.selected = index;
                if (index > 0) {
                    this.data.folderId = this.folderList[index].id;
                } else {
                    this.data.folderId = '';
                }
                this.findFile(1);
                this.editSetting = -1;
            }
        },
        folderSetting(index) {
            this.editSetting = index;
            this.editFolder = -1;
        },
        folderEdit(index) {
            this.editFolder = index;
            this.name = this.folderList[index].name;
        },
        findFile(pn) {
            this.loading = true;
            this.curPn = pn;
            let data = {};
            data.folderId = this.data.folderId;
            data.pn = pn;
            fileApi.list(data).then(({
                data
            }) => {
                if (data.flag) {
                    this.loading = false;
                    let list = data.obj.list || [];
                    list.map(function (item) {
                        item.selected = 0
                    });
                    this.checkFlag = false;
                    if (pn == 1) {
                        this.list = list;
                    } else {
                        this.list = this.list.concat(list);
                    }
                    this.totalPn = Math.ceil(data.obj.totalNum / 20);

                }
            })
        },
        updateFolder(index) {
            if (this.folderList[index].name == this.name) {
                this.editFolder = -1;
                this.editSetting = -1;
            } else {
                let data = {};
                data.id = this.folderList[index].id;
                data.name = this.name;
                folderApi.update(data).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.folderList[index].name = this.name;
                        this.editFolder = -1;
                        this.editSetting = -1;
                    }
                });
            }
        },
        handleAvatarSuccess(res, file) {
            this.findFile(1);
        },
        beforeAvatarUpload(file) {
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
            }
            return isLt2M;
        },
        folderDel(index) {
            this.$confirm(this.$t("delPrompt"), this.$t("prompt"), {
                type: "warning"
            }).then(() => {
                let id = this.folderList[index].id;
                folderApi.del(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.editSetting = -1;
                        this.selectedFolder(0);
                        this.findFolder();
                    }
                });
            }).catch(() => {});
        },
        cancelFolder() {
            this.editSetting = -1;
            this.editFolder = -1;
        },
        cancel(){
          window.close();
        },
        findFolder() {
            folderApi.findAll().then(({
                data
            }) => {
                if (data.flag) {
                    this.folderList = data.obj;
                }
            });
        },
        resetVal(obj) {

        },
        saveAction() {
            let ret = this.list.filter(obj => obj.selected == 1);
            if (ret.length == 0) {
                this.$message.error('请选择PIC');
                return;
            }
            ret = ret.map(item => item.url);
            window.opener.CKEDITOR.tools.callFunction(1, ret[0], '');
            window.close();
        },

    }
};
</script>

<style lang="scss" scoped>
.panel {
    padding: 0 1rem;
    background: #fff;
}

.panel .panel-header {
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

.panel .panel-header:after {
    clear: both;
    content: " ";
    display: block;
}

.panel .panel-body {
    padding: 1rem 0;
}

.panel .panel-footer {
    border-top: 1px solid #eee;
    padding: 1rem 0;
}

.panel .panel-header .nav {
    margin-top: -1rem;
    margin-bottom: -1rem;
    float: left;
}

.panel .panel-header .nav.nav-right {
    float: right;
}

.panel .panel-header .nav-link {
    padding: 1rem 0;
    margin: 0 1rem -1px 1rem;
}

.panel .panel-header .nav-item:first-child .nav-link {
    margin-left: 0;
}

.panel .panel-header .nav-item:last-child .nav-link {
    margin-right: 0;
}

.panel .panel-header .nav-link.active {
    border-bottom: 2px solid #449be6;
}

.panel .panel-close {
    float: right;
    font-size: 1.5rem;
    height: 1.1429rem;
    font-weight: 700;
    text-decoration: none;
    color: #666;
    line-height: .9;
}

.panel-body .left {
    max-width: 153px;
    width: 300px;
    border: 1px solid #eee;
    background-color: #f4f5f9;
}

.checkbox-label input[type=checkbox]~.label-icon {
    background-image:
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAABlBMVEX////g4OACVBJKAAAAFklEQVQI12MAgfr/DQwODGRhsF4gAAAGVA59ic+HrwAAAABJRU5ErkJggg==");
}

.checkbox-label input[type=checkbox]:checked~.label-icon {
    background-image:
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAIVBMVEVEq/f////1+/+Kyvpnuvi54PzT7P2Dx/lzwPlatfdPsPeWEnYqAAAAQklEQVQI12MQhAEGAQYIYCSKxQFnBRqAWFwMDKxCDiCWkwFDoApY1lAYKARmMQsmqkD1GgKFICxWcbh5Ewjbi3ApACnUBnd6YEqMAAAAAElFTkSuQmCC");
}

.btn {
    border-radius: .15rem;
}

.file-item .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    background-image: url('~@/assets/img/icon-file-gou.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.file-type {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    background: #0275d84a;
    opacity: 1;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    word-break: break-all;
}

.file-type div {
    line-height: 16px;
    text-align: center;
    font-size: 13px;
}

.file-cover {
    max-width: 100%;
    max-height: 138px;
    margin: auto auto;
}

.active {
    color: #449be6;
}

.file-list {
    margin-left: -9px;
}

.file-list:after {
    content: " ";
    display: block;
    clear: both;
}

.file-item {
    // display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 140px;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #eee;
    float: left;
    transition: 150ms;
}

.file-item2 {
    height: 170px;
}

.file-item:hover {
    border-color: #529fe0;
}
</style>
