<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('content')" prop="content">
                <el-input v-model="formdata.content" rows="30" :placeholder="$t('validate.content')" type="textarea" />
            </el-form-item>
            <el-form-item :label="$t('roles')" prop="roles">
                <el-select v-model="roles" multiple filterable remote reserve-keyword clearable :placeholder="$t('validate.parentIds')" :remote-method="remote" :loading="loading">
                    <el-option v-for="item in list" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import researchReportApi from '@/api/ResearchReportApi';
import roleApi from '@/api/RoleApi';
import edit from '@/utils/mixins/Edit';
import Ckeditor4 from '@/components/Ckeditor';
import _ from 'lodash';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],

    data() {
        return {
            loading: false,
            list: [],
            roles: [],
            formdata: {
                id: '',
                content: '',
                name: '',
                roles: '',
                sortOrder: 999,
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                content: [
                    {
                        message: this.$t('validate.content'),
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                roles: [
                    {
                        message: this.$t('validate.roles'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    content: '',
                    name: '',
                    roles: '',
                    sortOrder: 999,
                });
            } else {
                researchReportApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            content: data.obj.content,
                            name: data.obj.name,
                            roles: data.obj.roles,
                            sortOrder: data.obj.sortOrder,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.content = obj.content;
            this.formdata.name = obj.name;
            this.formdata.roles = obj.roles || '';
            this.roles = [];
            if (this.formdata.roles.length > 0) {
                let roles2 = this.formdata.roles.split(',');
                for (let i = 0; i < roles2.length; i++) {
                    if (roles2 != '') {
                        this.roles.push(parseInt(roles2[i]));
                    }
                }
                let roleIds = this.roles;
                let data = { roleIds };
                roleApi.list(data).then(({ data }) => {
                    if (data.flag) {
                        if (data.obj) {
                            this.list = data.obj.list;
                        } else {
                            this.list = [];
                        }
                    }
                });
            }
            this.formdata.sortOrder = obj.sortOrder;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    let formdata = _.cloneDeep(this.formdata);
                    formdata.roles = this.roles.join(',');
                    if (this.editFlag) {
                        researchReportApi.update(formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        researchReportApi.save(formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
        remote(query) {
            let data = {
                pn: 1,
                rn: 10,
                sort: 'id',
                order: 'asc',
                name: query,
            };
            this.loading = true;
            roleApi.list(data).then(({ data }) => {
                if (data.flag) {
                    if (data.obj) {
                        this.list = data.obj.list;
                    } else {
                        this.list = [];
                    }
                }
                this.loading = false;
            });
        },
    },
};
</script>
