<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('autocorrelation10sec')" prop="autocorrelation10sec">
            <el-input v-model="formdata.autocorrelation10sec"   :placeholder="$t('validate.autocorrelation10sec')" />
        </el-form-item>
        <el-form-item :label="$t('autocorrelation60sec')" prop="autocorrelation60sec">
            <el-input v-model="formdata.autocorrelation60sec"   :placeholder="$t('validate.autocorrelation60sec')" />
        </el-form-item>
        <el-form-item :label="$t('marketId')" prop="marketId">
            <el-input v-model="formdata.marketId"   :placeholder="$t('validate.marketId')" />
        </el-form-item>
        <el-form-item :label="$t('occDate')" prop="occDate">
            <el-input v-model="formdata.occDate"   :placeholder="$t('validate.occDate')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import autocorrelationMarketApi from "@/api/AutocorrelationMarketApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               autocorrelation10sec:'',
               autocorrelation60sec:'',
               marketId:'',
               occDate:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 autocorrelation10sec: [{
                        required: true,
                        message: this.$t("validate.autocorrelation10sec"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 autocorrelation60sec: [{
                        required: true,
                        message: this.$t("validate.autocorrelation60sec"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 marketId: [{
                        required: true,
                        message: this.$t("validate.marketId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 occDate: [{
                        required: true,
                        message: this.$t("validate.occDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 autocorrelation10sec:'',
              		 autocorrelation60sec:'',
              		 marketId:'',
              		 occDate:'',
                })
            } else {
                autocorrelationMarketApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              autocorrelation10sec:data.obj.autocorrelation10sec,
					              autocorrelation60sec:data.obj.autocorrelation60sec,
					              marketId:data.obj.marketId,
					              occDate:data.obj.occDate,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.autocorrelation10sec=obj.autocorrelation10sec;
              this.formdata.autocorrelation60sec=obj.autocorrelation60sec;
              this.formdata.marketId=obj.marketId;
              this.formdata.occDate=obj.occDate;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        autocorrelationMarketApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        autocorrelationMarketApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
