<template>
    <div class="app-container">
        <el-row>
            <el-col :span="12"><k-chart :outStyle="outStyle"/></el-col>
            <el-col :span="12"><line-chart :outStyle="outStyle"/></el-col>
        </el-row>
        <el-row>
            <el-col :span="12"><hot-chart :outStyle="outStyle"/></el-col>
            <el-col :span="12"><analytics :outStyle="outStyle"/></el-col>
        </el-row>
    </div>
</template>

<script>
import KChart from '@/views/pages/ActivityIndex/KChart';
import HotChart from '@/views/pages/DailyTradingActivityIndustry/HotChart';
import LineChart from '@/views/pages/IndexType/LineChart';
import Analytics from '@/views/pages/Analytics';
import { mapGetters } from 'vuex';
export default {
    name: 'QuotedSpread',
    components: {
        KChart,
        HotChart,
        LineChart,
        Analytics,
    },
    data() {
        return {
            outStyle: {
                'min-height': 'calc(30vh)',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
    },
    methods: {},
};
</script>
