<template>
<div class="app-container">
    <div class="filter-container" v-if="queryType=='simple'">
   		   		 <el-input :placeholder="$t('marketId')" v-model="listQuery.marketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('occDate')" v-model="listQuery.occDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10minAbs')" v-model="listQuery.realisedSpread10minAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10minBps')" v-model="listQuery.realisedSpread10minBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10secAbs')" v-model="listQuery.realisedSpread10secAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10secBps')" v-model="listQuery.realisedSpread10secBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1minAbs')" v-model="listQuery.realisedSpread1minAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1minBps')" v-model="listQuery.realisedSpread1minBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1secAbs')" v-model="listQuery.realisedSpread1secAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1secBps')" v-model="listQuery.realisedSpread1secBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread30secAbs')" v-model="listQuery.realisedSpread30secAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread30secBps')" v-model="listQuery.realisedSpread30secBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread5minAbs')" v-model="listQuery.realisedSpread5minAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread5minBps')" v-model="listQuery.realisedSpread5minBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-button v-waves class="filter-item"   type="primary" :disabled="isDisable"  icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
   		 <div  class="filter-query" @click="changeSearch"><i class="el-icon-caret-bottom"></i><span>{{$t('advSearch')}}</span></div>
    </div>
    <div class="filter-container" v-if="queryType=='adv'">
   		 <el-input :placeholder="$t('marketId')" v-model="listQuery.marketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('occDate')" v-model="listQuery.occDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10minAbs')" v-model="listQuery.realisedSpread10minAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10minBps')" v-model="listQuery.realisedSpread10minBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10secAbs')" v-model="listQuery.realisedSpread10secAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread10secBps')" v-model="listQuery.realisedSpread10secBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1minAbs')" v-model="listQuery.realisedSpread1minAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1minBps')" v-model="listQuery.realisedSpread1minBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1secAbs')" v-model="listQuery.realisedSpread1secAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread1secBps')" v-model="listQuery.realisedSpread1secBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread30secAbs')" v-model="listQuery.realisedSpread30secAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread30secBps')" v-model="listQuery.realisedSpread30secBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread5minAbs')" v-model="listQuery.realisedSpread5minAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('realisedSpread5minBps')" v-model="listQuery.realisedSpread5minBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-button v-waves class="filter-item"   type="primary" :disabled="isDisable"  icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
     	<div  class="filter-query"  @click="changeSearch"><i class="el-icon-caret-top"></i><span>{{$t('simpleSearch')}}</span></div>
    </div>
    <div class="filter-container">
     <el-button v-if="hasAuth('realisedSpreadMarket:save')" v-waves class="filter-item" :disabled="isDisable" plain size="mini" type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange">
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100"/>
        <el-table-column :label="$t('marketId')" prop="marketId" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('occDate')" prop="occDate" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread10minAbs')" prop="realisedSpread10minAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread10minBps')" prop="realisedSpread10minBps" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread10secAbs')" prop="realisedSpread10secAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread10secBps')" prop="realisedSpread10secBps" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread1minAbs')" prop="realisedSpread1minAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread1minBps')" prop="realisedSpread1minBps" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread1secAbs')" prop="realisedSpread1secAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread1secBps')" prop="realisedSpread1secBps" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread30secAbs')" prop="realisedSpread30secAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread30secBps')" prop="realisedSpread30secBps" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread5minAbs')" prop="realisedSpread5minAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('realisedSpread5minBps')" prop="realisedSpread5minBps" sortable="custom" align="center" width="200" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('realisedSpreadMarket:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('realisedSpreadMarket:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
</div>
</template>

<script>
import realisedSpreadMarketApi from "@/api/RealisedSpreadMarketApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import {
    mapGetters
} from "vuex";
export default {
    name:'realisedSpreadMarket',
    components: {
        Pagination,
        Edit
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
   		 		 marketId:"",
   		 		 occDate:"",
   		 		 realisedSpread10minAbs:"",
   		 		 realisedSpread10minBps:"",
   		 		 realisedSpread10secAbs:"",
   		 		 realisedSpread10secBps:"",
   		 		 realisedSpread1minAbs:"",
   		 		 realisedSpread1minBps:"",
   		 		 realisedSpread1secAbs:"",
   		 		 realisedSpread1secBps:"",
   		 		 realisedSpread30secAbs:"",
   		 		 realisedSpread30secBps:"",
   		 		 realisedSpread5minAbs:"",
   		 		 realisedSpread5minBps:"",
            }
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([])
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            realisedSpreadMarketApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
       clearQuery(){
   		 		this.listQuery.marketId="";
   		 		this.listQuery.occDate="";
   		 		this.listQuery.realisedSpread10minAbs="";
   		 		this.listQuery.realisedSpread10minBps="";
   		 		this.listQuery.realisedSpread10secAbs="";
   		 		this.listQuery.realisedSpread10secBps="";
   		 		this.listQuery.realisedSpread1minAbs="";
   		 		this.listQuery.realisedSpread1minBps="";
   		 		this.listQuery.realisedSpread1secAbs="";
   		 		this.listQuery.realisedSpread1secBps="";
   		 		this.listQuery.realisedSpread30secAbs="";
   		 		this.listQuery.realisedSpread30secBps="";
   		 		this.listQuery.realisedSpread5minAbs="";
   		 		this.listQuery.realisedSpread5minBps="";
        },
        changeQuery(){
            
        },
        //删除
        delAction(id) {
                realisedSpreadMarketApi.del(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.getList();
                    } else {
                        this.$message.error(data.msg);
                    }
                });
        },
    }
};
</script>
