<template>
    <el-dialog :title="$t('config')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('cat')" prop="cat">
                <el-select v-model="formdata.cat" :placeholder="$t('validate.cat')" clearable disabled>
                    <el-option v-for="item in optionCats" :key="item.code" :label="item.name" :value="item.code"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" disabled />
            </el-form-item>
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" disabled />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
            </el-form-item>
            <el-form-item v-if="formdata.inputType == 'num'" :label="$t('val')" prop="val">
                <el-input-number v-model="formdata.val" :min="numberSetting.min" :max="numberSetting.max" :precision="numberSetting.precision" :step="numberSetting.step" />
            </el-form-item>
            <el-form-item v-if="formdata.inputType == 'selected'" :label="$t('val')" prop="val">
                <el-select v-model="formdata.val" placeholder="请选择" clearable @change="changeSelect">
                    <el-option v-for="item in items" :key="item.val" :label="item.name" :value="item.val"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-if="formdata.inputType == 'text'" :label="$t('val')" prop="val">
                <el-input v-model="formdata.val" :placeholder="$t('validate.val')" />
            </el-form-item>
            <el-form-item v-if="formdata.inputType == 'date'" :label="$t('val')" prop="val">
                <el-date-picker v-model="formdata.val" type="date" placeholder="选择日期" format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd"></el-date-picker>
            </el-form-item>
            <el-form-item v-if="formdata.inputType == 'textarea'" :label="$t('val')" prop="val">
                <el-input v-model="formdata.val" :placeholder="$t('validate.val')" type="textarea" :rows="5" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import sysOptionApi from '@/api/SysOptionApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            items: [],
            numberSetting: {
                min: 0,
                max: 100,
                precision: 2,
                step: 1,
            },
            formdata: {
                id: '',
                cat: '',
                code: '',
                inputType: '',
                maxVal: '',
                minVal: '',
                name: '',
                sortOrder: '',
                typeVal: '',
                val: '',
                val2: '',
            },
        };
    },
    created() {
        this.$store.dispatch('optionCat');
    },
    computed: {
        ...mapGetters(['optionCats']),
        rules() {
            return {
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                val: [
                    {
                        required: true,
                        message: this.$t('validate.val'),
                        trigger: 'blur',
                    },
                    {
                        max: 65535,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                val2: [
                    {
                        message: this.$t('validate.val2'),
                        trigger: 'blur',
                    },
                    {
                        max: 65535,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    cat: '',
                    code: '',
                    inputType: '',
                    name: '',
                    sortOrder: 999,
                    typeVal: '',
                    val: '',
                    val2: '',
                });
            } else {
                sysOptionApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            cat: data.obj.cat,
                            code: data.obj.code,
                            inputType: data.obj.inputType,
                            name: data.obj.name,
                            sortOrder: data.obj.sortOrder,
                            typeVal: data.obj.typeVal || '',
                            val: data.obj.val || '',
                            val2: data.obj.val2 || '',
                        });
                    }
                });
            }
        },
        changeSelect() {
            if (this.formdata.val != '') {
                let obj = this.items.find((item) => {
                    return item.val === this.formdata.val;
                });
                this.formdata.val2 = obj.name;
            } else {
                this.formdata.val2 = '';
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.cat = obj.cat;
            this.formdata.code = obj.code;
            this.formdata.inputType = obj.inputType;
            this.formdata.name = obj.name;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.typeVal = obj.typeVal;
            this.formdata.val = obj.val;
            this.formdata.val2 = obj.val2;
            this.items = [];
            this.numberSetting.min = 0;
            this.numberSetting.max = 100;
            this.numberSetting.precision = 2;
            this.numberSetting.step = 1;
            if (this.formdata.inputType != '') {
                if (this.formdata.inputType == 'num') {
                    let val = this.formdata.typeVal.split(':');
                    this.numberSetting.min = parseFloat(val[0]);
                    this.numberSetting.max = parseFloat(val[1]);
                    this.numberSetting.precision = parseFloat(val[2]);
                    this.numberSetting.step = parseFloat(val[3]);
                } else if (this.formdata.inputType == 'selected') {
                    let val = this.formdata.typeVal.split(',');
                    for (let i = 0; i < val.length; i++) {
                        let item = val[i].split(':');
                        this.items.push({
                            name: item[0],
                            val: item[1],
                        });
                    }
                }
            }
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    sysOptionApi.update(this.formdata).then(({ data }) => {
                        if (data.flag) {
                            this.dialogFormVisible = false;
                            this.$emit('refreshList');
                        }
                    });
                }
            });
        },
    },
};
</script>
