<template>
<div class="app-container">
    <div class="filter-container">
        <el-select v-model="listQuery.cat" class="filter-item" :placeholder="$t('cat')" clearable>
            <el-option v-for="item in optionCats" :key="item.code" :label="item.name" :value="item.code">
            </el-option>
        </el-select>
        <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-date-picker v-model="createDate" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-date-picker v-model="modifyDate" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('startModifyTime')" :end-placeholder="$t('endModifyTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
        <el-button class="filter-item" type="text" @click="changeSearch">{{queryType=='adv'?$t('simpleSearch'):$t('advSearch')}}</el-button>
    </div>
    <div class="filter-toolbar">
        <el-button v-if="hasAuth('sysOption:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
        <el-button v-if="hasAuth('sysOption:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{$t('delBatch')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
        <el-table-column type="selection" width="40" />
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
        <el-table-column :label="$t('cat')" prop="cat" align="center" width="100">
            <template slot-scope="scope">{{optionCatName(scope.row.cat)}}</template>
        </el-table-column>
        <el-table-column :label="$t('name')" prop="name" align="center" min-width="150" />
        <el-table-column :label="$t('code')" prop="code" align="center" min-width="200" />
        <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="80" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="280" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('sysOption:config')" v-waves type="primary" plain :disabled="isDisable" @click="config(scope.row)">{{$t('config')}}</el-button>
                <el-button v-if="hasAuth('sysOption:edit')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('sysOption:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    <config v-if="configDialogFormVisible" ref="config" @refreshList="getList" />
</div>
</template>

<script>
import sysOptionApi from "@/api/SysOptionApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import Config from "./Config";
import formatDate from '@/utils/Date';
import {
    mapGetters
} from "vuex";
export default {
    name: 'sysOption',
    components: {
        Pagination,
        Edit,
        Config
    },
    mixins: [list],
    data() {
        return {
            configDialogFormVisible: false,
            createDate: null,
            modifyDate: null,
            listQuery: {
                cat: "",
                code: "",
                name: "",
                startTime: '',
                endTime: '',
                startModifyTime: '',
                endModifyTime: ''
            }
        };
    },
    created() {
        this.$store.dispatch('optionCat');
        this.getList();
    },
    computed: {
        ...mapGetters(['optionCats'])
    },
    methods: {
        optionCatName(code) {
            let ret = this.optionCats.filter(obj => obj.code == code);
            if (ret) {
                return ret[0] && ret[0].name;
            } else {
                return "";
            }

        },
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            sysOptionApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
        config(row) {
            this.isDisable = true
            setTimeout(() => {
                this.isDisable = false
            }, 1000);
            this.configDialogFormVisible = true;
            this.$nextTick(() => {
                this.$refs.config.init(row.id);
            });
        },
        clearQuery() {
            this.createDate = null;
            this.modifyDate = null;
        },
        changeQuery() {
            if (this.createDate != null) {
                this.listQuery.startTime = formatDate(this.createDate[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.endTime = formatDate(this.createDate[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.startTime = '';
                this.listQuery.endTime = '';
            }
            if (this.modifyDate != null) {
                this.listQuery.startModifyTime = formatDate(this.modifyDate[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.endModifyTime = formatDate(this.modifyDate[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.startModifyTime = '';
                this.listQuery.endModifyTime = '';
            }
        },
        //删除
        delAction(id) {
            sysOptionApi.del(id).then(({
                data
            }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    }
};
</script>
