<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter="save">
            <el-form-item :label="$t('addDate')" prop="addDate">
                <el-input v-model="formdata.addDate" :placeholder="$t('validate.addDate')" />
            </el-form-item>
            <el-form-item :label="$t('audio')" prop="audio">
                <el-input v-model="formdata.audio" :placeholder="$t('validate.audio')" />
            </el-form-item>
            <el-form-item :label="$t('author')" prop="author">
                <el-input v-model="formdata.author" :placeholder="$t('validate.author')" />
            </el-form-item>
            <el-form-item :label="$t('cat')" prop="cat">
                <el-input v-model="formdata.cat" :placeholder="$t('validate.cat')" />
            </el-form-item>
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" />
            </el-form-item>
            <el-form-item :label="$t('createBy')" prop="createBy">
                <el-input v-model="formdata.createBy" :placeholder="$t('validate.createBy')" />
            </el-form-item>
            <el-form-item :label="$t('createTime')" prop="createTime">
                <el-input v-model="formdata.createTime" :placeholder="$t('validate.createTime')" />
            </el-form-item>
            <el-form-item :label="$t('enabled')" prop="enabled">
                <el-input v-model="formdata.enabled" :placeholder="$t('validate.enabled')" />
            </el-form-item>
            <el-form-item :label="$t('info')" prop="info">
                <el-input v-model="formdata.info" :placeholder="$t('validate.info')" />
            </el-form-item>
            <el-form-item :label="$t('isLeaf')" prop="isLeaf">
                <el-input v-model="formdata.isLeaf" :placeholder="$t('validate.isLeaf')" />
            </el-form-item>
            <el-form-item :label="$t('link')" prop="link">
                <el-input v-model="formdata.link" :placeholder="$t('validate.link')" />
            </el-form-item>
            <el-form-item :label="$t('mobileInfo')" prop="mobileInfo">
                <el-input v-model="formdata.mobileInfo" :placeholder="$t('validate.mobileInfo')" />
            </el-form-item>
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('parentId')" prop="parentId">
                <el-input v-model="formdata.parentId" :placeholder="$t('validate.parentId')" />
            </el-form-item>
            <el-form-item :label="$t('pic')" prop="pic">
                <el-input v-model="formdata.pic" :placeholder="$t('validate.pic')" />
            </el-form-item>
            <el-form-item :label="$t('seoDescription')" prop="seoDescription">
                <el-input v-model="formdata.seoDescription" :placeholder="$t('validate.seoDescription')" />
            </el-form-item>
            <el-form-item :label="$t('seoKeywords')" prop="seoKeywords">
                <el-input v-model="formdata.seoKeywords" :placeholder="$t('validate.seoKeywords')" />
            </el-form-item>
            <el-form-item :label="$t('seoTitle')" prop="seoTitle">
                <el-input v-model="formdata.seoTitle" :placeholder="$t('validate.seoTitle')" />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input v-model="formdata.sortOrder" :placeholder="$t('validate.sortOrder')" />
            </el-form-item>
            <el-form-item :label="$t('src')" prop="src">
                <el-input v-model="formdata.src" :placeholder="$t('validate.src')" />
            </el-form-item>
            <el-form-item :label="$t('tag')" prop="tag">
                <el-input v-model="formdata.tag" :placeholder="$t('validate.tag')" />
            </el-form-item>
            <el-form-item :label="$t('target')" prop="target">
                <el-input v-model="formdata.target" :placeholder="$t('validate.target')" />
            </el-form-item>
            <el-form-item :label="$t('url')" prop="url">
                <el-input v-model="formdata.url" :placeholder="$t('validate.url')" />
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
                <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
            </div>
        </template>
    </el-dialog>
</template>
<script>
import cmsApi from '@/api/CmsApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                addDate: '',
                audio: '',
                author: '',
                cat: '',
                code: '',
                createBy: '',
                createTime: '',
                enabled: '',
                info: '',
                isLeaf: '',
                link: '',
                mobileInfo: '',
                name: '',
                parentId: '',
                pic: '',
                seoDescription: '',
                seoKeywords: '',
                seoTitle: '',
                sortOrder: '',
                src: '',
                tag: '',
                target: '',
                url: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                addDate: [
                    {
                        required: true,
                        message: this.$t('validate.addDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                audio: [
                    {
                        required: true,
                        message: this.$t('validate.audio'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                author: [
                    {
                        required: true,
                        message: this.$t('validate.author'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                cat: [
                    {
                        required: true,
                        message: this.$t('validate.cat'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                createBy: [
                    {
                        required: true,
                        message: this.$t('validate.createBy'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                createTime: [
                    {
                        required: true,
                        message: this.$t('validate.createTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                enabled: [
                    {
                        required: true,
                        message: this.$t('validate.enabled'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                info: [
                    {
                        required: true,
                        message: this.$t('validate.info'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                isLeaf: [
                    {
                        required: true,
                        message: this.$t('validate.isLeaf'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                link: [
                    {
                        required: true,
                        message: this.$t('validate.link'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                mobileInfo: [
                    {
                        required: true,
                        message: this.$t('validate.mobileInfo'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                parentId: [
                    {
                        required: true,
                        message: this.$t('validate.parentId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                pic: [
                    {
                        required: true,
                        message: this.$t('validate.pic'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                seoDescription: [
                    {
                        required: true,
                        message: this.$t('validate.seoDescription'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                seoKeywords: [
                    {
                        required: true,
                        message: this.$t('validate.seoKeywords'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                seoTitle: [
                    {
                        required: true,
                        message: this.$t('validate.seoTitle'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                src: [
                    {
                        required: true,
                        message: this.$t('validate.src'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                tag: [
                    {
                        required: true,
                        message: this.$t('validate.tag'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                target: [
                    {
                        required: true,
                        message: this.$t('validate.target'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                url: [
                    {
                        required: true,
                        message: this.$t('validate.url'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    addDate: '',
                    audio: '',
                    author: '',
                    cat: '',
                    code: '',
                    createBy: '',
                    createTime: '',
                    enabled: '',
                    info: '',
                    isLeaf: '',
                    link: '',
                    mobileInfo: '',
                    name: '',
                    parentId: '',
                    pic: '',
                    seoDescription: '',
                    seoKeywords: '',
                    seoTitle: '',
                    sortOrder: '',
                    src: '',
                    tag: '',
                    target: '',
                    url: '',
                });
            } else {
                cmsApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            addDate: data.obj.addDate,
                            audio: data.obj.audio,
                            author: data.obj.author,
                            cat: data.obj.cat,
                            code: data.obj.code,
                            createBy: data.obj.createBy,
                            createTime: data.obj.createTime,
                            enabled: data.obj.enabled,
                            info: data.obj.info,
                            isLeaf: data.obj.isLeaf,
                            link: data.obj.link,
                            mobileInfo: data.obj.mobileInfo,
                            name: data.obj.name,
                            parentId: data.obj.parentId,
                            pic: data.obj.pic,
                            seoDescription: data.obj.seoDescription,
                            seoKeywords: data.obj.seoKeywords,
                            seoTitle: data.obj.seoTitle,
                            sortOrder: data.obj.sortOrder,
                            src: data.obj.src,
                            tag: data.obj.tag,
                            target: data.obj.target,
                            url: data.obj.url,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.addDate = obj.addDate;
            this.formdata.audio = obj.audio;
            this.formdata.author = obj.author;
            this.formdata.cat = obj.cat;
            this.formdata.code = obj.code;
            this.formdata.createBy = obj.createBy;
            this.formdata.createTime = obj.createTime;
            this.formdata.enabled = obj.enabled;
            this.formdata.info = obj.info;
            this.formdata.isLeaf = obj.isLeaf;
            this.formdata.link = obj.link;
            this.formdata.mobileInfo = obj.mobileInfo;
            this.formdata.name = obj.name;
            this.formdata.parentId = obj.parentId;
            this.formdata.pic = obj.pic;
            this.formdata.seoDescription = obj.seoDescription;
            this.formdata.seoKeywords = obj.seoKeywords;
            this.formdata.seoTitle = obj.seoTitle;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.src = obj.src;
            this.formdata.tag = obj.tag;
            this.formdata.target = obj.target;
            this.formdata.url = obj.url;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        cmsApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        cmsApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
