<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('addDate')" v-model="listQuery.addDate" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('audio')" v-model="listQuery.audio" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('author')" v-model="listQuery.author" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('cat')" v-model="listQuery.cat" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('createBy')" v-model="listQuery.createBy" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('createTime')" v-model="listQuery.createTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('enabled')" v-model="listQuery.enabled" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('info')" v-model="listQuery.info" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('isLeaf')" v-model="listQuery.isLeaf" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('link')" v-model="listQuery.link" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('mobileInfo')" v-model="listQuery.mobileInfo" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('parentId')" v-model="listQuery.parentId" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('pic')" v-model="listQuery.pic" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('seoDescription')" v-model="listQuery.seoDescription" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('seoKeywords')" v-model="listQuery.seoKeywords" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('seoTitle')" v-model="listQuery.seoTitle" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('sortOrder')" v-model="listQuery.sortOrder" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('src')" v-model="listQuery.src" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('tag')" v-model="listQuery.tag" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('target')" v-model="listQuery.target" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('url')" v-model="listQuery.url" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('cms:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('cms:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('addDate')" prop="addDate" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('audio')" prop="audio" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('author')" prop="author" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('cat')" prop="cat" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('code')" prop="code" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('createBy')" prop="createBy" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('createTime')" prop="createTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('enabled')" prop="enabled" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('info')" prop="info" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('isLeaf')" prop="isLeaf" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('link')" prop="link" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('mobileInfo')" prop="mobileInfo" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('name')" prop="name" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('parentId')" prop="parentId" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('pic')" prop="pic" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('seoDescription')" prop="seoDescription" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('seoKeywords')" prop="seoKeywords" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('seoTitle')" prop="seoTitle" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('src')" prop="src" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('tag')" prop="tag" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('target')" prop="target" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('url')" prop="url" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template #default="scope">
                    <el-button v-if="hasAuth('cms:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('cms:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page="listQuery.pn" :limit="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>
<script>
import cmsApi from '@/api/CmsApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'cms',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                addDate: '',
                audio: '',
                author: '',
                cat: '',
                code: '',
                createBy: '',
                createTime: '',
                enabled: '',
                info: '',
                isLeaf: '',
                link: '',
                mobileInfo: '',
                name: '',
                parentId: '',
                pic: '',
                seoDescription: '',
                seoKeywords: '',
                seoTitle: '',
                sortOrder: '',
                src: '',
                tag: '',
                target: '',
                url: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            cmsApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.addDate = '';
            this.listQuery.audio = '';
            this.listQuery.author = '';
            this.listQuery.cat = '';
            this.listQuery.code = '';
            this.listQuery.createBy = '';
            this.listQuery.createTime = '';
            this.listQuery.enabled = '';
            this.listQuery.info = '';
            this.listQuery.isLeaf = '';
            this.listQuery.link = '';
            this.listQuery.mobileInfo = '';
            this.listQuery.name = '';
            this.listQuery.parentId = '';
            this.listQuery.pic = '';
            this.listQuery.seoDescription = '';
            this.listQuery.seoKeywords = '';
            this.listQuery.seoTitle = '';
            this.listQuery.sortOrder = '';
            this.listQuery.src = '';
            this.listQuery.tag = '';
            this.listQuery.target = '';
            this.listQuery.url = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            cmsApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                } else {
                    this.$message.error(data.msg);
                }
            });
        },
    },
};
</script>
