<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('startIpStr')" prop="startIpStr">
            <el-input v-model="formdata.startIpStr" :placeholder="$t('validate.startIpStr')"  clearable/>
        </el-form-item>
        <el-form-item :label="$t('endIpStr')" prop="endIpStr">
            <el-input v-model="formdata.endIpStr" :placeholder="$t('validate.endIpStr')" clearable />
        </el-form-item>
        <el-form-item :label="$t('addr')" prop="addr">
            <el-input v-model="formdata.addr" :placeholder="$t('validate.addr')" clearable/>
        </el-form-item>
        <el-form-item :label="$t('addr2')" prop="addr2">
            <el-input v-model="formdata.addr2" :placeholder="$t('validate.addr2')" clearable/>
        </el-form-item>
        <el-form-item :label="$t('addr3')" prop="addr3">
            <el-input v-model="formdata.addr3" :placeholder="$t('validate.addr3')" clearable/>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import ipApi from "@/api/IpApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                addr: '',
                addr2: '',
                addr3: '',
                endIpStr: '',
                startIpStr: '',
            }
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                addr: [{
                        required: true,
                        message: this.$t("validate.addr"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                addr2: [{
                        message: this.$t("validate.addr2"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                addr3: [{
                        message: this.$t("validate.addr3"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                endIpStr: [{
                        required: true,
                        message: this.$t("validate.endIpStr"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.ipValidator,
                        trigger: 'blur'
                    }
                ],
                startIpStr: [{
                        required: true,
                        message: this.$t("validate.startIpStr"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.ipValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    addr: '',
                    addr2: '',
                    addr3: '',
                    endIpStr: '',
                    startIpStr: '',
                })
            } else {
                ipApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            addr: data.obj.addr,
                            addr2: data.obj.addr2,
                            addr3: data.obj.addr3,
                            endIpStr: data.obj.endIpStr,
                            startIpStr: data.obj.startIpStr,
                        });

                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.addr = obj.addr;
            this.formdata.addr2 = obj.addr2;
            this.formdata.addr3 = obj.addr3;
            this.formdata.endIpStr = obj.endIpStr;
            this.formdata.startIpStr = obj.startIpStr;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        ipApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        ipApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
