<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('occTime')" prop="occTime">
                <el-date-picker v-model="formdata.occTime" class="filter-item" type="date" :placeholder="$t('occTime')" format="yyyy-MM-dd " value-format="yyyy-MM-dd"></el-date-picker>
            </el-form-item>
            <el-form-item :label="$t('dataTopoId')" prop="dataTopoId">
                <el-select v-model="formdata.dataTopoId" class="filter-item" :placeholder="$t('validate.dataTopoId')" clearable style="width:200px">
                    <el-option v-for="item in listTopo" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('dataTopoParentId')" prop="dataTopoParentId">
                <el-select v-model="formdata.dataTopoParentId" class="filter-item" :placeholder="$t('validate.dataTopoParentId')" clearable style="width:200px">
                    <el-option v-for="item in listTopo" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('val')" prop="val">
                <el-input-number v-model="formdata.val" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import dataTopoValApi from '@/api/DataTopoValApi';
import dataTopoApi from '@/api/DataTopoApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
import formatDate from '@/utils/Date';
export default {
    mixins: [edit],
    data() {
        return {
            listTopo: [],
            formdata: {
                id: '',
                dataTypeId: '',
                dataTopoId: '',
                dataTopoParentId: '',
                occTime: '',
                val: 0,
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                dataTopoId: [
                    {
                        required: true,
                        message: this.$t('validate.dataTopoId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                dataTopoParentId: [
                    {
                        required: true,
                        message: this.$t('validate.dataTopoParentId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                occTime: [
                    {
                        required: true,
                        message: this.$t('validate.occTime'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                val: [
                    {
                        required: true,
                        message: this.$t('validate.val'),
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(dataTypeId, id) {
            dataTopoApi.findAllData(dataTypeId).then(({ data }) => {
                if (data.flag) {
                    this.listTopo = data.obj || [];
                }
            });
            this.formdata.dataTypeId = dataTypeId;
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    dataTopoId: '',
                    dataTopoParentId: '',
                    occTime: '',
                    val: '',
                });
            } else {
                dataTopoValApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            dataTopoId: data.obj.dataTopoId,
                            dataTopoParentId: data.obj.dataTopoParentId,
                            occTime: data.obj.occTime != undefined ? formatDate(new Date(data.obj.occTime), 'yyyy-MM-dd') : '',
                            val: data.obj.val,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.dataTopoId = obj.dataTopoId;
            this.formdata.dataTopoParentId = obj.dataTopoParentId;
            this.formdata.occTime = obj.occTime;
            this.formdata.val = obj.val;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        dataTopoValApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        dataTopoValApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
