<template>
    <div class="app-container">
        <div class="filter-container">
            <el-date-picker v-model="listQuery.occTime" class="filter-item" type="date" :placeholder="$t('occTime')" format="yyyy-MM-dd " value-format="yyyy-MM-dd"></el-date-picker>
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-select v-model="listQuery.dataTopoId" class="filter-item" :placeholder="$t('dataTopoId')" clearable style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in listTopo" :key="item.id" :label="item.name" :value="item.id"> </el-option>
            </el-select>
            <el-select v-model="listQuery.dataTopoParentId" class="filter-item" :placeholder="$t('dataTopoParentId')" clearable style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in listTopo" :key="item.id" :label="item.name" :value="item.id"> </el-option>
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('dataTopoVal:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('dataTopoVal:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('occTime')" prop="occTime" align="center" width="200">
                <template slot-scope="scope">{{ scope.row.occTime | shortDateFormatter }}</template>
            </el-table-column>
            <el-table-column :label="$t('code')" prop="code" align="center" width="200" />
            <el-table-column :label="$t('dataTopoId')" prop="dataTopoId" align="center" width="200">
                <template slot-scope="scope">{{ topoName(scope.row.dataTopoId) }}</template>
            </el-table-column>
            <el-table-column :label="$t('dataTopoParentId')" prop="dataTopoParentId" align="center" width="200">
                <template slot-scope="scope">{{ topoName(scope.row.dataTopoParentId) }}</template>
            </el-table-column>

            <el-table-column :label="$t('val')" prop="val" align="center" min-width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('dataTopoVal:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('dataTopoVal:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import dataTopoValApi from '@/api/DataTopoValApi';
import dataTopoApi from '@/api/DataTopoApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'dataTopoVal',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listTopo: [],
            listQuery: {
                code: '',
                dataTypeId: '',
                dataTopoId: '',
                dataTopoParentId: '',
                occTime: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
    },
    methods: {
        showDialog(id) {
            this.dialogFormVisible = true;
            this.$nextTick(() => {
                this.$refs.edit.init(this.listQuery.dataTypeId, id);
            });
        },
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getInitList(dataTypeId) {
            this.listQuery.dataTypeId = dataTypeId;
            //查询一下所有指标
            dataTopoApi.findAllData(dataTypeId).then(({ data }) => {
                if (data.flag) {
                    this.listTopo = data.obj || [];
                }
            });
            this.getList();
        },
        getList() {
            this.listLoading = true;
            //查数据库
            dataTopoValApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        topoName(topoId) {
            let ret = this.listTopo.filter((obj) => obj.id == topoId);
            if (ret) {
                return ret[0] && ret[0].name;
            } else {
                return '';
            }
        },
        clearQuery() {
            this.listQuery.dataTopoId = '';
            this.listQuery.dataTopoParentId = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            dataTopoValApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
