<template>
<div class="app-container">
    <div class="filter-toolbar">
        <el-button v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
        <el-button v-if="hasAuth('sysMenu:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;">
        <el-table-column :label="$t('id')" fixed prop="id" align="center" width="100" />
        <table-tree-column prop="name" header-align="center" treeKey="id" width="200" :label="$t('name')" />
        <el-table-column :label="$t('cat')" prop="cat" align="center" width="60" />
        <el-table-column :label="$t('code')" prop="code" align="center" width="100" />
        <el-table-column :label="$t('icon')" prop="icon" align="center" width="60">
            <template slot-scope="scope">
                <span :class="'iconfont icon-'+scope.row.icon"></span>
            </template>
        </el-table-column>
        <el-table-column :label="$t('isLeaf')" prop="isLeaf" align="center" width="100" />
        <el-table-column :label="$t('isShow')" prop="isShow" align="center" width="100" />
        <el-table-column :label="$t('authCode')" prop="authCode" align="center" min-width="200" />
        <el-table-column :label="$t('redirect')" prop="redirect" align="center" width="200" />
        <el-table-column :label="$t('url')" prop="url" align="center" width="200" />
        <el-table-column :label="$t('sortOrder')" prop="sortOrder" align="center" width="80" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('sysMenu:edit')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('sysMenu:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
</div>
</template>

<script>
import sysMenuApi from "@/api/SysMenuApi";
import TableTreeColumn from "@/components/TableTreeColumn";
import treeList from "@/utils/mixins/TreeList";
import {
    TreeDataTranslate
} from "@/utils/TreeTool";
import Edit from "./Edit";
import {
    mapGetters
} from "vuex";
export default {
    name: 'sysMenu',
    components: {
        TableTreeColumn,
        Edit
    },
    mixins: [treeList],

    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([])
    },
    methods: {
        getList() {
            this.listLoading = true;
            //查数据库
            sysMenuApi
                .findAll()
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = TreeDataTranslate(data.obj);
                    } else {
                        this.list = [];
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
        //删除
        delAction(id) {
            sysMenuApi.del(id).then(({
                data
            }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    }
};
</script>
