<template>
<div class="app-container">
    <div class="filter-container">
        <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType=='adv'" />
        <el-date-picker v-model="date" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-date-picker v-model="date2" class="filter-item" type="datetimerange" range-separator="~" :start-placeholder="$t('startModifyTime')" :end-placeholder="$t('endModifyTime')" v-show="queryType=='adv'">
        </el-date-picker>
        <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
        <el-button class="filter-item" type="text" @click="changeSearch">{{queryType=='adv'?$t('simpleSearch'):$t('advSearch')}}</el-button>
    </div>
    <div class="filter-toolbar">
        <el-button v-if="hasAuth('i18n:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
        <el-button v-if="hasAuth('i18n:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{$t('delBatch')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
        <el-table-column type="selection" width="40" />
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
        <el-table-column :label="$t('code')" prop="code" align="center" width="200" />
        <el-table-column :label="$t('name')" prop="name" align="center" width="200" />
        <el-table-column :label="$t('nameEn')" prop="nameEn" align="center" width="200" />
        <el-table-column :label="$t('createTime')" prop="createTime" sortable="custom" align="center" width="160">
            <template slot-scope="scope">{{scope.row.createTime|dateFormatter}}</template>
        </el-table-column>
        <el-table-column :label="$t('modifyTime')" prop="modifyTime" sortable="custom" align="center" width="160">
            <template slot-scope="scope">{{scope.row.modifyTime|dateFormatter}}</template>
        </el-table-column>
        <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" min-width="80" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('i18n:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('i18n:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
</div>
</template>

<script>
import i18nApi from "@/api/I18nApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import formatDate from '@/utils/Date';
import {
    mapGetters
} from "vuex";
export default {
    name: 'i18n',
    components: {
        Pagination,
        Edit
    },
    mixins: [list],
    data() {
        return {
            date: null,
            date2: null,
            listQuery: {
                code: "",
                name: '',
                startTime: '',
                endTime: '',
                startModifyTime: '',
                endModifyTime: ''
            }
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([])
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            i18nApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.date = null;
            this.date2 = null;
            this.listQuery.name = "";
        },
        changeQuery() {
            if (this.date != null) {
                this.listQuery.startTime = formatDate(this.date[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.endTime = formatDate(this.date[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.startTime = '';
                this.listQuery.endTime = '';
            }
            if (this.date2 != null) {
                this.listQuery.startModifyTime = formatDate(this.date2[0], 'yyyy-MM-dd HH:mm:ss');
                this.listQuery.endModifyTime = formatDate(this.date2[1], 'yyyy-MM-dd HH:mm:ss');
            } else {
                this.listQuery.startModifyTime = '';
                this.listQuery.endModifyTime = '';
            }
        },
        //删除
        delAction(id) {
            i18nApi.del(id).then(({
                data
            }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    }
};
</script>
