<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('balance')" prop="balance">
                <el-input v-model="formdata.balance" :placeholder="$t('validate.balance')" />
            </el-form-item>
            <el-form-item :label="$t('endDate')" prop="endDate">
                <el-input v-model="formdata.endDate" :placeholder="$t('validate.endDate')" />
            </el-form-item>
            <el-form-item :label="$t('endPositionValue')" prop="endPositionValue">
                <el-input v-model="formdata.endPositionValue" :placeholder="$t('validate.endPositionValue')" />
            </el-form-item>
            <el-form-item :label="$t('isTmp')" prop="isTmp">
                <el-input v-model="formdata.isTmp" :placeholder="$t('validate.isTmp')" />
            </el-form-item>
            <el-form-item :label="$t('kpi')" prop="kpi">
                <el-input v-model="formdata.kpi" :placeholder="$t('validate.kpi')" />
            </el-form-item>
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('occDate')" prop="occDate">
                <el-input v-model="formdata.occDate" :placeholder="$t('validate.occDate')" />
            </el-form-item>
            <el-form-item :label="$t('positionValue')" prop="positionValue">
                <el-input v-model="formdata.positionValue" :placeholder="$t('validate.positionValue')" />
            </el-form-item>
            <el-form-item :label="$t('sta')" prop="sta">
                <el-input v-model="formdata.sta" :placeholder="$t('validate.sta')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import imitatePositionApi from '@/api/ImitatePositionApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                balance: '',
                endDate: '',
                endPositionValue: '',
                isTmp: '',
                kpi: '',
                name: '',
                occDate: '',
                positionValue: '',
                sta: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                balance: [
                    {
                        required: true,
                        message: this.$t('validate.balance'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endDate: [
                    {
                        required: true,
                        message: this.$t('validate.endDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                endPositionValue: [
                    {
                        required: true,
                        message: this.$t('validate.endPositionValue'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                isTmp: [
                    {
                        required: true,
                        message: this.$t('validate.isTmp'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                kpi: [
                    {
                        required: true,
                        message: this.$t('validate.kpi'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                occDate: [
                    {
                        required: true,
                        message: this.$t('validate.occDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                positionValue: [
                    {
                        required: true,
                        message: this.$t('validate.positionValue'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sta: [
                    {
                        required: true,
                        message: this.$t('validate.sta'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    balance: '',
                    endDate: '',
                    endPositionValue: '',
                    isTmp: '',
                    kpi: '',
                    name: '',
                    occDate: '',
                    positionValue: '',
                    sta: '',
                });
            } else {
                imitatePositionApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            balance: data.obj.balance,
                            endDate: data.obj.endDate,
                            endPositionValue: data.obj.endPositionValue,
                            isTmp: data.obj.isTmp,
                            kpi: data.obj.kpi,
                            name: data.obj.name,
                            occDate: data.obj.occDate,
                            positionValue: data.obj.positionValue,
                            sta: data.obj.sta,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.balance = obj.balance;
            this.formdata.endDate = obj.endDate;
            this.formdata.endPositionValue = obj.endPositionValue;
            this.formdata.isTmp = obj.isTmp;
            this.formdata.kpi = obj.kpi;
            this.formdata.name = obj.name;
            this.formdata.occDate = obj.occDate;
            this.formdata.positionValue = obj.positionValue;
            this.formdata.sta = obj.sta;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        imitatePositionApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        imitatePositionApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
