<template>
    <div class="app-container">
        <div class="filter-container" v-if="queryType == 'simple'">
            <el-input :placeholder="$t('balance')" v-model="listQuery.balance" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endDate')" v-model="listQuery.endDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endPositionValue')" v-model="listQuery.endPositionValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('isTmp')" v-model="listQuery.isTmp" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('kpi')" v-model="listQuery.kpi" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('occDate')" v-model="listQuery.occDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('positionValue')" v-model="listQuery.positionValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('sta')" v-model="listQuery.sta" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <div class="filter-query" @click="changeSearch">
                <i class="el-icon-caret-bottom"></i><span>{{ $t('advSearch') }}</span>
            </div>
        </div>
        <div class="filter-container" v-if="queryType == 'adv'">
            <el-input :placeholder="$t('balance')" v-model="listQuery.balance" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endDate')" v-model="listQuery.endDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('endPositionValue')" v-model="listQuery.endPositionValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('isTmp')" v-model="listQuery.isTmp" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('kpi')" v-model="listQuery.kpi" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('occDate')" v-model="listQuery.occDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('positionValue')" v-model="listQuery.positionValue" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('sta')" v-model="listQuery.sta" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <div class="filter-query" @click="changeSearch">
                <i class="el-icon-caret-top"></i><span>{{ $t('simpleSearch') }}</span>
            </div>
        </div>
        <div class="filter-container">
            <el-button v-if="hasAuth('imitatePosition:save')" v-waves class="filter-item" :disabled="isDisable" plain size="mini" type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange">
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('balance')" prop="balance" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('endDate')" prop="endDate" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('endPositionValue')" prop="endPositionValue" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('isTmp')" prop="isTmp" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('kpi')" prop="kpi" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('name')" prop="name" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('occDate')" prop="occDate" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('positionValue')" prop="positionValue" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('sta')" prop="sta" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('imitatePosition:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('imitatePosition:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import imitatePositionApi from '@/api/ImitatePositionApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'imitatePosition',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                balance: '',
                endDate: '',
                endPositionValue: '',
                isTmp: '',
                kpi: '',
                name: '',
                occDate: '',
                positionValue: '',
                sta: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            imitatePositionApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.balance = '';
            this.listQuery.endDate = '';
            this.listQuery.endPositionValue = '';
            this.listQuery.isTmp = '';
            this.listQuery.kpi = '';
            this.listQuery.name = '';
            this.listQuery.occDate = '';
            this.listQuery.positionValue = '';
            this.listQuery.sta = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            imitatePositionApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                } else {
                    this.$message.error(data.msg);
                }
            });
        },
    },
};
</script>
