<template>
<div class="login-container">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">
        <div class="title-container">
            <h3 class="title">
                {{$t("login.title")}}
            </h3>
        </div>
        <el-form-item prop="username">
            <span class="svg-container iconfont icon-user"></span>
            <el-input v-model="loginForm.username" :placeholder="$t('login.username')" name="username" type="text" auto-complete="on"></el-input>
        </el-form-item>
        <el-form-item prop="password">
            <span class="svg-container iconfont icon-password"></span>
            <el-input v-model="loginForm.password" :type="passwordType" :placeholder="$t('password')" name="password" auto-complete="on" @keyup.native.enter="handleLogin"></el-input>
            <span class="show-pwd iconfont" @click="showPwd" :class="passwordType==='password'?'icon-eye-close':'icon-eye'"></span>
        </el-form-item>
        <el-form-item prop="captcha">
            <span class="svg-container iconfont icon-password"></span>
            <el-input v-model="loginForm.captcha" :placeholder="$t('captcha')" name="captcha" auto-complete="on" @keyup.native.enter="handleLogin"></el-input>
            <div class="captcha"><img :src="captcha" @click="changeCaptcha" />
                <div><a href="javascript:void(0)" @click="changeCaptcha">换一张</a></div>
            </div>
        </el-form-item>
        <el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;" @click.native.prevent="handleLogin">
            {{$t("login.login")}}
        </el-button>
    </el-form>
</div>
</template>

<script>
import LangSelect from '@/components/LangSelect';

export default {
    name: 'Login',
    comments: {
        LangSelect
    },
    data() {

        const validateUsername = (rule, value, callback) => {
            callback();
        }
        const validatePassword = (rule, value, callback) => {
            if (value.length < 6) {
                callback(new Error('The password can not be less that 6 digits'));
            } else {
                callback();
            }
        }
        return {
            captcha: '/api/captcha.jpg',
            loginForm: {
                username: '',
                password: '',
                captcha: '',
                src: '1'
            },
            loginRules: {
                username: [{
                    required: true,
                    trigger: 'blur',
                    validator: validateUsername
                }],
                password: [{
                    required: true,
                    trigger: 'blur',
                    validator: validatePassword
                }],
                captcha: [{
                    required: true,
                    trigger: 'blur'
                }]
            },
            passwordType: 'password',
            loading: false,
            redirect: undefined
        }
    },
    watch: {
        $route: {
            handler: function (route) {
                this.redirect = route.query && route.query.redirect
            },
            immediate: true
        }
    },
    created() {

    },
    destroyed() {

    },
    methods: {
        changeCaptcha() {
            this.captcha = '/api/captcha.jpg?t=' + (new Date().getTime());
        },
        showPwd() {
            if (this.passwordType === 'password') {
                this.passwordType = '';
            } else {
                this.passwordType = 'password';
            }
        },
        handleLogin() {
            this.$refs.loginForm.validate(valid => {
                if (valid) {
                    this.loading = true;
                    this.$store.dispatch('Logon', this.loginForm).then(() => {
                        this.loading = false;
                        //获得用户权限
                        this.$router.push({
                            path: this.redirect || '/'
                        })
                    }).catch(() => {
                        this.loading = false;
                        this.changeCaptcha();
                    })
                } else {
                    return false;
                }
            })
        }
    },
}
</script>

<style lang="scss">
@import "~@/assets/scss/common/variables.scss";
@import "~@/assets/scss/common/mixin.scss";

@supports (-webkit-mask:none) and (not(cater-color:$login_input_cursor)) {
    .login-container {
        .el-input {
            input {
                color: $login_input_cursor;

                &::first-line {
                    color: $login_input_light_gray;
                }
            }
        }
    }
}

.login-container {
    .el-input {
        display: inline-block;
        height: 47px;
        width: 85%;

        input {
            background: transparent;
            border: 0px;
            @include appearance(none);
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: $login_input_light_gray;
            height: 47px;
            caret-color: $login_input_cursor;

            //因为只有webkit
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px $login_input_bg inset !important;
                -webkit-text-fill-color: $login_input_cursor !important;
            }
        }
    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #454545;
    }
}

.btn {
    width: 100%;
    margin-bottom: 30px;
}

.login-container {
    min-height: 100%;
    width: 100%;
    background-color: $login-bg;
    overflow: hidden;

    .login-form {
        position: relative;
        width: 520px;
        max-width: 100%;
        padding: 160px 35px 0;
        margin: 0 auto;
        overflow: hidden;
    }

    .tips {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
            &:first-of-type {
                margin-right: 16px;
            }
        }
    }

    .svg-container {
        padding: 6px 5px 6px 15px;
        color: $login-dark-gray;
        vertical-align: middle;
        width: 30px;
        display: inline-block;
    }

    .title-container {
        position: relative;

        .title {
            font-size: 26px;
            color: $login-light-gray;
            margin: 0px auto 40px auto;
            text-align: center;
            font-weight: bold;

        }

        .set-language {
            color: #fff;
            position: absolute;
            top: 5px;
            right: 0px;
        }
    }

    .show-pwd {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
        color: $login-dark-gray;
        cursor: pointer;
        user-select: none;
    }

    .thirdparty-button {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .captcha {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: 45px;

        img {
            width: 100px;
            height: 45px;
            float: left;
        }

        div {
            text-align: center;
            line-height: 45px;
            height: 45px;
            width: 60px;
            display: block;
            float: left;
            color: dodgerblue;
        }
    }

}
</style>
