<template>
<el-dialog :title="$t('modifyPassword')" :visible.sync="dialogFormVisible" :close-on-click-modal="false" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="left" label-width="150px" style="width:90%;margin-left:50px;">
        <el-form-item :label="$t('oldPassword')" prop="oldPassword">
            <el-input v-model="formdata.oldPassword" type="password" autocomplete="off" :placeholder="$t('validate.oldPassword')" />
        </el-form-item>
        <el-form-item :label="$t('password')" prop="password">
            <el-input v-model="formdata.password" type="password" autocomplete="off" :placeholder="$t('validate.password')" />
        </el-form-item>
        <el-form-item :label="$t('repassword')" prop="repassword">
            <el-input v-model="formdata.repassword" type="password" autocomplete="off" :placeholder="$t('validate.repassword')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">{{$t('common.cancel')}}</el-button>
        <el-button type="primary" @click="save">{{$t('common.save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import commonApi from "@/api/CommonApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                oldPassword: '',
                password: '',
                repassword: '',
            },
        }
    },
    computed: {
        rules() {
            return {
                oldPassword: [{
                        required: true,
                        message: this.$t('validate.oldPassword'),
                        trigger: 'blur'
                    },
                    {
                        min: 6,
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                password: [{
                        required: true,
                        message: this.$t('validate.password'),
                        trigger: 'blur'
                    },
                    {
                        min: 6,
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                repassword: [{
                        required: true,
                        message: this.$t('validate.repassword'),
                        trigger: 'blur'
                    },
                    {
                        min: 6,
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    },
                    {
                        validator: this.validateRepassword,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        validateRepassword(rule, value, callback) {
            if (value != this.formdata.password) {
                callback(new Error(this.$t('validate.passworddifferent')))
            } else {
                callback()
            }
        },
        init() {
            this.show();
            this.resetVal({
                password: '',
                oldPassword: '',
                repassword: '',
            });
        },
        show() {
            this.dialogFormVisible = true;
        },
        resetVal(obj) {
            this.formdata.oldPassword = obj.oldPassword;
            this.formdata.password = obj.password;
            this.formdata.repassword = obj.repassword;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    commonApi.modifyPassword(this.formdata).then(({
                        data
                    }) => {
                        if (data.flag) {
                            this.$message({
                                message: this.$t('success'),
                                type: 'success'
                            });
                            this.dialogFormVisible = false;
                        }
                    });
                }
            });
        }

    }
};
</script>
