<template>
<el-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close" append-to-body>
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name" :placeholder="$t('validate.name')" clearable />
        </el-form-item>
        <el-form-item :label="$t('pic')" prop="pic">
            <single-img v-model="formdata.pic" :placeholder="$t('validate.pic')" />
        </el-form-item>
        <el-form-item :label="$t('target')" prop="target">
            <el-select v-model="formdata.target" :placeholder="$t('validate.target')" clearable>
                <el-option v-for="item in targets" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('link')" prop="link" v-if="formdata.target!='none'">
            <el-input v-model="formdata.link" :placeholder="$t('validate.link')" clearable />
        </el-form-item>
        <el-form-item :label="$t('enabled')" prop="enabled">
            <el-switch active-value="T" inactive-value="F" v-model="formdata.enabled"></el-switch>
        </el-form-item>
        <el-form-item :label="$t('sortOrder')" prop="sortOrder">
            <el-input-number v-model="formdata.sortOrder" :min="0" :max="1000" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import slideItemApi from "@/api/SlideItemApi";
import edit from '@/utils/mixins/Edit';
import SingleImg from '@/components/SingleImg';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        SingleImg
    },
    data() {
        return {
            formdata: {
                id: '',
                enabled: 'T',
                link: '',
                name: '',
                pic: '',
                slideId: null,
                sortOrder: 999,
                target: '',
            }
        };
    },
    created() {
        this.$store.dispatch('target');
    },
    computed: {
        ...mapGetters(['targets']),
        rules() {
            return {
                enabled: [{
                        required: true,
                        message: this.$t("validate.enabled"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                link: [{
                        message: this.$t("validate.link"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                pic: [{
                        message: this.$t("validate.pic"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],

                sortOrder: [{
                        required: true,
                        message: this.$t("validate.sortOrder"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                target: [{
                        required: true,
                        message: this.$t("validate.target"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id, slideId) {
            this.formdata.slideId = slideId;
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    enabled: 'T',
                    link: '',
                    name: '',
                    pic: '',
                    sortOrder: 999,
                    target: '',
                })
            } else {
                slideItemApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            enabled: data.obj.enabled,
                            link: data.obj.link,
                            name: data.obj.name,
                            pic: data.obj.pic,
                            sortOrder: data.obj.sortOrder,
                            target: data.obj.target,
                        });

                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.enabled = obj.enabled;
            this.formdata.link = obj.link;
            this.formdata.name = obj.name;
            this.formdata.pic = obj.pic;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.target = obj.target;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        slideItemApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        slideItemApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
