<template>
<div class="app-container">
    <div class="filter-container">
        <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px"  clearable/>
        <el-select v-model="listQuery.enabled" :placeholder="$t('enabled')" clearable class="filter-item" style="width:200px" v-show="queryType=='adv'">
            <el-option v-for="item in enableds" :key="item.code" :label="item.name" :value="item.code" />
        </el-select>
        <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
        <el-button class="filter-item" type="text" @click="changeSearch">{{queryType=='adv'?$t('simpleSearch'):$t('advSearch')}}</el-button>
    </div>
    <div class="filter-toolbar">
        <el-button v-if="hasAuth('slideItem:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
        <el-button v-if="hasAuth('slideItem:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{$t('delBatch')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
        <el-table-column type="selection" width="40" />
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
        <el-table-column type="expand">
            <template slot-scope="scope">
                <el-form label-position="right" label-width="100px">
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-form-item :label="$t('pic')">
                                <el-image v-if="scope.row.pic" :src="scope.row.pic" fit="contain"></el-image>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-form-item :label="$t('target')">
                                <span>{{scope.row.target}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-form-item :label="$t('link')">
                                <span>{{scope.row.link}}</span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column :label="$t('name')" prop="name" align="center" width="200" />
        <el-table-column :label="$t('enabled')" prop="enabled" align="center" min-width="100">
            <template slot-scope="scope">
                <el-switch v-model="scope.row.enabled" active-value="T" inactive-value="F"></el-switch>
            </template>
        </el-table-column>
        <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="80" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('slideItem:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('slideItem:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
</div>
</template>

<script>
import slideItemApi from "@/api/SlideItemApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import {
    mapGetters
} from "vuex";
export default {
    name: 'slideItem',
    components: {
        Pagination,
        Edit
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                enabled: "",
                name: "",
                slideId: "",
            }
        };
    },
    created() {
        this.$store.dispatch('enabled');
        // this.getList();
    },
    computed: {
        ...mapGetters(['enableds'])
    },
    methods: {
        init(id) {
            this.listQuery.slideId = id;
            this.getList();
        },
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        showDialog(id) {
            this.dialogFormVisible = true;
            this.$nextTick(() => {
                this.$refs.edit.init(id, this.listQuery.slideId);
            });
        },
        getList() {
            this.listLoading = true;
            //查数据库
            slideItemApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.enabled = "";
        },
        changeQuery() {

        },
        //删除
        delAction(id) {
            slideItemApi.del(id).then(({
                data
            }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    }
};
</script>
