.el-breadcrumb__inner , .el-breadcrumb__inner  a {
        font-weight: 400 !important; 
}  
.el-upload{
    input[type="file"]{
        display: none !important;
    }
}

.el-upload__input{
    display:none;
}
.cell{
    .el-tag{
        margin-right: 0px;
    }
}
.small-padding{
    .cell{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.fixed-width{
    .el-button--mini{
        padding:7px 10px;
        width: 60px;
    }
}
.status-col{
    .cell{
        padding: 0 10px;
        text-align: center;
        .el-tag{
            margin-right: 0px;
        }
    }
}
.el-dialog{
    transform: none;
    left:0;
    position: relative;
    margin: 0 auto;
}
.article-textarea{
    textarea{
        padding-right: 40px;
        resize: none;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #bfcbd9;
    }
}
.upload-container{
    .el-upload{
        width: 100%;
        .el-upload-dragger{
            width: 100%;
            height: 200px;
        }
    }
}
.el-dropdown-menu{
    a{
        display: block;
    }
}
.el-drawer {
    overflow: auto
}