@mixin  clearfix(){
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin scrollBar(){
    &::-webkit-scrollbar-track-piece{
        background: #d3dce6;
    }
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background: #99a9bf;
        border-radius: 20px;
    }
}
@mixin relative(){
    position: relative;
    width:100%;
    height: 100%;
}
@mixin pct($args){ 
    width:$args;
    position: relative;
    margin: 0 auto;
}

@mixin colorBtn($color){
    background: $color;
    &:hover{
        color:$color;
        &:before,
        &:after{
            background: $color;
        }
    }
}
@mixin  triangle($width,$height,$color,$direction){
    height: 0;
    width: 0;
    @if $direction == 'up' {
        border-bottom:$height solid $color;
        border-left:$width/2 solid transparent;
        border-right:$width/2 solid transparent;
    } @else if $type == 'right'{
        border-left:$height solid $color;
        border-top:$width/2 solid transparent;
        border-bottom:$width/2 solid transparent;
    } @else if $type == 'down'{
        border-right:$height solid $color;
        border-top:$width/2 solid transparent;
        border-bottom:$width/2 solid transparent;
    } @else if $type == 'left'{
        border-right:$height solid $color;
        border-top:$width/2 solid transparent;
        border-bottom:$width/2 solid transparent;
    }
}
 
@mixin  appearance($arg){
    -webkit-appearance: $arg;
       -moz-appearance: $arg;
            appearance: $arg;  
                   
}
@mixin mask($args){
    -webkit-mask:$args;
	        mask:$args;
}