$login_input_bg:#283443;
$login_input_light_gray:#eee;
$login_input_cursor:#fff;

$login-bg:#2d3a4b;
$login-dark-gray:#889aa4;
$login-light-gray:#eee;
 
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink:#E65D6E;
$green:#30B08F;
$tiffany:#FEC171;
$yellow:#FEC171;
$panGreen:#30B08f;

$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$sideBarWidth:180px;

