<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('title')" prop="title">
                <el-input v-model="formdata.title" :placeholder="$t('validate.title')" />
            </el-form-item>
            <el-form-item :label="$t('dbType')" prop="dbType">
                <el-select v-model="formdata.dbType" :placeholder="$t('validate.dbType')" clearable style="width:200px">
                    <el-option v-for="item in dbTypes" :key="item.code" :label="item.name" :value="item.code"> </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('url')" prop="url">
                <el-input v-model="formdata.url" :placeholder="$t('validate.url')" />
            </el-form-item>
            <el-form-item :label="$t('username')" prop="username">
                <el-input v-model="formdata.username" :placeholder="$t('validate.username')" />
            </el-form-item>
            <el-form-item :label="$t('password')" prop="password">
                <el-input v-model="formdata.password" :placeholder="$t('validate.password')" />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input-number v-model="formdata.sortOrder" :min="0" :max="999" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import dataSourceApi from '@/api/DataSourceApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                url: '',
                dbType: '',
                password: '',
                sortOrder: 999,
                title: '',
                username: '',
            },
        };
    },
    created() {
        this.$store.dispatch('dbType');
    },
    computed: {
        ...mapGetters(['dbTypes']),
        rules() {
            return {
                url: [
                    {
                        required: true,
                        message: this.$t('validate.url'),
                        trigger: 'blur',
                    },
                    {
                        max: 150,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                dbType: [
                    {
                        required: true,
                        message: this.$t('validate.dbType'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                password: [
                    {
                        required: true,
                        message: this.$t('validate.password'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],

                sortOrder: [
                    {
                        required: true,
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                title: [
                    {
                        required: true,
                        message: this.$t('validate.title'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                username: [
                    {
                        required: true,
                        message: this.$t('validate.username'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    url: '',
                    dbType: '',
                    password: '',
                    sortOrder: 999,
                    title: '',
                    username: '',
                });
            } else {
                dataSourceApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            url: data.obj.url,
                            dbType: data.obj.dbType,
                            password: data.obj.password,
                            sortOrder: data.obj.sortOrder,
                            title: data.obj.title,
                            username: data.obj.username,
                        });
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.url = obj.url;
            this.formdata.dbType = obj.dbType;
            this.formdata.password = obj.password;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.title = obj.title;
            this.formdata.username = obj.username;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        dataSourceApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        dataSourceApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
