<template>
    <div class="frame">
        <div class="frame-left">
            <el-tree :data="menuList" :props="menuListTreeProps" node-key="id" ref="menuListTree" @current-change="treeCurrentChangeHandle" :default-expand-all="true" :highlight-current="true" :expand-on-click-node="false"></el-tree>
        </div>
        <div class="frame-right">
            <iframe class="app-main" style="border:0;outline:none;overflow:visible" :srcdoc="content"></iframe>
        </div>
    </div>
</template>

<script>
import researchReportApi from '@/api/ResearchReportApi';
export default {
    name: 'researchReport',
    data() {
        return {
            menuList: [],
            content: '',
            menuListTreeProps: {
                label: 'name',
                children: 'children',
            },
        };
    },
    created() {
        this.getNav();
    },

    computed: {},
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        //查找所有清单
        getNav() {
            researchReportApi.findNav().then(({ data }) => {
                if (data.flag) {
                    this.menuList = data.obj || [];
                }
            });
        },
        treeCurrentChangeHandle(data, node) {
            this.content = data.content;
        },
    },
};
</script>
<style lang="scss" scoped>
.frame {
    min-height: 100%;
    -webkit-transition: margin-left 0.28s;
    transition: margin-left 0.28s;
    position: relative;

    .frame-left {
        -webkit-transition: width 0.28s;
        transition: width 0.28s;
        width: 180px;
        height: 100%;
        position: relative;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        float: left;
        clear: both;
    }

    .frame-right {
        min-height: 100%;
        -webkit-transition: margin-left 0.28s;
        transition: margin-left 0.28s;
        margin-left: 180px;
        position: relative;
    }
    .app-main {
        min-height: calc(100vh - 100px);
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}
</style>
