<template>
    <div class="app-container">
        <div class="filter-container">
            <el-date-picker v-model="date" class="filter-item" type="daterange" align="right" unlink-panels range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" :picker-options="pickerOptions"> </el-date-picker>
            <el-select v-model="listQuery.marketId" :placeholder="$t('market')" clearable class="filter-item" style="width:230px">
                <el-option v-for="item in markets" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
            <el-select v-model="listQuery.industryIndex" :placeholder="$t('industryIndex')" clearable class="filter-item" style="width:230px">
                <el-option v-for="item in industryIndexes" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <v-chart :style="outStyle" class="chart" :option="option" ref="charts" :autoresize="true" :update-options="updateOptions" />
    </div>
</template>
<script>
import dailyTradingActivityIndustryApi from '@/api/DailyTradingActivityIndustryApi';
import sysOptionApi from '@/api/SysOptionApi';
import formatDate from '@/utils/Date';
import formatNum from '@/utils/Num';
import list from '@/utils/mixins/List';
import { mapGetters } from 'vuex';
import { use } from 'echarts/core';
import { VisualMapComponent, TitleComponent, ToolboxComponent, TooltipComponent, GridComponent, LegendComponent, DataZoomComponent } from 'echarts/components';
import { HeatmapChart, LineChart, BarChart } from 'echarts/charts';
import { CanvasRenderer } from 'echarts/renderers';
use([HeatmapChart, VisualMapComponent, TitleComponent, ToolboxComponent, TooltipComponent, GridComponent, LegendComponent, DataZoomComponent, LineChart, BarChart, CanvasRenderer]);
import VChart from 'vue-echarts';
export default {
    props: ['outStyle'],
    name: 'kChart',
    mixins: [list],
    components: {
        VChart,
    },
    data() {
        return {
            loading: false,
            updateOptions: {
                notMerge: true,
            },
            option: {},
            pickerOptions: {
                shortcuts: [
                    {
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                ],
            },
            date: null,
            listQuery: {
                startTime: '',
                endTime: '',
                marketId: '',
                industryIndex: '',
            },
        };
    },
    created() {
        this.$store.dispatch('market');
        this.$store.dispatch('industryIndex');
        this.$store.dispatch('industry');

        sysOptionApi.findHotmapConfig().then(({ data }) => {
            //        const end = new Date();
            // const start = new Date();
            // start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            // this.date = [start, end];
            // this.listQuery.marketId = 1;
            // this.listQuery.industryIndex = 'A';
            if (data.flag) {
                let cfg = data.obj;
                const start = new Date(cfg.startTime);
                const end = new Date(cfg.endTime);
                this.date = [start, end];
                this.listQuery.marketId = cfg.market;
                this.listQuery.industryIndex = cfg.marketIdx;
                this.query();
            }
        });
    },
    computed: {
        ...mapGetters(['markets', 'industries', 'industryIndexes']),
    },
    methods: {
        getList() {
            if (this.listQuery.startTime == '' || this.listQuery.endTime == '') {
                this.$message.error('请选择时间段');
                return;
            }
            if (this.listQuery.marketId === '' || this.listQuery.marketId === null) {
                this.$message.error('请选择市场');
                return;
            }
            if (this.listQuery.industryIndex == '') {
                this.$message.error('请选择指标');
                return;
            }
            this.listLoading = true;
            dailyTradingActivityIndustryApi
                .findData(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        let industryArr = this.industries.map((item) => item.name);
                        let obj = data.obj || [];
                        let xdate = [];

                        obj.forEach((item, index, arr) => {
                            if (xdate.indexOf(item.occDate) == -1) {
                                xdate.push(item.occDate);
                            }
                        });
                        let xdate2 = xdate.map((item) => formatDate(new Date(item), 'yyyy/MM/dd'));
                        let min = null;
                        let max = null;
                        let da = obj.map((item, idx, arr) => {
                            let ret = [];
                            ret.push(xdate.indexOf(item.occDate));
                            ret.push(industryArr.indexOf(item.industry));
                            let val = 0;
                            if (this.listQuery.industryIndex === 'A') {
                                val = item.returnPct;
                            } else if (this.listQuery.industryIndex === 'B') {
                                val = item.volume;
                            } else if (this.listQuery.industryIndex === 'C') {
                                val = item.value;
                            }
                            ret.push(val);
                            if (max === null) {
                                max = min = val;
                            } else {
                                if (max < val) {
                                    max = val;
                                }
                                if (min > val) {
                                    min = val;
                                }
                            }
                            return ret;
                        });
                        if (max === null) {
                            max = 0;
                            min = 0;
                        }
                        if (max > 0) {
                            max = max * 1.2;
                        } else {
                            max = max * 0.8;
                        }
                        if (min < 0) {
                            min = min * 1.2;
                        } else {
                            min = min * 0.8;
                        }

                        let name = '';
                        let code = '';
                        if (this.listQuery.industryIndex === 'A') {
                            code = 'A';
                            name = '收益率';
                        } else if (this.listQuery.industryIndex === 'B') {
                            code = 'B';
                            name = '成交量';
                        } else if (this.listQuery.industryIndex === 'C') {
                            code = 'C';
                            name = '成交额';
                        }
                        this.option = {
                            title: {
                                text: '指标分析',
                                left: 0,
                            },
                            tooltip: {
                                position: 'top',
                                formatter: function(p) {
                                    if (code == 'A') {
                                        return p.data[2].toFixed(7);
                                    } else {
                                        return formatNum(p.data[2]);
                                    }
                                },
                            },
                            gradientColor: ['#00FF00', '#33FF33', '#66FF66', '#99FF99', '#CCFFCC', '#FFCCCC', '#FF9999', '#FF6666', '#FF3333', '#FF0000'],
                            grid: {
                                left: '10%',
                                right: '10%',
                                bottom: '15%',
                            },
                            xAxis: {
                                type: 'category',
                                data: xdate2,
                                splitArea: {
                                    show: true,
                                },
                            },
                            yAxis: {
                                type: 'category',
                                data: industryArr,
                                splitArea: {
                                    show: true,
                                },
                            },
                            visualMap: {
                                min: min,
                                max: max,
                                calculable: true,
                                orient: 'vertical',
                                showLabel: true,
                                right: 5,
                                top: 'center',
                                type: 'piecewise',
                                bottom: '15%',
                                splitNumber: 16,
                                itemHeight: 10,
                                formatter: function(value, value2) {
                                    if (code === 'A') {
                                        return value.toFixed(2) + '~' + value2.toFixed(2);
                                    } else {
                                        return formatNum(value) + '~' + formatNum(value2);
                                    }
                                },
                            },
                            series: [
                                {
                                    name: name,
                                    type: 'heatmap',
                                    data: da,
                                    label: {
                                        show: false,
                                    },
                                    emphasis: {
                                        itemStyle: {
                                            shadowBlur: 10,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)',
                                        },
                                    },
                                },
                            ],
                        };
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {},
        changeQuery() {
            if (this.date != null) {
                this.listQuery.startTime = formatDate(this.date[0], 'yyyy-MM-dd');
                this.listQuery.endTime = formatDate(this.date[1], 'yyyy-MM-dd');
            } else {
                this.listQuery.startTime = '';
                this.listQuery.endTime = '';
            }
        },
        formaterNum(num) {
            if (num > 100000000) {
                return num / 100000000 + '亿';
            } else if (num > 10000) {
                return num / 10000 + '万';
            } else {
                return num;
            }
        },
    },
};
</script>
<style lang="scss" scope>
.chart {
    min-height: calc(90vh - 84px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
</style>
