<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close" append-to-body>
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
        <el-form-item :label="$t('name')" prop="name">
            <el-input v-model="formdata.name" :placeholder="$t('validate.name')" clearable />
        </el-form-item>
        <el-form-item :label="$t('logo')" prop="logo">
            <single-img v-model="formdata.logo" :placeholder="$t('validate.logo')" />
        </el-form-item>
        <el-form-item :label="$t('enabled')" prop="enabled">
            <el-switch active-value="T" inactive-value="F" v-model="formdata.enabled"></el-switch>
        </el-form-item>
        <el-form-item :label="$t('target')" prop="target">
            <el-select v-model="formdata.target" :placeholder="$t('validate.target')" clearable>
                <el-option v-for="item in targets" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('url')" prop="url" v-if="formdata.target!='none'">
            <el-input v-model="formdata.url" :placeholder="$t('validate.url')" />
        </el-form-item>
        <el-form-item :label="$t('sortOrder')" prop="sortOrder">
            <el-input-number v-model="formdata.sortOrder" :min="0" :max="1000" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import linkItemApi from "@/api/LinkItemApi";
import edit from '@/utils/mixins/Edit';
import SingleImg from '@/components/SingleImg';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    components: {
        SingleImg
    },
    data() {
        return {
            formdata: {
                id: '',
                enabled: 'T',
                target: 'none',
                logo: '',
                name: '',
                linkId: null,
                sortOrder: 999,
                url: '',
            }
        };
    },
    created() {
        this.$store.dispatch('target');
    },
    computed: {
        ...mapGetters(['targets']),
        rules() {
            return {
                enabled: [{
                        required: true,
                        message: this.$t("validate.enabled"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                logo: [{
                        message: this.$t("validate.logo"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                name: [{
                        required: true,
                        message: this.$t("validate.name"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                sortOrder: [{
                        required: true,
                        message: this.$t("validate.sortOrder"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                url: [{
                        message: this.$t("validate.url"),
                        trigger: 'blur'
                    },
                    {
                        max: 1024,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id, linkId) {
            this.formdata.linkId = linkId;
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    enabled: 'T',
                    target: 'none',
                    logo: '',
                    name: '',
                    sortOrder: 999,
                    url: '',
                })
            } else {
                linkItemApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            enabled: data.obj.enabled,
                            target: data.obj.target,
                            logo: data.obj.logo,
                            name: data.obj.name,
                            sortOrder: data.obj.sortOrder,
                            url: data.obj.url,
                        });

                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.enabled = obj.enabled;
            this.formdata.logo = obj.logo;
            this.formdata.name = obj.name;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.target = obj.target;
            this.formdata.url = obj.url;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        linkItemApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        linkItemApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
