<template>
    <div class="app-container">
        <iframe :src="src"></iframe>
    </div>
</template>

<script>
import secExchangeApi from '@/api/SecExchangeApi';
import list from '@/utils/mixins/List';
import { mapGetters } from 'vuex';
export default {
    mounted() {},
    mixins: [list],
    data() {
        return {
            src: 'https://analytics.bida.solutions/hub/login',
        };
    },
    methods: {},
};
</script>
