<template>
    <div class="app-container">
        <div class="filter-container">
            <el-date-picker v-model="date" class="filter-item" type="daterange" align="right" unlink-panels range-separator="~" :start-placeholder="$t('startTime')" :end-placeholder="$t('endTime')" :picker-options="pickerOptions"> </el-date-picker>
            <el-select v-model="listQuery.market" multiple collapse-tags :placeholder="$t('market')" clearable class="filter-item" style="width:230px">
                <el-option v-for="item in markets" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
            <el-select v-model="listQuery.marketIndexType" multiple collapse-tags :placeholder="$t('marketIndexType')" clearable class="filter-item" style="width:230px">
                <el-option v-for="item in indexTypes" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-select
                v-model="listQuery.security"
                multiple
                filterable
                collapse-tags
                remote
                reserve-keyword
                clearable
                class="filter-item"
                style="width:300px"
                :placeholder="$t('validate.security')"
                :remote-method="remoteSecurity"
                :loading="loading"
                v-show="queryType == 'adv'"
            >
                <el-option v-for="item in list" :key="item.securityId" :label="item.securityName" :value="item.securityId">
                    <span style="float: left">{{ item.securityName }}</span>
                    <span style="float: right;">{{ item.securityCode }}</span>
                </el-option>
            </el-select>
            <el-select v-model="listQuery.securityIndexType" multiple collapse-tags :placeholder="$t('securityIndexType')" clearable class="filter-item" style="width:300px" v-show="queryType == 'adv'">
                <el-option v-for="item in indexTypes" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <v-chart :style="outStyle" class="chart" :option="option" ref="charts" :autoresize="true" :update-options="updateOptions" />
    </div>
</template>
<script>
import refSecurityApi from '@/api/RefSecurityApi';
import indexTypeApi from '@/api/IndexTypeApi';
import sysOptionApi from '@/api/SysOptionApi';
import formatDate from '@/utils/Date';
import list from '@/utils/mixins/List';
import { mapGetters } from 'vuex';
import { use } from 'echarts/core';
import { TitleComponent, ToolboxComponent, TooltipComponent, GridComponent, LegendComponent, DataZoomComponent } from 'echarts/components';
import { LineChart, BarChart } from 'echarts/charts';
import { CanvasRenderer } from 'echarts/renderers';
use([TitleComponent, ToolboxComponent, TooltipComponent, GridComponent, LegendComponent, DataZoomComponent, LineChart, BarChart, CanvasRenderer]);
import VChart from 'vue-echarts';
export default {
    name: 'kChart',
    props: ['outStyle'],
    mixins: [list],
    components: {
        VChart,
    },
    data() {
        return {
            loading: false,
            updateOptions: {
                notMerge: true,
            },
            option: {},
            pickerOptions: {
                shortcuts: [
                    {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30 * 3);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近六个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30 * 6);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近一年',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                    {
                        text: '最近三年',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 365 * 3);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                ],
            },
            date: null,
            listQuery: {
                startTime: '',
                endTime: '',
                market: [],
                marketIndexType: [],
                security: [],
                securityIndexType: [],
            },
        };
    },
    created() {
        this.$store.dispatch('market');
        this.$store.dispatch('indexType');
        sysOptionApi.findLineConfig().then(({ data }) => {
            //  const end = new Date();
            // const start = new Date();
            // start.setTime(start.getTime() - 3600 * 1000 * 24 * 30 * 3);
            // this.date = [start, end];
            // this.listQuery.market = [1];
            // this.listQuery.marketIndexType = ['AA10s'];
            if (data.flag) {
                let cfg = data.obj;
                console.log(cfg);
                const start = new Date(cfg.startTime);
                const end = new Date(cfg.endTime);
                this.date = [start, end];
                this.listQuery.market = cfg.markets;
                this.listQuery.marketIndexType = cfg.marketIdxs;
                this.query();
            }
        });
    },
    computed: {
        ...mapGetters(['markets', 'indexTypes']),
    },
    methods: {
        remoteSecurity(query) {
            if (query !== '') {
                let data = {
                    pn: 1,
                    rn: 10,
                    sort: 'id',
                    order: 'asc',
                    q: query,
                };
                this.loading = true;
                refSecurityApi.list(data).then(({ data }) => {
                    if (data.flag) {
                        if (data.obj) {
                            this.list = data.obj.list;
                        } else {
                            this.list = [];
                        }
                    }
                    this.loading = false;
                });
            }
        },
        getList() {
            if (this.listQuery.startTime == '' || this.listQuery.endTime == '') {
                this.$message.error('请选择时间段');
                return;
            }
            let len = this.listQuery.market.length * this.listQuery.marketIndexType.length + this.listQuery.security.length * this.listQuery.securityIndexType.length;
            if (len < 1) {
                this.$message.error('请选择市场和市场指标或个股以及个股指标');
                return;
            }
            if (len > 6) {
                this.$message.error('总指标个数不能超过6个');
                return;
            }
            this.listLoading = true;
            indexTypeApi
                .findData(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        console.log(data);
                        let obj = data.obj;
                        let xdate = obj.xdate || [];
                        xdate = xdate.map((item) => formatDate(new Date(item), 'yyyy/MM/dd'));
                        let series = obj.items || [];
                        series = series.map((item) => {
                            return {
                                name: item.name,
                                type: 'line',
                                data: item.data || [],
                                smooth: true,
                                lineStyle: {
                                    opacity: 0.5,
                                },
                                connectNulls: true,
                            };
                        });
                        this.option = {};
                        console.log(obj);
                        this.option = {
                            title: {
                                text: '指标分析',
                                left: 0,
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                },
                            },
                            legend: {
                                data: obj.legend,
                            },
                            grid: {
                                left: '10%',
                                right: '10%',
                                bottom: '15%',
                            },
                            xAxis: {
                                type: 'category',
                                data: xdate,
                                scale: true,
                                boundaryGap: false,
                                axisLine: { onZero: false },
                                splitLine: { show: false },
                                splitNumber: 20,
                                min: 'dataMin',
                                max: 'dataMax',
                            },
                            yAxis: {
                                scale: true,
                                splitArea: {
                                    show: true,
                                },
                            },
                            dataZoom: [
                                {
                                    type: 'inside',
                                    start: 50,
                                    end: 100,
                                },
                                {
                                    show: true,
                                    type: 'slider',
                                    top: '90%',
                                    start: 50,
                                    end: 100,
                                },
                            ],
                            series: series,
                        };
                        console.log('option=', this.option);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.security = [];
            this.listQuery.securityIndexType = [];
        },
        changeQuery() {
            if (this.date != null) {
                this.listQuery.startTime = formatDate(this.date[0], 'yyyy-MM-dd');
                this.listQuery.endTime = formatDate(this.date[1], 'yyyy-MM-dd');
            } else {
                this.listQuery.startTime = '';
                this.listQuery.endTime = '';
            }
        },
    },
};
</script>
<style lang="scss" scope>
.chart {
    min-height: calc(90vh - 84px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
</style>
