<template>
<div class="app-container">
    <el-form ref="userInfoForm" :rules="userInfoRules" :model="userInfo" label-position="right" label-width="100px" style="width:600px;margin-left:50px;" @keyup.enter.native="save">
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('username')" prop="username">
                    <el-input v-model="userInfo.username" :placeholder="$t('validate.username')" readonly />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('realName')" prop="realName">
                    <el-input v-model="userInfo.realName" :placeholder="$t('validate.realName')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('idNo')" prop="idNo">
                    <el-input v-model="userInfo.idNo" :placeholder="$t('validate.idNo')" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-form-item :label="$t('area')" prop="area">
            <city-picker v-model="userInfo.area" style="height:36px;width:300px" />
        </el-form-item>
        <el-form-item :label="$t('addr')" prop="addr">
            <el-input v-model="userInfo.addr" :placeholder="$t('validate.addr')" />
        </el-form-item>
        <el-form-item :label="$t('email')" prop="email">
            <el-input v-model="userInfo.email" :placeholder="$t('validate.email')" />
        </el-form-item>
        <el-form-item :label="$t('birthday')" prop="birthday">
            <el-date-picker v-model="userInfo.birthday" type="date" :placeholder="$t('validate.birthday')" value-format="yyyy-MM-dd" />
        </el-form-item>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('nickname')" prop="nickname">
                    <el-input v-model="userInfo.nickname" :placeholder="$t('validate.nickname')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('wechat')" prop="wechat">
                    <el-input v-model="userInfo.wechat" :placeholder="$t('validate.wechat')" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('msn')" prop="msn">
                    <el-input v-model="userInfo.msn" :placeholder="$t('validate.msn')" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('qq')" prop="qq">
                    <el-input v-model="userInfo.qq" :placeholder="$t('validate.qq')" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('mobile')" prop="mobile">
                    <el-input v-model="userInfo.mobile" :placeholder="$t('validate.mobile')" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-form-item :label="$t('headImg')" prop="headImg">
            <el-upload class="avatar-uploader" action="/api/file/upload" :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                <img v-if="userInfo.headImg" :src="userInfo.headImg" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>

        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="saveAction">保存</el-button>
            <el-button @click="closeTag">关闭</el-button>
        </el-form-item>
    </el-form>
</div>
</template>

<script>
import sysUserApi from "@/api/SysUserApi";
import CityPicker from '@/components/CityPicker';
import formatDate from "@/utils/Date";
import _ from 'lodash';
import {
    mapGetters
} from "vuex";
export default {
    components: {
        CityPicker
    },
    data() {
        return {
            userInfo: {
                id: '',
                area: '浙江省',
                addr: '',
                birthday: null,
                email: '',
                enabled: true,
                headImg: '',
                idNo: '',
                mobile: '',
                msn: '',
                nickname: '',
                qq: '',
                realName: '',
                wechat: '',
            },

        };
    },
    created() {
        sysUserApi.info().then(({
            data
        }) => {
            let userInfo = data.obj;
            this.resetVal({
                area: userInfo.area,
                addr: userInfo.addr,
                birthday: userInfo.birthday != undefined ? formatDate(new Date(userInfo.birthday), "yyyy-MM-dd") : '',
                email: userInfo.email,
                headImg: userInfo.headImg,
                idNo: userInfo.idNo,
                mobile: userInfo.mobile,
                msn: userInfo.msn,
                nickname: userInfo.nickname,
                qq: userInfo.qq,
                realName: userInfo.realName,
                username: userInfo.username,
                wechat: userInfo.wechat,
            });
        });

    },
    computed: {
        userInfoRules() {
            return {
                addr: [{
                        message: this.$t("validate.addr"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                email: [{
                        message: this.$t("validate.email"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.emailValidator,
                        trigger: 'blur'
                    }
                ],
                headImg: [{
                        message: this.$t("validate.headImg"),
                        trigger: 'blur'
                    },
                    {
                        max: 255,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                idNo: [{
                        message: this.$t("validate.idNo"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.idNoValidator,
                        trigger: 'blur'
                    }
                ],
                mobile: [{
                        message: this.$t("validate.mobile"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.mobileValidator,
                        trigger: 'blur'
                    }
                ],
                msn: [{
                        message: this.$t("validate.msn"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                nickname: [{
                        message: this.$t("validate.nickname"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                qq: [{
                        message: this.$t("validate.qq"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.codeValidator,
                        trigger: 'blur'
                    }
                ],
                realName: [{
                        message: this.$t("validate.realName"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                wechat: [{
                        message: this.$t("validate.wechat"),
                        trigger: 'blur'
                    },
                    {
                        max: 50,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        closeTag() {
            let view = this.$route;
            this.$store.dispatch('delView', view).then(({
                visitedViews
            }) => {
                const latestView = visitedViews.slice(-1)[0];
                if (latestView) {
                    this.$router.push(latestView);
                } else {
                    this.$router.push('/');
                }

            });
        },

        resetVal(obj) {
            this.userInfo.area = obj.area;
            this.userInfo.addr = obj.addr;
            this.userInfo.birthday = obj.birthday;
            this.userInfo.email = obj.email;
            this.userInfo.headImg = obj.headImg;
            this.userInfo.idNo = obj.idNo;
            this.userInfo.mobile = obj.mobile;
            this.userInfo.msn = obj.msn;
            this.userInfo.nickname = obj.nickname;
            this.userInfo.qq = obj.qq;
            this.userInfo.realName = obj.realName;
            this.userInfo.username = obj.username;
            this.userInfo.wechat = obj.wechat;
        },
        handleAvatarSuccess(res, file) {
            this.userInfo.headImg = res.obj.url;
            // URL.createObjectURL(file.raw);
        },
        beforeAvatarUpload(file) {
            const isJPG = file.type === 'image/jpeg';
            const isLt2M = file.size / 1024 / 1024 < 2;

            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
            }
            return isJPG && isLt2M;
        },
        resetFields() {
            this.$refs.userInfoForm.resetFields();
        },
        saveAction() {
            this.$refs.userInfoForm.validate(valid => {
                if (valid) {
                    sysUserApi.updateOwner(this.userInfo).then(({
                        data
                    }) => {
                        if (data.flag) {
                              this.$message({
                                message: this.$t('success'),
                                type: 'success'
                            });
                        }  
                    });
                }
            });

        },

    }
};
</script>

<style lang="scss">
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    display: block;
}
</style>
