<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('marketId')" prop="marketId">
            <el-input v-model="formdata.marketId"   :placeholder="$t('validate.marketId')" />
        </el-form-item>
        <el-form-item :label="$t('occDate')" prop="occDate">
            <el-input v-model="formdata.occDate"   :placeholder="$t('validate.occDate')" />
        </el-form-item>
        <el-form-item :label="$t('quotedSpreadAbs')" prop="quotedSpreadAbs">
            <el-input v-model="formdata.quotedSpreadAbs"   :placeholder="$t('validate.quotedSpreadAbs')" />
        </el-form-item>
        <el-form-item :label="$t('quotedSpreadBps')" prop="quotedSpreadBps">
            <el-input v-model="formdata.quotedSpreadBps"   :placeholder="$t('validate.quotedSpreadBps')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import quotedSpreadMarketApi from "@/api/QuotedSpreadMarketApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               marketId:'',
               occDate:'',
               quotedSpreadAbs:'',
               quotedSpreadBps:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 marketId: [{
                        required: true,
                        message: this.$t("validate.marketId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 occDate: [{
                        required: true,
                        message: this.$t("validate.occDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 quotedSpreadAbs: [{
                        required: true,
                        message: this.$t("validate.quotedSpreadAbs"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 quotedSpreadBps: [{
                        required: true,
                        message: this.$t("validate.quotedSpreadBps"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 marketId:'',
              		 occDate:'',
              		 quotedSpreadAbs:'',
              		 quotedSpreadBps:'',
                })
            } else {
                quotedSpreadMarketApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              marketId:data.obj.marketId,
					              occDate:data.obj.occDate,
					              quotedSpreadAbs:data.obj.quotedSpreadAbs,
					              quotedSpreadBps:data.obj.quotedSpreadBps,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.marketId=obj.marketId;
              this.formdata.occDate=obj.occDate;
              this.formdata.quotedSpreadAbs=obj.quotedSpreadAbs;
              this.formdata.quotedSpreadBps=obj.quotedSpreadBps;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        quotedSpreadMarketApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        quotedSpreadMarketApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
