<template>
<div class="app-container">
    <div class="filter-container" v-if="queryType=='simple'">
   		   		 <el-input :placeholder="$t('marketId')" v-model="listQuery.marketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('occDate')" v-model="listQuery.occDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('quotedSpreadAbs')" v-model="listQuery.quotedSpreadAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('quotedSpreadBps')" v-model="listQuery.quotedSpreadBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-button v-waves class="filter-item"   type="primary" :disabled="isDisable"  icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
   		 <div  class="filter-query" @click="changeSearch"><i class="el-icon-caret-bottom"></i><span>{{$t('advSearch')}}</span></div>
    </div>
    <div class="filter-container" v-if="queryType=='adv'">
   		 <el-input :placeholder="$t('marketId')" v-model="listQuery.marketId" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('occDate')" v-model="listQuery.occDate" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('quotedSpreadAbs')" v-model="listQuery.quotedSpreadAbs" class="filter-item" @keyup.enter.native="query" style="width:200px" />
   		 <el-input :placeholder="$t('quotedSpreadBps')" v-model="listQuery.quotedSpreadBps" class="filter-item" @keyup.enter.native="query" style="width:200px" />
        <el-button v-waves class="filter-item"   type="primary" :disabled="isDisable"  icon="el-icon-search" @click="query">{{$t('search')}}</el-button>
     	<div  class="filter-query"  @click="changeSearch"><i class="el-icon-caret-top"></i><span>{{$t('simpleSearch')}}</span></div>
    </div>
    <div class="filter-container">
     <el-button v-if="hasAuth('quotedSpreadMarket:save')" v-waves class="filter-item" :disabled="isDisable" plain size="mini" type="primary" icon="el-icon-edit" @click="add">{{$t('add')}}</el-button>
    </div>
    <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange">
        <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100"/>
        <el-table-column :label="$t('marketId')" prop="marketId" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('occDate')" prop="occDate" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('quotedSpreadAbs')" prop="quotedSpreadAbs" sortable="custom" align="center" width="200" />
        <el-table-column :label="$t('quotedSpreadBps')" prop="quotedSpreadBps" sortable="custom" align="center" width="200" />
        <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button v-if="hasAuth('quotedSpreadMarket:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{$t('edit')}}</el-button>
                <el-button v-if="hasAuth('quotedSpreadMarket:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{$t('del')}}</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
    <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
</div>
</template>

<script>
import quotedSpreadMarketApi from "@/api/QuotedSpreadMarketApi";
import Pagination from "@/components/Pagination";
import list from "@/utils/mixins/List";
import Edit from "./Edit";
import {
    mapGetters
} from "vuex";
export default {
    name:'quotedSpreadMarket',
    components: {
        Pagination,
        Edit
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
   		 		 marketId:"",
   		 		 occDate:"",
   		 		 quotedSpreadAbs:"",
   		 		 quotedSpreadBps:"",
            }
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([])
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            quotedSpreadMarketApi
                .list(this.listQuery)
                .then(({
                    data
                }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch(error => {
                    this.listLoading = false;
                });
        },
       clearQuery(){
   		 		this.listQuery.marketId="";
   		 		this.listQuery.occDate="";
   		 		this.listQuery.quotedSpreadAbs="";
   		 		this.listQuery.quotedSpreadBps="";
        },
        changeQuery(){
            
        },
        //删除
        delAction(id) {
                quotedSpreadMarketApi.del(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.getList();
                    } else {
                        this.$message.error(data.msg);
                    }
                });
        },
    }
};
</script>
