<template>
    <el-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" clearable />
            </el-form-item>
            <el-form-item :label="$t('fullName')" prop="fullName">
                <el-input v-model="formdata.fullName" :placeholder="$t('validate.fullName')" clearable />
            </el-form-item>
            <el-form-item :label="$t('code')" prop="code">
                <el-input v-model="formdata.code" :placeholder="$t('validate.code')" clearable />
            </el-form-item>
            <el-form-item :label="$t('addr2')" prop="addr">
                <el-input v-model="formdata.addr" :placeholder="$t('validate.addr')" clearable />
            </el-form-item>
            <el-form-item :label="$t('areaCode')" prop="areaCode">
                <el-input v-model="formdata.areaCode" :placeholder="$t('validate.areaCode')" clearable />
            </el-form-item>
            <el-form-item :label="$t('enabled')" prop="enabled">
                <el-switch v-model="formdata.enabled" active-value="T" inactive-value="F"></el-switch>
            </el-form-item>
            <el-form-item :label="$t('parentId')" prop="parentId">
                <el-cascader :key="rk" :props="props" v-model="parentIds" clearable @change="handleChange" style="width:100%"></el-cascader>
            </el-form-item>
            <el-form-item :label="$t('pinyin')" prop="pinyin">
                <el-input v-model="formdata.pinyin" :placeholder="$t('validate.pinyin')" clearable />
            </el-form-item>
            <el-form-item :label="$t('py')" prop="py">
                <el-input v-model="formdata.py" :placeholder="$t('validate.py')" clearable />
            </el-form-item>
            <el-form-item :label="$t('cat')" prop="cat">
                <el-select v-model="formdata.cat" :placeholder="$t('validate.cat')" clearable>
                    <el-option v-for="item in areaCats" :key="item.code" :label="item.name" :value="item.code" />
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('villageCode')" prop="villageCode" v-show="formdata.cat == 'village'">
                <el-select v-model="formdata.villageCode" :placeholder="$t('validate.villageCode')" clearable>
                    <el-option v-for="item in villageCodes" :key="item.code" :label="item.name" :value="item.code" />
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('shortName')" prop="shortName">
                <el-input v-model="formdata.shortName" :placeholder="$t('validate.shortName')" clearable />
            </el-form-item>
            <el-form-item :label="$t('sortOrder')" prop="sortOrder">
                <el-input-number v-model="formdata.sortOrder" :min="0" :max="1000" />
            </el-form-item>
            <el-form-item :label="$t('zipcode')" prop="zipcode">
                <el-input v-model="formdata.zipcode" :placeholder="$t('validate.zipcode')" clearable />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import areaApi from '@/api/AreaApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            rk: 0,
            parentIds: [],
            props: {
                label: 'name',
                value: 'id',
                lazy: true,
                checkStrictly: true,
                lazyLoad(node, resolve) {
                    let val = node.value || 0;
                    areaApi.findByParentId(val).then(({ data }) => {
                        if (data.flag) {
                            const nodes = data.obj || [];
                            resolve(nodes);
                        }
                    });
                },
            },
            formdata: {
                id: '',
                addr: '',
                areaCode: '',
                code: '',
                enabled: 'T',
                name: '',
                fullName: '',
                parentId: 0,
                pinyin: '',
                py: '',
                shortName: '',
                cat: '',
                villageCode: '',
                sortOrder: 999,
                zipcode: '',
            },
        };
    },
    created() {
        this.$store.dispatch('villageCode');
        this.$store.dispatch('areaCat');
    },
    computed: {
        ...mapGetters(['villageCodes', 'areaCats']),
        rules() {
            return {
                addr: [
                    {
                        message: this.$t('validate.addr'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                areaCode: [
                    {
                        message: this.$t('validate.areaCode'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                code: [
                    {
                        required: true,
                        message: this.$t('validate.code'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                enabled: [
                    {
                        message: this.$t('validate.enabled'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                parentId: [
                    {
                        message: this.$t('validate.parentId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                pinyin: [
                    {
                        message: this.$t('validate.pinyin'),
                        trigger: 'blur',
                    },
                    {
                        max: 100,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                py: [
                    {
                        message: this.$t('validate.py'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                shortName: [
                    {
                        message: this.$t('validate.shortName'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                sortOrder: [
                    {
                        message: this.$t('validate.sortOrder'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                zipcode: [
                    {
                        message: this.$t('validate.zipcode'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        handleChange(value) {
            if (value.length > 0) {
                this.formdata.parentId = value[value.length - 1];
            } else {
                this.formdata.parentId = 0;
            }
        },
        init(id) {
            this.rk = parseInt(Math.random() * 10000).toString();
            if (id == undefined) {
                this.show(false);
                this.resetVal(
                    {
                        id: '',
                        addr: '',
                        fullName: '',
                        areaCode: '',
                        code: '',
                        enabled: 'T',
                        name: '',
                        parentId: 0,
                        pinyin: '',
                        py: '',
                        shortName: '',
                        sortOrder: 999,
                        cat: '',
                        villageCode: '',
                        zipcode: '',
                    },
                    []
                );
            } else {
                areaApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        let obj = data.obj;
                        let area = obj.area;
                        let parentIds = obj.parentIds || [];
                        this.resetVal(area, parentIds);
                    }
                });
            }
        },
        resetVal(obj, parentIds) {
            this.formdata.id = obj.id;
            this.formdata.addr = obj.addr;
            this.formdata.areaCode = obj.areaCode;
            this.formdata.code = obj.code;
            this.formdata.enabled = obj.enabled;
            this.formdata.name = obj.name;
            this.formdata.fullName = obj.fullName;
            this.formdata.parentId = obj.parentId;
            this.formdata.pinyin = obj.pinyin;
            this.formdata.py = obj.py;
            this.formdata.shortName = obj.shortName;
            this.formdata.cat = obj.cat;
            this.formdata.villageCode = obj.villageCode;
            this.formdata.sortOrder = obj.sortOrder;
            this.formdata.zipcode = obj.zipcode;
            this.parentIds = parentIds;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        areaApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    } else {
                        areaApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
