<template>
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
        <el-tab-pane :label="$t('tree')" name="one">
            <tree ref="tree" />
        </el-tab-pane>
        <el-tab-pane :label="$t('list')" name="two">
            <list ref="list" />
        </el-tab-pane>
    </el-tabs>
</template>

<script>
import List from './List';
import Tree from './Tree';
export default {
    components: {
        List,
        Tree,
    },
    data() {
        return {
            activeName: 'one',
            oldName: 'one',
        };
    },
    methods: {
        handleClick(tab, event) {
            if (this.oldName == this.activeName) {
                return;
            } else {
                this.oldName = this.activeName;
                if (this.activeName == 'one') {
                    this.$refs.tree.getList();
                }
                if (this.activeName == 'two') {
                    this.$refs.list.getList();
                }
            }
        },
    },
};
</script>
