<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-input :placeholder="$t('code')" v-model="listQuery.code" class="filter-item" @keyup.enter.native="query" style="width:200px" />
            <el-checkbox v-model="parentFlag" :label="$t('parentFlag')" class="filter-item"></el-checkbox>
            <el-cascader :key="rk" :placeholder="$t('parentId')" :props="props" v-model="vals" clearable style="width:500px" class="filter-item" v-show="parentFlag"></el-cascader>
            <el-input :placeholder="$t('areaCode')" v-model="listQuery.areaCode" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType == 'adv'" />
            <el-select v-model="listQuery.enabled" :placeholder="$t('enabled')" clearable class="filter-item" style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in enableds" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-select v-model="listQuery.cat" :placeholder="$t('cat')" clearable class="filter-item" style="width:200px" v-show="queryType == 'adv'">
                <el-option v-for="item in areaCats" :key="item.code" :label="item.name" :value="item.code" />
            </el-select>
            <el-input :placeholder="$t('zipcode')" v-model="listQuery.zipcode" class="filter-item" @keyup.enter.native="query" style="width:200px" v-show="queryType == 'adv'" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>
        <div class="filter-toolbar">
            <el-button v-if="hasAuth('area:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('area:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('name')" prop="name" align="center" min-width="200" />
            <el-table-column :label="$t('fullName')" prop="fullName" align="center" min-width="200" />
            <el-table-column :label="$t('areaCode')" prop="areaCode" align="center" width="100" />
            <el-table-column :label="$t('code')" prop="code" align="center" width="120" />
            <el-table-column :label="$t('enabled')" prop="enabled" align="center" width="100">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.enabled" active-value="T" inactive-value="F"></el-switch>
                </template>
            </el-table-column>
            <el-table-column :label="$t('pinyin')" prop="pinyin" align="center" width="200" />
            <el-table-column :label="$t('py')" prop="py" align="center" width="100" />
            <el-table-column :label="$t('addr2')" prop="addr" align="center" width="200" />
            <el-table-column :label="$t('shortName')" prop="shortName" align="center" width="100" />
            <el-table-column :label="$t('zipcode')" prop="zipcode" align="center" width="100" />
            <el-table-column :label="$t('sortOrder')" prop="sortOrder" align="center" width="80" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('area:update')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('area:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pn" :limit.sync="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import areaApi from '@/api/AreaApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'areas',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            rk: 0,
            vals: [],
            parentFlag: false,
            props: {
                label: 'name',
                value: 'id',
                lazy: true,
                checkStrictly: true,
                lazyLoad(node, resolve) {
                    let val = node.value || 0;
                    areaApi.findByParentId(val).then(({ data }) => {
                        if (data.flag) {
                            const nodes = data.obj || [];
                            resolve(nodes);
                        }
                    });
                },
            },
            listQuery: {
                areaCode: '',
                code: '',
                enabled: '',
                name: '',
                parentId: '',
                zipcode: '',
                cat: '',
            },
        };
    },
    created() {
        this.listQuery.order = 'asc';
        this.getList();
        this.$store.dispatch('enabled');
        this.$store.dispatch('areaCat');
    },
    computed: {
        ...mapGetters(['enableds', 'areaCats']),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            this.rk = parseInt(Math.random() * 10000).toString();
            //查数据库
            areaApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.areaCode = '';
            this.listQuery.enabled = '';
            this.listQuery.zipcode = '';
            this.listQuery.cat = '';
        },
        changeQuery() {
            if (this.parentFlag) {
                if (this.vals.length > 0) {
                    this.listQuery.parentId = this.vals[this.vals.length - 1];
                } else {
                    this.listQuery.parentId = 0;
                }
            } else {
                this.listQuery.parentId = null;
            }
        },
        //删除
        delAction(id) {
            areaApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
