<template>
    <div class="app-container">
        <div class="filter-toolbar">
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button v-if="hasAuth('area:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('area:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table
            :data="list"
            :key="tableKey"
            v-loading="listLoading"
            border
            fit
            highlight-current-row
            style="width:100%;"
            @sort-change="sortChange"
            @selection-change="selectionChange"
            row-key="id"
            lazy
            :load="load"
            :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        >
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('name')" prop="name" header-align="center" align="left" min-width="200" />
            <el-table-column :label="$t('fullName')" prop="fullName" header-align="center" align="left" min-width="200" />
            <el-table-column :label="$t('shortName')" prop="shortName" align="center" width="100" />
            <el-table-column :label="$t('code')" prop="code" header-align="center" align="left" width="120" />
            <el-table-column :label="$t('areaCode')" prop="areaCode" align="center" width="100" />
            <el-table-column :label="$t('pinyin')" prop="pinyin" align="center" width="200" />
            <el-table-column :label="$t('py')" prop="py" align="center" width="100" />
            <el-table-column :label="$t('cat')" prop="cat" align="center" width="100" />
            <el-table-column :label="$t('enabled')" prop="enabled" align="center" width="100">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.enabled" active-value="T" inactive-value="F"></el-switch>
                </template>
            </el-table-column>
            <el-table-column :label="$t('zipcode')" prop="zipcode" align="center" width="100" />
            <el-table-column :label="$t('sortOrder')" prop="sortOrder" align="center" width="80" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button v-if="hasAuth('area:edit')" v-waves type="primary" plain :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('area:del')" v-waves type="danger" plain :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import areaApi from '@/api/AreaApi';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'areatree',
    components: {
        Edit,
    },
    mixins: [list],
    data() {
        return {};
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        load(tree, treeNode, resolve) {
            const { id } = tree;
            areaApi
                .findByParentId(id)
                .then(({ data }) => {
                    if (data.flag) {
                        let list = data.obj || [];
                        list.map((item) => {
                            if (item.cat != 'village') {
                                item.hasChildren = true;
                            }
                        });
                        resolve(list);
                    }
                })
                .catch((error) => {});
        },
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.tableKey = parseInt(Math.random() * 10000).toString();
            this.listLoading = true;
            areaApi
                .findByParentId(0)
                .then(({ data }) => {
                    if (data.flag) {
                        let list = data.obj || [];
                        list.map((item) => {
                            item.hasChildren = true;
                        });
                        this.list = list;
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {},
        changeQuery() {},
        //删除
        delAction(id) {
            areaApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
