<template>
    <el-dialog v-el-drag-dialog :title="editFlag ? $t('edit') : $t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
        <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
            <el-form-item :label="$t('name')" prop="name">
                <el-input v-model="formdata.name" :placeholder="$t('validate.name')" />
            </el-form-item>
            <el-form-item :label="$t('num')" prop="num">
                <el-input v-model="formdata.num" :placeholder="$t('validate.num')" />
            </el-form-item>
            <el-form-item :label="$t('num2')" prop="num2">
                <el-input v-model="formdata.num2" :placeholder="$t('validate.num2')" />
            </el-form-item>
            <el-form-item :label="$t('occDate')" prop="occDate">
                <el-input v-model="formdata.occDate" :placeholder="$t('validate.occDate')" />
            </el-form-item>
            <el-form-item :label="$t('secAnalysisId')" prop="secAnalysisId">
                <el-input v-model="formdata.secAnalysisId" :placeholder="$t('validate.secAnalysisId')" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-waves @click="cancel">{{ $t('cancel') }}</el-button>
            <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{ $t('save') }}</el-button>
        </div>
    </el-dialog>
</template>

<script>
import secAnalysisItemApi from '@/api/SecAnalysisItemApi';
import edit from '@/utils/mixins/Edit';
import { mapGetters } from 'vuex';
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
                name: '',
                num: '',
                num2: '',
                occDate: '',
                secAnalysisId: '',
            },
        };
    },
    created() {},
    computed: {
        ...mapGetters([]),
        rules() {
            return {
                name: [
                    {
                        required: true,
                        message: this.$t('validate.name'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                num: [
                    {
                        required: true,
                        message: this.$t('validate.num'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                num2: [
                    {
                        required: true,
                        message: this.$t('validate.num2'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                occDate: [
                    {
                        required: true,
                        message: this.$t('validate.occDate'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
                secAnalysisId: [
                    {
                        required: true,
                        message: this.$t('validate.secAnalysisId'),
                        trigger: 'blur',
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur',
                    },
                ],
            };
        },
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
                    name: '',
                    num: '',
                    num2: '',
                    occDate: '',
                    secAnalysisId: '',
                });
            } else {
                secAnalysisItemApi.find(id).then(({ data }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
                            name: data.obj.name,
                            num: data.obj.num,
                            num2: data.obj.num2,
                            occDate: data.obj.occDate,
                            secAnalysisId: data.obj.secAnalysisId,
                        });
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
            this.formdata.name = obj.name;
            this.formdata.num = obj.num;
            this.formdata.num2 = obj.num2;
            this.formdata.occDate = obj.occDate;
            this.formdata.secAnalysisId = obj.secAnalysisId;
        },
        saveAction() {
            this.$refs.dataForm.validate((valid) => {
                if (valid) {
                    if (this.editFlag) {
                        secAnalysisItemApi.update(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        secAnalysisItemApi.save(this.formdata).then(({ data }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },
    },
};
</script>
