<template>
    <v-chart class="chart" :option="option" />
</template>

<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { LineChart, PieChart, HeatmapChart, BarChart } from 'echarts/charts';
import { DataZoomComponent, TitleComponent, TooltipComponent, LegendComponent, GridComponent, VisualMapComponent } from 'echarts/components';
import VChart, { THEME_KEY } from 'vue-echarts';
use([BarChart, DataZoomComponent, LineChart, CanvasRenderer, PieChart, TitleComponent, TooltipComponent, LegendComponent, GridComponent, VisualMapComponent, HeatmapChart]);
export default {
    name: 'HelloWorld',
    components: {
        VChart,
    },
    provide: {
        [THEME_KEY]: 'dark',
    },
    data() {
        const upColor = '#ec0000';
        const upBorderColor = '#8A0000';
        const downColor = '#00da3c';
        const downBorderColor = '#008F28';
        var opt = {
            // title: {
            //     text: '上证指数',
            //     left: 0
            // },
            color: ['#516b91'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                },
                formatter: (params) => {
                    var res = '<div><p>' + params[0].seriesName + '&nbsp;&nbsp;:&nbsp;&nbsp;' + params[0].data + '</p></div>';
                    var res1 =
                        params[1].data === 0
                            ? '<div><p>' + params[2].seriesName + '&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(params[2].data) / 500 + '%</p></div>'
                            : '<div><p>' + params[1].seriesName + '&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(params[1].data) / 500 + '%</p></div>';

                    return res + res1;
                },
            },
            grid: {
                top: '5%',
                left: '5%',
                right: '5%',
                bottom: 60,
            },
            xAxis: {
                type: 'category',
                data: [],
                scale: true,
            },
            yAxis: {
                scale: true,
                splitArea: {
                    show: true,
                },
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 0,
                    end: 40,
                },
                {
                    show: true,
                    type: 'slider',
                    bottom: 10,
                },
            ],
            series: [
                {
                    name: '收盘价',
                    //type: 'candlestick',
                    type: 'line',
                    data: [],
                    barWidth: 10,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor,
                    },
                },

                {
                    name: '涨幅',
                    type: 'bar',
                    stack: '总量',
                    barWidth: 10,
                    color: '#FF0000',
                    emphasis: {
                        focus: 'series',
                    },
                    data: [],
                },
                {
                    name: '跌幅',
                    type: 'bar',
                    stack: '总量',
                    color: '#00FF00',
                    barWidth: 10,
                    emphasis: {
                        focus: 'series',
                    },
                    data: [],
                },
            ],
        };

        return {
            option: opt,
        };
    },
};
</script>

<style scoped>
.chart {
    height: 400px;
}
</style>
