<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('cat')" v-model="listQuery.cat" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('createTime')" v-model="listQuery.createTime" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('name')" v-model="listQuery.name" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('sortOrder')" v-model="listQuery.sortOrder" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-input :placeholder="$t('sysUserId')" v-model="listQuery.sysUserId" class="filter-item" @keyup.enter="query" style="width:200px" />
            <el-button v-waves class="filter-item" type="primary" :disabled="isDisable" icon="el-icon-search" @click="query">{{ $t('search') }}</el-button>
            <el-button class="filter-item" type="text" @click="changeSearch">{{ queryType == 'adv' ? $t('simpleSearch') : $t('advSearch') }}</el-button>
        </div>

        <div class="filter-toolbar">
            <el-button v-if="hasAuth('sysFolder:add')" v-waves class="filter-item" :disabled="isDisable" plain type="primary" icon="el-icon-edit" @click="add">{{ $t('add') }}</el-button>
            <el-button v-if="hasAuth('sysFolder:delBatch')" v-waves class="filter-item" :disabled="isDisable" plain type="danger" icon="el-icon-delete" @click="delAll">{{ $t('delBatch') }}</el-button>
        </div>
        <el-table :data="list" :key="tableKey" v-loading="listLoading" border fit highlight-current-row style="width:100%;" @sort-change="sortChange" @selection-change="selectionChange">
            <el-table-column type="selection" width="40" />
            <el-table-column fixed :label="$t('seq')" type="index" align="center" :index="indexMethod" width="100" />
            <el-table-column :label="$t('cat')" prop="cat" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('createTime')" prop="createTime" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('name')" prop="name" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('sortOrder')" prop="sortOrder" sortable="custom" align="center" width="200" />
            <el-table-column :label="$t('sysUserId')" prop="sysUserId" sortable="custom" align="center" width="200" />
            <el-table-column fixed="right" :label="$t('operate')" align="center" width="230" class="small-padding fixed-width">
                <template #default="scope">
                    <el-button v-if="hasAuth('sysFolder:update')" v-waves type="primary" plain size="mini" :disabled="isDisable" @click="edit(scope.row)">{{ $t('edit') }}</el-button>
                    <el-button v-if="hasAuth('sysFolder:del')" v-waves type="danger" plain size="mini" :disabled="isDisable" @click="del(scope.row)">{{ $t('del') }}</el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page="listQuery.pn" :limit="listQuery.rn" @pagination="getList" />
        <edit v-if="dialogFormVisible" ref="edit" @refreshList="getList" />
    </div>
</template>

<script>
import sysFolderApi from '@/api/SysFolderApi';
import Pagination from '@/components/Pagination';
import list from '@/utils/mixins/List';
import Edit from './Edit';
import { mapGetters } from 'vuex';
export default {
    name: 'sysFolder',
    components: {
        Pagination,
        Edit,
    },
    mixins: [list],
    data() {
        return {
            listQuery: {
                cat: '',
                createTime: '',
                name: '',
                sortOrder: '',
                sysUserId: '',
            },
        };
    },
    created() {
        this.getList();
    },
    computed: {
        ...mapGetters([]),
    },
    methods: {
        indexMethod(index) {
            return index + (this.listQuery.pn - 1) * this.listQuery.rn + 1;
        },
        getList() {
            this.listLoading = true;
            //查数据库
            sysFolderApi
                .list(this.listQuery)
                .then(({ data }) => {
                    if (data.flag) {
                        this.list = data.obj.list;
                        this.total = data.obj.totalNum;
                    } else {
                        this.$message.error(data.msg);
                    }
                    this.listLoading = false;
                })
                .catch((error) => {
                    this.listLoading = false;
                });
        },
        clearQuery() {
            this.listQuery.cat = '';
            this.listQuery.createTime = '';
            this.listQuery.name = '';
            this.listQuery.sortOrder = '';
            this.listQuery.sysUserId = '';
        },
        changeQuery() {},
        //删除
        delAction(id) {
            sysFolderApi.del(id).then(({ data }) => {
                if (data.flag) {
                    this.getList();
                }
            });
        },
    },
};
</script>
