<template>
<el-dialog v-el-drag-dialog :title="editFlag?$t('edit'):$t('add')" :close-on-click-modal="false" :visible.sync="dialogFormVisible" :before-close="close">
    <el-form ref="dataForm" :rules="rules" :model="formdata" label-position="right" label-width="100px" style="width:85%;margin-left:50px;" @keyup.enter.native="save">
               <el-form-item :label="$t('afterValue')" prop="afterValue">
            <el-input v-model="formdata.afterValue"   :placeholder="$t('validate.afterValue')" />
        </el-form-item>
        <el-form-item :label="$t('afterVolume')" prop="afterVolume">
            <el-input v-model="formdata.afterVolume"   :placeholder="$t('validate.afterVolume')" />
        </el-form-item>
        <el-form-item :label="$t('closePrice')" prop="closePrice">
            <el-input v-model="formdata.closePrice"   :placeholder="$t('validate.closePrice')" />
        </el-form-item>
        <el-form-item :label="$t('occDate')" prop="occDate">
            <el-input v-model="formdata.occDate"   :placeholder="$t('validate.occDate')" />
        </el-form-item>
        <el-form-item :label="$t('returnPct')" prop="returnPct">
            <el-input v-model="formdata.returnPct"   :placeholder="$t('validate.returnPct')" />
        </el-form-item>
        <el-form-item :label="$t('securityId')" prop="securityId">
            <el-input v-model="formdata.securityId"   :placeholder="$t('validate.securityId')" />
        </el-form-item>
        <el-form-item :label="$t('value')" prop="value">
            <el-input v-model="formdata.value"   :placeholder="$t('validate.value')" />
        </el-form-item>
        <el-form-item :label="$t('volume')" prop="volume">
            <el-input v-model="formdata.volume"   :placeholder="$t('validate.volume')" />
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-waves @click="cancel">{{$t('cancel')}}</el-button>
        <el-button v-waves type="primary" :disabled="isDisable" @click="save">{{$t('save')}}</el-button>
    </div>
</el-dialog>
</template>

<script>
import dailyTradingActivitySecurityApi from "@/api/DailyTradingActivitySecurityApi";
import edit from '@/utils/mixins/Edit';
import {
    mapGetters
} from "vuex";
export default {
    mixins: [edit],
    data() {
        return {
            formdata: {
                id: '',
               afterValue:'',
               afterVolume:'',
               closePrice:'',
               occDate:'',
               returnPct:'',
               securityId:'',
               value:'',
               volume:'',
            }
        };
    },
    created(){
    },
    computed: {
         ...mapGetters([]),
        rules() {
            return {
                 afterValue: [{
                        required: true,
                        message: this.$t("validate.afterValue"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 afterVolume: [{
                        required: true,
                        message: this.$t("validate.afterVolume"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 closePrice: [{
                        required: true,
                        message: this.$t("validate.closePrice"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 occDate: [{
                        required: true,
                        message: this.$t("validate.occDate"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 returnPct: [{
                        required: true,
                        message: this.$t("validate.returnPct"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 securityId: [{
                        required: true,
                        message: this.$t("validate.securityId"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 value: [{
                        required: true,
                        message: this.$t("validate.value"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
                 volume: [{
                        required: true,
                        message: this.$t("validate.volume"),
                        trigger: 'blur'
                    },
                    {
                        max: 20,
                        validator: this.strValidator,
                        trigger: 'blur'
                    }
                ],
            }
        }
    },
    methods: {
        init(id) {
            if (id == undefined) {
                this.show(false);
                this.resetVal({
                    id: '',
              		 afterValue:'',
              		 afterVolume:'',
              		 closePrice:'',
              		 occDate:'',
              		 returnPct:'',
              		 securityId:'',
              		 value:'',
              		 volume:'',
                })
            } else {
                dailyTradingActivitySecurityApi.find(id).then(({
                    data
                }) => {
                    if (data.flag) {
                        this.show(true);
                        this.resetVal({
                            id: data.obj.id,
					              afterValue:data.obj.afterValue,
					              afterVolume:data.obj.afterVolume,
					              closePrice:data.obj.closePrice,
					              occDate:data.obj.occDate,
					              returnPct:data.obj.returnPct,
					              securityId:data.obj.securityId,
					              value:data.obj.value,
					              volume:data.obj.volume,
                        });

                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        resetVal(obj) {
            this.formdata.id = obj.id;
              this.formdata.afterValue=obj.afterValue;
              this.formdata.afterVolume=obj.afterVolume;
              this.formdata.closePrice=obj.closePrice;
              this.formdata.occDate=obj.occDate;
              this.formdata.returnPct=obj.returnPct;
              this.formdata.securityId=obj.securityId;
              this.formdata.value=obj.value;
              this.formdata.volume=obj.volume;
        },
        saveAction() {
            this.$refs.dataForm.validate(valid => {
                if (valid) {
                    if (this.editFlag) {
                        dailyTradingActivitySecurityApi.update(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    } else {
                        dailyTradingActivitySecurityApi.save(this.formdata).then(({
                            data
                        }) => {
                            if (data.flag) {
                                this.dialogFormVisible = false;
                                this.$emit('refreshList');
                            } else {
                                this.$message.error(data.msg);
                            }
                        });
                    }
                }
            });
        },

    }
};
</script>
